<p id="notice"><%= notice %></p>

<h1>Bills Categories</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills_categories.each do |bills_category| %>
      <tr>
        <td><%= bills_category.name %></td>
        <td><%= link_to 'Show', bills_category %></td>
        <td><%= link_to 'Edit', edit_bills_category_path(bills_category) %></td>
        <!-- <td><#%= link_to 'Destroy', bills_category, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bills Category', new_bills_category_path %>
