<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bills_category.name %>
</p>

<%= link_to 'Edit', edit_bills_category_path(@bills_category) %> |
<%= link_to 'Back', bills_categories_path %>
