<p id="notice"><%= notice %></p>

<h1>Permissions</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Role</th>
      <th>Resource</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.role_id %></td>
        <td><%= permission.resource_id %></td>
        <td><%= link_to 'Show', permission %></td>
        <td><%= link_to 'Edit', edit_permission_path(permission) %></td>
        <!-- <td><#%= link_to 'Destroy', permission, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_permission_path %>
