<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @permission.role_id %>
</p>

<p>
  <strong>Resource:</strong>
  <%= @permission.resource_id %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
