<!-- page content -->
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Property Details </h2>
                    <div class="clearfix"></div>
                </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left" name="myform" ng-submit="addProperty()" >
                    <!-- Smart Wizard -->
                    <div id="wizard" class="form_wizard wizard_horizontal">
                        <ul class="wizard_steps">
                            <li>
                                <a href="#step-1">
                                    <span class="step_no">1</span>
                                    <span class="step_descr">
                                        Step 1<br />
                                        <small>Basic info</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-2">
                                    <span class="step_no">2</span>
                                    <span class="step_descr">Step 2<br />
                                        <small>Address Details</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-3">
                                    <span class="step_no">3</span>
                                    <span class="step_descr">Step 3<br />
                                        <small>Landlord Account Details</small>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="#step-4">
                                    <span class="step_no">4</span>
                                    <span class="step_descr">
                                        Step 4<br />
                                        <small>Tenant Details</small>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div id="step-1">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> Tag the Property 
                                    <span class="required">*</span>
                                </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="first-name" ng-model="property.name" placeholder="Example: Home / Society"  required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Electricity Consumer Number 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" id="last-name"  ng-model="property.eb_account" placeholder="Electricity Bill number " name="last-name" required="required" class="form-control col-md-7 col-xs-12">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Property Type 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="property.property_type" ng-init="property.property_type='apartment'" class="form-control" required>
                                    <option  value="apartment" >Apartment</option>
                                    <option  value="independent">Independent</option>
                                    <option  value="office">Office</option>
                                    <option  value="villa">Villa</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Rent 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.rent" placeholder="Rent Amount" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Maintenance 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.maintenance" placeholder="Maintenance Amount"type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group " ng-show="(property.property_type === 'apartment')">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Society Available 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                    <label >
                                        <input type="radio" ng-model="property.society_available" name="gender" value="false"> &nbsp; Yes &nbsp;
                                    </label>
                                    <label >
                                        <input type="radio" ng-model="property.society_available" name="gender" value="true"> No
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Rent Date  
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="property.rent_date" ng-options="n for n in [] | range:1:32"  class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Are you 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div id="gender" class="btn-group" data-toggle="buttons">
                                    <label >
                                        <input type="radio" ng-model="property.is_owner" ng-change='isOwnerChanged(property.is_owner)' name="is_owner" value="true"> &nbsp; Landlord &nbsp;
                                    </label>
                                    <label >
                                        <input type="radio" ng-model="property.is_owner" ng-change='isOwnerChanged(property.is_owner)' name="is_owner" value="false"> Tenant
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="step-2">
                        <h2 class="StepTitle">Address Details</h2>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Flat Number 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" placeholder="Flat/Door no." ng-model="property.flat_no" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Floor</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" placeholder="Floor number" ng-model="property.floor" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Street Name  
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.building_no" placeholder="Ex. 12th main" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Locality 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.locality" placeholder="Ex. Indiranagar" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">City 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.city" placeholder="Ex. Bangalore" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">State 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="property.state_id"  class="form-control" required>	 
                                    <option  ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Pincode 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.pincode" placeholder="Enter your Pincode" type="text" name="middle-name">
                            </div>
                        </div>
                    </div>
                    <div id="step-3">
                        <h2 class="StepTitle">Landlord Details</h2>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Name 
                                <span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.owner_name" placeholder="your name" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.owner_email" placeholder="user@gmail.com" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.owner_mobile" placeholder="your mobile number" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Pancard <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.owner_pancard" placeholder="Pancard Number " type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Account Holder Name <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.account_holder_name" placeholder="Name as per Bank Account" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Bank Name <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.bank_name" placeholder="Enter your bank name" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">IFSC <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.ifsc" placeholder="Ex. SBIN0000000" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Account Number <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.acc_number" placeholder="Enter your Account Number" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="last-name" class="control-label col-md-3 col-sm-3 col-xs-12">Account Type <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="property.acc_type"  class="form-control col-md-7 col-xs-12" type="text"  name="middle-name" required>
                                    <option  value="saving" >Saving Account</option>
                                    <option  value="current">Current Account</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div id="step-4">
                        <h2 class="StepTitle">Tenant Details</h2>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Name<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.tenant_name" placeholder="Tenant Full Name" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12"  placeholder="user@gmail.com" ng-model="property.tenant_email" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="middle-name" class="form-control col-md-7 col-xs-12"  placeholder="Tenant mobile number" ng-model="property.tenant_mobile" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Staying Since <span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input  id="datePicker" class="date-picker form-control col-md-7 col-xs-12" placeholder="Select a Date" ng-model="property.staying_since" type="text" name="middle-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Rent Agreement URL<span class="required">*</span></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                            <input class="bottom-marg-15" type="file" name="file" file></input> <br/>
                            <!-- Progress Bar -->
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
                                    {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
                                </div>
                            </div> 
                            <br/>
                            <a class="btn btn-primary btn-block btn-sm" ng-click="upload()">Upload</a>
                            <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.rent_agreement_url" type="hidden" name="middle-name">
                        </div>
                    </div>
                </div>
        </div>
        <!-- End SmartWizard Content -->
        <div class="form-group text-right">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                <input type="hidden" ng-click="addProperty()" class="second btn btn-success"/>
            </div>
        </div>
    </form>
</div>
</div>
</div>
</div>

</div>
<!-- /page content -->
<!-- bootstrap-daterangepicker -->
<script>
    $(document).ready(function() {
        $('#datePicker').daterangepicker({
            singleDatePicker: true,
            locale: {
                format: 'DD/MM/YYYY'
            },
            calender_style: "picker_2"

        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    //   $('#wizard').smartWizard();
        $('#wizard').smartWizard({
            labelFinish:'Submit' , // label for Finish button    
            onFinish:onFinishCallback    
        }); 
        $('#wizard_verticle').smartWizard({
            transitionEffect: 'slide'
        });
        function onFinishCallback(){
            $(".second").click(); 
        } 
        $('.buttonNext').addClass('btn btn-success');
        $('.buttonPrevious').addClass('btn btn-primary');
        $('.buttonFinish').addClass('btn btn-default');
    });
    <!-- /jQuery Smart Wizard -->
</script>