<div class="right_col" role="main">


  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2>Transaction History</h2>


          <div class="clearfix"></div>
        </div>
        <div class="x_content">

          <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action">
              <thead>
              <tr class="headings">

                <th class="column-title">Receipt </th>
                <th class="column-title">Receipt Date </th>

                <th class="column-title">Receipt to Name </th>
                <th class="column-title">Status </th>
                <th class="column-title">Amount </th>
                <th class="column-title">Category</th>
                <th class="column-title">Paid Date </th>
                <th class="column-title">Action </th>
              </tr>
              </thead>

              <tbody>
              <tr  ng-repeat="bill in bills">

                <td class=" ">#{{bill.invoice_no}}</td>
                <td class=" ">{{bill.created_at}} </td>
                <td class=" ">{{bill.user_name}}</td>
                <td class=" ">{{bill.status}} </td>
                <td class=" "><i class="fa fa-rupee"></i> {{bill.amount}}</td>
                <td class=" ">{{bill.category}}</td>
                <td class=" ">{{bill.date_paid}}</td>
                <td class=" last">  <a href="?invoice_no={{bill.invoice_no}}">View</a></td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>