<!-- page content -->
<div class="right_col" role="main">
	<div class="row">
		<div class="col-md-12">
			<div class="">
				<div class="x_title">
					<div class="title_left">
						<h3>Dashboard</h3>
					</div>
				</div>
				<div class="clearfix"></div>
					<div class="container">
						<div class="row" ng-show="status">
							<div class="animated flipInY col-lg-12 col-md-12 col-sm-12">                   
								<a ng-repeat="property in properties">
									<div class="col-lg-4 col-md-4 col-sm-4">
										<div class="panel panel-primary">
											<div class="panel-heading">{{property.name}}
											</div>
											<div class="panel-body">
												<p class=" ">{{property.property_type}} </p>
												<p class=" "><strong>Rent: </strong><i class="fa fa-rupee"></i>{{property.rent}}</p>
												<p class=" "><strong>Maintenance: </strong><i class="fa fa-rupee"></i>{{property.maintenance}} </p>
												<p class=" "><strong>Amount : </strong>{{property.total_amount}}</p>
												<p><strong>Address: </strong> {{propertyDetails.address.floor}},{{propertyDetails.address.city}},{{propertyDetails.address.flat_no}},  {{propertyDetails.address.locality}} ,{{ stateById(propertyDetails.address.state_id) }} ,{{propertyDetails.address.pincode}}</p>
												<div class="icon" >
													<button class="btn btn-warning" ng-click="payTask(bill.invoice_no)" >PAY</button>
												</div>
											</div>
										</div>
									</div>
								</a>                      
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
					<div class="x_content">
						<div class="row">
							<div class="jumbotron">
								<div class="animated flipInY">
									<a href="#/property" class="btn btn-warning btn-lg btn-huge" role="button">
										<span class="glyphicon glyphicon-bookmark"></span> 
										<br/>ADD A PROPERTY
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>