 <div class="right_col" role="main">
         
            
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="page-title">
                   
					<div class="title_left">
					 <h2>Invitations  </h2>
					</div>

					  <div class="title_right">
						<div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
						  <div class="input-group">
						  
							<a href="/dashboard/#/invite" class="btn btn-success">Add Invite</a> 
							 
						  </div>
						</div>
					  </div>
                  </div>
					<div class="x_content">
              
                    <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                           
                            <th class="column-title">Name </th>
                            <th class="column-title">Email </th>
                           
                            <th class="column-title">Mobile</th>
                            <th class="column-title">Type </th>
                            
                           
                          </tr>
                        </thead>

                        <tbody>
						
                          <tr  ng-repeat="invitation in invitations">
                          <td class=" ">{{invitation.name}}</td>
                          <td class=" ">{{invitation.email}}</td>
						   <td class=" ">{{invitation.mobile}}</td>
						    <td class=" ">{{invitation.invite_type }}</td>
                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
				   
				   
				   
					</div>
                </div>
              </div>
            </div>

   </div>