<div class="right_col" role="main">
	<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="x_panel">
									<div class="x_title">
										<h2>Bill Receipt </h2>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<section class="content invoice">
											<!-- title row -->
											<div class="row">
												<div class="col-xs-12 invoice-header">
													<h1>
														<i class="fa fa-globe"></i> Receipt.
														<small class="pull-right">Date: {{data.bill[0].created_at }}</small>
													</h1>
												</div>
												<!-- /.col -->
											</div>
											<!-- info row -->
											<div class="row invoice-info">
												<div class="col-sm-4 invoice-col">
													From Landlord:
													<address>
														<strong>{{data.bill[0].property[0].owners[0].name}}</strong>
	 
														<br>{{data.bill[0].property[0].address.building}} {{data.bill[0].property[0].address.floor}},{{data.bill[0].property[0].address.locality}}
														<br>{{data.bill[0].property[0].address.city}} , {{data.bill[0].property[0].address.state_id}}- {{data.bill[0].property[0].address.pincode}}
														<br>Phone: {{data.bill[0].property[0].owners[0].mobile}}
														<br>Email: {{data.bill[0].property[0].owners[0].email}} 
													</address>
												</div>
												<!-- /.col -->
												<div class="col-sm-4 invoice-col">
													To Tenant:
													<address>
														<strong>{{data.bill[0].property[0].tenants[0].name}}</strong>
														<br>Staying Since :{{data.bill[0].property[0].tenants[0].staying_since}}
														<br>Phone         : {{data.bill[0].property[0].tenants[0].mobile}}
														<br>Email         : {{data.bill[0].property[0].tenants[0].email}}
													</address>
												</div>
												<!-- /.col -->
												<div class="col-sm-4 invoice-col">
													<b>Receipt # {{invoice_no }}</b>
													<br>
													<br>
													<b>Payment Due:</b> {{data.bill[0].date_paid }} 
													<br>
													<b>Amount:</b> <i class="fa fa-rupee"></i> {{data.bill[0].amount }}
													<br>
													<b>Status:</b> {{data.bill[0].status }}
												</div>
												<!-- /.col -->
											</div>
											<!-- /.row -->
										</div>
										<!-- /x_content -->
									</div>
									<!-- /.row -->
									<div class="row">
										<!-- accepted payments column -->
										<div class="col-xs-6">
											<p class="lead">Payment Methods:</p>
											<img src="images/visa.png" alt="Visa">
											<img src="images/mastercard.png" alt="Mastercard">
											<img src="images/american-express.png" alt="American Express">
											<img src="images/paypal.png" alt="Paypal">
										</div>
										<!-- /.col -->
										<div class="col-xs-6">
											<div class="table-responsive">
												<table class="table">
													<tbody>
														<tr>
															<th style="width:50%">Subtotal:</th>
															<td><i class="fa fa-rupee"></i> {{data.bill[0].property[0].rent }} </td>
														</tr>
														<tr>
															<th>Tax </th>
															<td>-</td>
														</tr>
														 <tr>
															<th>Maintenance </th>
															<td> <i class="fa fa-rupee"></i> {{data.bill[0].property[0].maintenance }} </td>
														</tr>
														<tr>
															<th>Total:</th>
															<td> <i class="fa fa-rupee"></i> {{data.bill[0].amount }} </td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
										<!-- /.col -->
									</div>
									<!-- /.row -->
									<!-- this row will not appear when printing -->
									<div class="row no-print">
										<div class="col-xs-12">
											<button class="btn btn-default" onclick="window.print();">
												<i class="fa fa-print"></i> Print
											</button>
											<button class="btn btn-primary pull-right" style="margin-right: 5px;">
												<i class="fa fa-download"></i> Generate PDF
											</button>
										</div>
									</div>
								</section>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	 </div>