 <div class="right_col" role="main">
         
            
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Notification  Details</h2>
					  
                    
                    <div class="clearfix"></div>
                  </div>
					<div class="x_content">
             
				       <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                           
                            <th class="column-title">Id </th>
                            <th class="column-title">Notification Type </th>
                            <th class="column-title">Message</th>
                            <th class="column-title">URL </th>
                           
                          </tr>
                        </thead>

                        <tbody>
						
                          <tr  ng-repeat="notification in notifications ">
							  <td class=" ">#{{notification.id}}</td>
							  <td class=" ">{{notification.notification_type}}</td>
							  <td class=" ">{{notification.message}}</td>
							 
							   <td class=" "> 
									<div ng-if="notification.url.indexOf('https://encrypted-tbn3.gstatic.com/images') > -1">
									 <img alt="" ng-src="{{notification.url}}" /> 
									</div>
									<div ng-if="! (notification.url.indexOf('https://encrypted-tbn3.gstatic.com/images') > -1)">
										<a ng-href="{{notification.url}}" target="_blank">link</a> 
									</div>
									
							  </td>
                          </tr>
                         
                        </tbody>
                      </table>
                    </div>
				   
					</div>
                </div>
              </div>
            </div>

   </div>