<!-- page content -->
<div class="right_col" role="main">
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>Pay Confirm</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<br />
						<form  action="{{payment_url}}" method ="post"  data-parsley-validate class="form-horizontal form-label-left">
							<div class="form-group" ng-repeat="(key, value) in payment.options">
								<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name" ng-show="false"> {{key}}
									<span class="required">*</span>
								</label>
								<div class="col-md-6 col-sm-6 col-xs-12">
									<input type="hidden"  value ="{{value}}" name ="{{key}}" required="required" class="form-control col-md-7 col-xs-12">
								</div>
							</div>
							<h3> Please Confirm. We will redirect to the payment gateway. Do not refresh page</h3>
							<div class="ln_solid"></div>
							<div class="form-group">
								<div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
									<button type="button" class="btn btn-primary">Cancel</button>
									<button type="submit" class="btn btn-success">Confirm</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
