<div class="right_col" role="main">
	<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="clearfix"></div>
						<div class="row">
							<div class="col-md-12">
								<div class="x_panel">
									<div class="x_title">
										<h2>Failed Receipt </h2>
										<div class="clearfix"></div>
									</div>
									<div class="x_content">
										<section class="content invoice">
											<!-- title row -->
											<div class="row">
												<div class="col-xs-12 invoice-header">
													<h1>
														<i class="fa fa-globe"></i> Receipt.
														<small class="pull-right">Payment is failed </small>
													</h1>
												</div>
												<!-- /.col -->
											</div>
											<!-- info row -->
										</section>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>