<div class="right_col" role="main">
	<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_content">
						<div class="clearfix"></div>
						<div class="row">
							<!-- page content -->
							<div class="col-md-12">
								<div class="col-middle">
									<div class="text-center text-center">
										<h1 class="error-number">404</h1>
										<h2>Sorry but we couldn't find this page</h2>
										<p>This page you are looking for does not exist 
											<a href="#">Report this?</a>
										</p>
									</div>
								</div>
							</div>
							<!-- /page content -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>