 <div class="right_col" role="main">
         
            
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Profile  Update</h2>
					  
                    
                    <div class="clearfix"></div>
                  </div>
					<div class="x_content">
              
                   
					
					
					    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active"><a  id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Profile</a>
                          </li>
                          <li role="presentation" class=""><a  role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Mobile Update</a>
                          </li>
                          <li role="presentation" class=""><a  role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">Reset Password</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">

                           			<div class="x_content">
                <form id="demo-form2" ng-submit="updateUser()"  data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" ng-model="UserDetails.name" placeholder="your name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                       
					 <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Date of Birth <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input  id="datePicker" class="date-picker form-control col-md-7 col-xs-12"  placeholder="your birthdate" ng-model="UserDetails.birthday" type="text" name="middle-name">
                        </div>
                      </div>
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Gender <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                            <label >
                              <input type="radio" ng-model="UserDetails.gender" name="gender" value="male"> &nbsp; Male &nbsp;
                            </label>
                            <label >
                              <input type="radio" ng-model="UserDetails.gender" name="gender" value="female"> Female
                            </label>
                          </div>
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">City <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input  ng-model="UserDetails.city"  class=" form-control col-md-7 col-xs-12" required="required" type="text">
                        </div>
                      </div>
					  
					   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Id proof <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         
									
						 <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="UserDetails.id_proof_url" type="hidden" name="middle-name">
						  <img alt="" width="200" height="200" ng-src="{{UserDetails.id_proof_url}}" /> 
                        </div>
                      </div>
					  
					   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Profile img <span class="required">*</span>
                        </label>
                         
						<div class="col-md-6 col-sm-6 col-xs-12">
						 
						 <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="UserDetails.profile_img" type="hidden" name="middle-name">
						 <img width="200" height="200" alt="profile Image" ng-src="{{UserDetails.profile_img}}" /> 
						 </div>
                      </div>
					   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">ID Type <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
						
						 <select ng-model="upload_type"  class="form-control" required>	 
                            <option  value="profile">Profile</option>
							<option  value="idProof">ID proof</option>
							
                           </select>
                         
                        </div>
                      </div>
					  
					    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
						<input class="bottom-marg-15" type="file" name="file" file></input> <br/>
						  <!-- Progress Bar -->
							<div class="progress">
							  <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
								{{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
							  </div>
							</div> <br/>
							<a class="btn btn-primary btn-block btn-sm" ng-click="upload()">Upload</a>
                          
                        </div>
                      </div>
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
				   
					</div>

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">

                            <div class="x_content">
                <form id="demo-form2" ng-submit="updateMobile()"  data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">New Mobile  <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" ng-model="UserDetails.new_mobile " required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                       
					
					   
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
				   
					</div>

                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                           	
                <form id="demo-form2" ng-submit="updatePassword()"  data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">New Password   <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" ng-model="UserDetails.new_password  " required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                       
					<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Old Password   <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" ng-model="UserDetails.old_password  " required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
					   
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" ng-click="cancel()" class="btn btn-primary">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
				   
                          </div>
                        </div>
                      </div>
					
					
					
				
				  
					</div>
					</div>
             </div>
				
				
		  </div>		
				
				
				
</div>
				
             
   
    <!-- bootstrap-daterangepicker -->
    <script>
	
      $(document).ready(function() {
	  
	
    $('#home-tab').click(function(e) {  
	$("#tab_content1").addClass("active in");
	$("#tab_content2").removeClass("active in");
	$("#tab_content3").removeClass("active in");
      
    });
	
    $('#profile-tab').click(function(e) {  
      $("#tab_content2").addClass("active in");
	  $("#tab_content3").removeClass("active in");
	  $("#tab_content1").removeClass("active in");
    });
		
    $('#profile-tab2').click(function(e) {  
     $("#tab_content3").addClass("active in");
	 $("#tab_content2").removeClass("active in");
	 $("#tab_content1").removeClass("active in");
    });
	  
	  
        $('#datePicker').daterangepicker({
          singleDatePicker: true,
		 locale: {
      format: 'DD/MM/YYYY'
    },
          calender_style: "picker_2"
		 
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script>
    <!-- /bootstrap-daterangepicker -->