 <div class="right_col" role="main">
         
            
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Select Society</h2>
	
                    <div class="clearfix"></div>
                  </div>
					<div class="x_content">
                <form id="demo-form2" data-parsley-validate ng-submit="addPropertySociety()" class="form-horizontal form-label-left">

                     
                     <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Society</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select class="select2_multiple form-control" ng-model="query" multiple="multiple">
                            <option ng-repeat="queryRes in societyQueryRes" value="{{queryRes.id}}" ng-selected="queryRes.id===societyPropertyId">{{queryRes.name}}</option>
                           
                          </select>
                        </div>
                      </div>
                   
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>

                    </form>
				   
                    
				   
				   
					</div>
                </div>
              </div>
            </div>

   </div>
   
   <!-- Select2 -->
    <script>
      $(document).ready(function() {
   
        $(".select2_multiple").select2({
          maximumSelectionLength: 1,
          placeholder: "With Max Selection limit 1",
          allowClear: true
        });
      });
    </script>
    <!-- /Select2 -->