



<!-- popup content -->
<!-- <div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Have you pay your Security Deposit</h4>
            </div>
            <div class="modal-body">
        
            </div>
        </div>
    </div>
</div> -->

<!-- popup content -->






<!-- page content -->
        <div class="right_col" role="main">


            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">

                      <h2>Pay Now </h2>
                      <div class="clearfix"></div>
                  </div>
                    <div class="clearfix"></div>

					            <div class="x_content">

                        <div class="table-responsive" ng-show="status">
                            <table class="table table-striped jambo_table bulk_action">
                                <thead>
                                <tr class="headings">

                                    <th class="column-title">Property Name </th>
                                    <th class="column-title">Type </th>

                                    <th class="column-title">Rent Amount  </th>
                                    <th class="column-title">Maintenance Amount  </th>
                                    <th class="column-title">Due Date </th>
                                    <th class="column-title">Total Amount </th>
                                    <th class="column-title"></th>
                                </tr>
                                </thead>


                                <tbody>
                                <tr  ng-repeat="property in properties">
                                    <td class=" ">{{property.name}}</td>
                                    <td class=" ">{{property.property_type}} </td>
                                    <td class=" "><i class="fa fa-rupee"></i>{{property.rent}}</td>
                                    <td class=" "><i class="fa fa-rupee"></i>{{property.maintenance}}</td>
                                    <td class=" ">{{property.rent_date}} </td>
                                    <td class=" ">{{property.total_amount}}</td>
                                    <td class=" last">  <a href="" ng-click="showProperty(property.id)"><button class="btn btn-primary">PAY</button></a>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                                    
                                   
                                     





                                









                        <section class="content invoice" ng-hide="status">
                      <!-- title row -->
                      <div class="row">
                        <div class="col-xs-12 invoice-header">
                          <h1>
                                          <i class="fa fa-globe"></i> Property.
                                          <small class="pull-right"> Staying Since: {{propertyDetails.tenants[0].staying_since}}</small>
                                      </h1>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- info row -->
                      <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                         
                              <h2><strong>Name: </strong>{{propertyDetails.name}}</h2>
                              <p><strong>Type: </strong> {{propertyDetails.property_type}} </p>
							  <p><strong>EB account: </strong> {{propertyDetails.eb_account}} </p>
							  <p><strong>Rent Date: </strong> {{propertyDetails.rent_date}} </p>
							  <p><strong>Maintenance: </strong> <i class="fa fa-rupee"></i> {{propertyDetails.maintenance}} </p>
							 
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                         <h4 class="brief"><i>Tenants Details</i></h4>
                          
                              <h2>{{propertyDetails.tenants[0].name}}</h2>
                             
							  <p><strong>Email: </strong> {{propertyDetails.tenants[0].email}} </p>
							  <p><strong>Mobile: </strong> {{propertyDetails.tenants[0].mobile}} </p>
							  <p><strong>Staying Since: </strong> {{propertyDetails.tenants[0].staying_since}} </p>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                          <h4 class="brief"><i>Address Details</i></h4>
                          
							  <p><strong>Building: </strong> {{propertyDetails.address.eb_account}} </p>
							  <p><strong>Floor: </strong> {{propertyDetails.address.floor}} </p>
							  <p><strong>City: </strong> {{propertyDetails.address.city}} </p>
							  <p><strong>Flat Num: </strong> {{propertyDetails.address.flat_no}}</p>
							  <p><strong>Locality: </strong> {{propertyDetails.address.locality}} </p>
							  <p><strong>State : </strong>{{ stateById(propertyDetails.address.state_id) }} </p>
							  <p><strong>Pincode : </strong> {{propertyDetails.address.pincode}} </p>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->

                     
                      

                      <div class="row">
					  <h2 class="page-header">Bill details of {{propertyDetails.name}}</h2>
                        <!-- accepted payments column -->
                      <div class="table-responsive">
                      <table class="table table-striped jambo_table bulk_action">
                        <thead>
                          <tr class="headings">
                             <th class="column-title">Amount </th>
                            <th class="column-title">Category </th>
                            <th class="column-title">Status </th>

                            <th class="column-title">Invoice no  </th>
                            <th class="column-title">Recurring </th>


                             <th class="column-title">Action </th>
                          </tr>
                        </thead>


                        <tbody>
                          <tr  ng-repeat="bill in propertyDetails.bills">

                            <td class=" "><span> <i class="fa fa-rupee"></i> {{bill.amount}}</span></i></td>
                            <td class=" ">{{bill.category}} </td>
                            <td class=" ">{{bill.status_id}}  </td>
							 <td class=" ">{{bill.invoice_no}} </td>

							 <td class=" "> {{bill.recurring}}</td>

							<td class=" last">  <div  ng-show="(bill.status_id==='PAID')" >
                            <a href="?invoice_no={{bill.invoice_no}}">   <button type="button"   class="btn btn-primary btn-xs">
                               &nbsp;&nbsp;&nbsp;&nbsp; Invoice &nbsp;&nbsp;&nbsp;&nbsp;
                              </button></a>
							  </div>
							  <div  ng-show="!(bill.status_id==='PAID')" >
                            <button type="button" ng-click="payTask(bill.invoice_no)"  class="btn btn-primary btn-xs">
                               &nbsp;&nbsp;&nbsp;&nbsp; PAY&nbsp;&nbsp;&nbsp;&nbsp;
                              </button>
							   </div>

							 <div  ng-if="propertyDetails.society_available === true" >
							    <a   ng-click="showPropertySociety(propertyDetails.id)" >   <button type="button"   class="btn btn-primary btn-xs">
                               &nbsp;&nbsp;&nbsp;&nbsp; Society&nbsp;&nbsp;&nbsp;&nbsp;
                              </button></a>
							   </div>
                            </td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                      </div>
                      <!-- /.row -->

                      
                    </section>
			
					
					
					</div>
                </div>
              </div>
            </div>







                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

<!-- <script type="text/javascript">
  $(document).ready(function(){

    $("#myModal").modal('show');
  });


</script>
 -->














