<!-- page content -->
        <div class="right_col" role="main">
         <div class="">
            
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Property Details</h2>
					  
                    
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                    <form id="demo-form2" ng-submit="addProperty()"  data-parsley-validate class="form-horizontal form-label-left">

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"> qw Tag the Property <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="first-name" ng-model="property.name" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Electricity Consumer Number 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" id="last-name"  ng-model="property.eb_account" name="last-name"  class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>
					 <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Property Type <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
						
						 <select ng-model="property.property_type"  class="form-control" required>	 
                            <option  value="apartment">Apartment</option>
							<option  value="independent">Independent</option>
							<option  value="villa">Villa</option>
                           </select>
                         
                        </div>
                      </div>
					
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Rent <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.rent" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Maintenance <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.maintenance" type="text" name="middle-name">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Society Available <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                            <label >
							
                              <input type="radio" ng-model="property.society_available" name="gender" value="true"> &nbsp; Yes &nbsp;
                            </label>
                            <label >
                              <input type="radio" ng-model="property.society_available" name="gender" value="false"> No
                            </label>
                          </div>
                        </div>
                      </div>
					    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Rent Date  <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <select ng-model="property.rent_date" ng-options="n for n in [] | range:1:32" class="form-control"></select>
                        </div>
                      </div>
					    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Is Owner <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                            <label >
                              <input type="radio" ng-model="property.is_owner" name="is_owner" value="true"> &nbsp; Yes &nbsp;
                            </label>
                            <label >
                              <input type="radio" ng-model="property.is_owner" name="is_owner" value="false"> No
                            </label>
                          </div>
                        </div>
                      </div>
					   
					 <div class="x_title">
						<h2>Address Details</h2>
						  
						<div class="clearfix"></div>
					</div>
				
					    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Flat Number <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.flat_no" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Building Number <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.building_no" type="text" name="middle-name">
                        </div>
                      </div>
					   <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Floor</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.floor" type="text" name="middle-name">
                        </div>
                      </div>
					    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Locality <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.locality" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">City <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.city" type="text" name="middle-name">
                        </div>
                      </div>
					  
					   <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">State <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
						
						 <select ng-model="property.state_id"  class="form-control" required>	 
                            <option  ng-repeat="state in states" value="{{state.id}}">{{state.name}}</option>
                           </select>
                         
                        </div>
                      </div>
					  
                     <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Pincode <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.pincode" type="text" name="middle-name">
                        </div>
                      </div>
					   <div class="x_title">
						<h2>Owner Account Details</h2>
						  
						<div class="clearfix"></div>
						</div>
					<div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Name <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.owner_name" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.owner_email" type="text" name="middle-name">
                        </div>
                      </div>
					   <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.owner_mobile" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12"> Pancard <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.owner_pancard" type="text" name="middle-name">
                        </div>
                      </div>
					
					
					
					    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Account Holder Name <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.account_holder_name" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Bank Name <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.bank_name" type="text" name="middle-name">
                        </div>
                      </div>
					   <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">IFSC <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.ifsc" type="text" name="middle-name">
                        </div>
                      </div>
					    <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Account Number <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.acc_number" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Account Type <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.acc_type" type="text" name="middle-name">
                        </div>
                      </div>
					  <div >
					  <div class="x_title">
						<h2>Tenant Details</h2>
						  
						<div class="clearfix"></div>
						</div>
					<div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Email <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.tenant_email" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Mobile<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.tenant_mobile" type="text" name="middle-name">
                        </div>
                      </div>
					   
					 <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Staying Since <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input  id="datePicker" class="date-picker form-control col-md-7 col-xs-12" ng-model="property.staying_since" type="text" name="middle-name">
                        </div>
                      </div>
					  <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Name<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.tenant_name" type="text" name="middle-name">
                        </div>
                      </div>
					  
					   <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Rent Agreement URL<span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
						<input class="bottom-marg-15" type="file" name="file" file></input> <br/>
						  <!-- Progress Bar -->
							<div class="progress">
							  <div class="progress-bar" role="progressbar" aria-valuenow="{{ uploadProgress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ uploadProgress }}%;">
								{{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
							  </div>
							</div> <br/>
							<a class="btn btn-primary btn-block btn-sm" ng-click="upload()">Upload</a>
                          <input id="middle-name" class="form-control col-md-7 col-xs-12" ng-model="property.rent_agreement_url" type="text" name="middle-name">
                        </div>
                      </div>
					  
					

				</div>
					
					  <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary">Cancel</button>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </div>
                      </div>
					  
  
                    </form>
					
					
                  </div>
                </div>
              </div>
            </div>

       </div>
            </div>
			
			 <!-- bootstrap-daterangepicker -->
    <script>
	
      $(document).ready(function() {
        $('#datePicker').daterangepicker({
          singleDatePicker: true,
		 locale: {
      format: 'DD/MM/YYYY'
    },
          calender_style: "picker_2"
		 
        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
      });
    </script>
    <!-- /bootstrap-daterangepicker -->