 <div class="right_col" role="main">
         
            
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Invoice status testing  Details</h2>
					  
                    
                    <div class="clearfix"></div>
                  </div>
					<div class="x_content">
                   
				<h4>{{error }}</h4>
				<h4>{{invoice_no }}</h4>			   
			 <h4>{{data.bill[0].status }}</h4>	
				   
					</div>
                </div>
              </div>
            </div>

   </div>