<%= form_for(users_bank_detail) do |f| %>
  <% if users_bank_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(users_bank_detail.errors.count, "error") %> prohibited this users_bank_detail from being saved:</h2>

      <ul>
      <% users_bank_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ifsc %>
    <%= f.text_field :ifsc %>
  </div>

  <div class="field">
    <%= f.label :acc_number %>
    <%= f.text_field :acc_number %>
  </div>

  <div class="field">
    <%= f.label :account_type %>
    <%= f.text_field :account_type %>
  </div>

  <div class="field">
    <%= f.label :account_id %>
    <%= f.text_field :account_id %>
  </div>

  <div class="field">
    <%= f.label :acc_type %>
    <%= f.text_field :acc_type %>
  </div>

  <div class="field">
    <%= f.label :account_holder_name %>
    <%= f.text_field :account_holder_name %>
  </div>

  <div class="field">
    <%= f.label :bank_name %>
    <%= f.text_field :bank_name %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
