<p id="notice"><%= notice %></p>

<h1>Users Bank Details</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Ifsc</th>
      <th>Acc number</th>
      <th>Account type</th>
      <th>Account</th>
      <th>Acc type</th>
      <th>Account holder name</th>
      <th>Bank name</th>
      <th>User Id</th>
      <th>User name </th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_bank_details.each do |users_bank_detail| %>
      <tr>
        <td><%= users_bank_detail.ifsc %></td>
        <td><%= users_bank_detail.acc_number %></td>
        <td><%= users_bank_detail.account_type %></td>
        <td><%= users_bank_detail.account_id %></td> 
        <td><%= users_bank_detail.acc_type %></td>
        <td><%= users_bank_detail.account_holder_name %></td>
        <td><%= users_bank_detail.bank_name %></td>
        <td><%= users_bank_detail.user_id %></td>
        <td><%= users_bank_detail.user.name %></td>
        <td><%= link_to 'Show', users_bank_detail %></td>
        <td><%= link_to 'Edit', edit_users_bank_detail_path(users_bank_detail) %></td>
        <!-- <td><#%= link_to 'Destroy', users_bank_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Bank Detail', new_users_bank_detail_path %>
<%= will_paginate @users_bank_details %>