<p id="notice"><%= notice %></p>

<p>
  <strong>Ifsc:</strong>
  <%= @users_bank_detail.ifsc %>
</p>

<p>
  <strong>Acc number:</strong>
  <%= @users_bank_detail.acc_number %>
</p>

<p>
  <strong>Account type:</strong>
  <%= @users_bank_detail.account_type %>
</p>

<p>
  <strong>Account:</strong>
  <%= @users_bank_detail.account_id %>
</p>

<p>
  <strong>Acc type:</strong>
  <%= @users_bank_detail.acc_type %>
</p>

<p>
  <strong>Account holder name:</strong>
  <%= @users_bank_detail.account_holder_name %>
</p>

<p>
  <strong>Bank name:</strong>
  <%= @users_bank_detail.bank_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @users_bank_detail.user_id %>
</p>

<%= link_to 'Edit', edit_users_bank_detail_path(@users_bank_detail) %> |
<%= link_to 'Back', users_bank_details_path %>
