<%= simple_form_for(@users_authentication) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :authentication_type %>
    <%= f.input :user_id %>
    <%= f.input :status_id %>
    <%= f.input :validity %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
