<h1>Editing Users Authentication</h1>

<%= render 'form', users_authentication: @users_authentication %>

<%= link_to 'Show', @users_authentication %> |
<%= link_to 'Back', users_authentications_path %>
