<p id="notice"><%= notice %></p>

<h1>Users Authentications</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Code</th>
      <th>Authentication type</th>
      <th>User</th>
      <th>Status</th>
      <th>Validity</th>
      <th>Email Status </th>
      <th>Sms Status </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody> 
    <% @users_authentications.each do |users_authentication| %>
      <tr>
        <td><%= users_authentication.code %></td>
        <td><%= users_authentication.authentication_type %></td>
        <td><%= users_authentication.user_id %></td>
        <td><%= users_authentication.status_id %></td>
        <td><%= users_authentication.validity %></td>
        <td><%= users_authentication.email_status %></td>
        <td><%= users_authentication.sms_status %></td>
        <td><%= link_to 'Show', users_authentication %></td>
        <td><%= link_to 'Edit', edit_users_authentication_path(users_authentication) %></td>
        <!-- <td><#%= link_to 'Destroy', users_authentication, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Authentication', new_users_authentication_path %>
