<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @users_authentication.code %>
</p>

<p>
  <strong>Authentication type:</strong>
  <%= @users_authentication.authentication_type %>
</p>

<p>
  <strong>User:</strong>
  <%= @users_authentication.user_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @users_authentication.status_id %>
</p>

<p>
  <strong>Validity:</strong>
  <%= @users_authentication.validity %>
</p>

<%= link_to 'Edit', edit_users_authentication_path(@users_authentication) %> |
<%= link_to 'Back', users_authentications_path %>
