<!DOCTYPE html>
<html>
<head>
  <title>DocketPay - Employee Panel</title>

  <%= javascript_include_tag "https://www.google.com/jsapi" %>
  <%= stylesheet_link_tag    "employees", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "employees", "data-turbolinks-track" => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <link href="https://mottie.github.io/tablesorter/css/theme.default.css" rel="stylesheet">
</head>
<body>
	<div id="notification"></div>
<div class="head">
	<div class="logo">
		<a href="/admin">
			<span class="logo-1">DocketPay</span>
		</a>
		<% if loggedin_employee %>
			<div class="pull-right">
				<span style="color:black;font-size:14px"><%#= @employee.email.split('@').first.capitalize %></span>
				<a href="<%= logout_employee_path %>">Logout</a>
			</div>
		<% end %>
	</div>
</div>
<span id="toast">Loading...</span>
<span id="notification">This is notification</span>
<div class="container">
	<%= yield %>
</div>
<% if loggedin_employee %>
	<%= render partial: 'admin/sitemap' %>
<% end %>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.9.1/jquery.tablesorter.min.js"></script>

</body>
</html>
