<%= simple_form_for(@users_query) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%#= f.input :user_id %>
    <%#= f.input :subject %>
    <%= f.input :query %>
    <%= f.input :notes %>
    <%= f.input :status_id %>
    <%= f.input :assigned_to %>
    <%= f.input :category %>
    <%= f.input :category_type %>
    <%#= f.association :property %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
