<p id="notice"><%= notice %></p>

<h1>Users Queries</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Query</th>
      <th>Notes</th>
      <th>Status</th>
      <th>Assigned to</th> 
      <th>Category</th>
      <th>Category type</th>
      <th>Email </th>
      <th>Mobile </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_queries.each do |users_query| %>
      <tr>
        <td><%= users_query.name %></td>
        <td><%= users_query.user_id %></td>
        <td><%= users_query.query %></td>
        <td><%= users_query.notes %></td>
        <td><%= users_query.status_id %></td>
        <td><%= users_query.assigned_to %></td>
        <td><%= users_query.category %></td>
        <td><%= users_query.category_type %></td>
        <td><%= users_query.email %></td>
        <td><%= users_query.mobile %></td>
        <td><%= link_to 'Show', users_query %></td>
        <td><%= link_to 'Edit', edit_users_query_path(users_query) %></td>
        <!-- <td><#%= link_to 'Destroy', users_query, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Query', new_users_query_path %>
<%= will_paginate @users_queries %>