<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @users_query.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @users_query.user_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @users_query.subject %>
</p>

<p>
  <strong>Query:</strong>
  <%= @users_query.query %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @users_query.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= @users_query.status_id %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @users_query.assigned_to %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @users_query.category %>
</p>

<p>
  <strong>Assigned to:</strong>
  <%= @users_query.category_type %>
</p>

<%= link_to 'Edit', edit_users_query_path(@users_query) %> |
<%= link_to 'Back', users_queries_path %>
