<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi <%= @user.profile.first_name %>,</div>
		<p>
			There is a bill mismatch in the amount made for the bill with invoice <%= @payment.bill.invoice_no %> and property with uid: <%= @payment.bill.property.uid %>
		</p>
		<br>
		<br>
		<div>
			Regards,<br>
			Team Docket Tech <br>
			+91-80-4656 4656
		</div>
	</body>
</html>
