<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi Team,</div>
		<p>
			The payment with an amount of <%= @bill.final_amount %> for the bill with invoice: <%= @bill.invoice_no %> and property uid: <%= @bill.property.uid %> is due for CMS upload.
		</p>
		<br>
		<br>
		<div>
			Regards,<br>
			Goldie Kedia, <br>
			Tech Team Lead.<br>
		</div>
	</body>
</html>
