<!DOCTYPE html>
<html>
	<head>
    	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  	</head>
  	<body>
		<div>Hi Team,</div>
		<p>
			A new property with uid: <%= @property.uid %> has been added and is yet to be verified.
		</p>
		<br>
		<br>
		<div>
			Regards,<br>
			Goldie Kedia, <br>
			Tech Team Lead.<br>
		</div>
	</body>
</html>