/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree ./employees
 *= require font-awesome
 *= require token-input
 *= require bootstrap-datepicker
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body, *{
	padding: 0;
	margin:0;
	font-family: 'Proxima Nova', 'Helvetica', 'Sans Serif';
}
a{
	text-decoration: none !important;
}
input{
	width: 240px;
	margin-bottom: 5px;
}
input:focus{
	outline: 0;
}
.checkbox input[type='checkbox']{
	margin-left: 250px;
}
textarea{
	width: 240px;
	height: 80px;
}
label{
	width: 250px;
}
.control-label{
	width: 140px;
	text-align: left !important;
}
.layer{
	display: inline-block;
}
#toast,#notification{
	display: none;
}
.head{
	width: 100%;
	height: 60px;
	background: #3F51B5;
	.logo{
		font-size: 20px;
		padding: 20px;
		a{
			color: white;
		}
	}
}
.container{
    margin-top: 10px;
    .create{
    	margin-left: 10%;
    	width: 250px;
		height: 22px;
		background: rgb(187, 146, 146);
		padding: 4px;
		a{
			color: white;
			text-align: center;
		}
    }
    h1{
    	text-align:center; 
    }
    #tabs{
    	width: 100%;
    	margin: 2% 0;
    	ul{
    		margin-left: 30%;
    	}
    	li{
    		width: 10%;
			text-align: center;
			background: rgb(207, 131, 131);
			padding: 8px;
			display: inline-block;
    	}
    }
    #search{
    	margin-left: 22%;
	    .typeahead{
			border: 2px solid #eee !important;
	    }
		#multiple-datasets{
			padding: 100px;
			text-align: center;
			background: image-url('search-bg1.jpg');
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			height: 500px;
			width: 100%;
		}
		::-webkit-input-placeholder {
		   color: black;
		}
		:-moz-placeholder { /* Firefox 18- */
		   color: black;  
		}
		::-moz-placeholder { /* Firefox 19+ */
		   color: black;  
		}
		:-ms-input-placeholder {  
		   color: black;  
		}
		input[type=text]{
		    height: 40px;
		    padding: 10px;
		    border: 1px;
		    width: 400px;
		}
		input[type=submit]{
		    position: absolute;
		    margin-left: 10px;
		    padding: 8px;
		    width: 100px;
		    font-size: 18px;
		    border: none;
		    background: #e75b39;
		}
		.result{
		    width: 100%;
		    min-height: 400px;
		}

		.tt-dropdown-menu {
		  position: absolute;
		  top: 100%;
		  left: 0;
		  z-index: 1000;
		  display: none;
		  float: left;
		  min-width: 400px;
		  padding: 5px 0;
		  margin: 2px 0 0;
		  list-style: none;
		  font-size: 14px;
		  background-color: #ffffff;
		  // border: 1px solid #cccccc;
		  // border: 1px solid rgba(0, 0, 0, 0.15);
		  border-radius: 4px;
		  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
		  background-clip: padding-box;
		}
		.tt-suggestion > p {
		  display: block;
		  padding: 3px 20px;
		  clear: both;
		  font-weight: normal;
		  line-height: 1.428571429;
		  color: #333333;
		  white-space: nowrap;
		}
		.tt-dropdown-menu h3{
		    text-align: center;
		    font-size: 18px;
		}
		.tt-suggestion > p:hover,
		.tt-suggestion > p:focus,
		.tt-suggestion.tt-cursor p {
		  color: #ffffff;
		  text-decoration: none;
		  outline: 0;
		  background-color: #428bca;
		}
		.search .tt-dropdown-menu {
		  max-height: 250px;
		  overflow-y: auto;
		}
    }
	.table{
		margin-top: 40px;
	}
    
}

#notification{
  display: none;
  z-index: 1111;
  color: white;
  height: 80px;
  position: absolute;
  text-align: center;
  margin: 0 2% 2%;
  width: 35%;
  padding: 25px;
  bottom: 0;
  font-size: 24px;
  z-index: 9999;
}
#notification.red{
  background-color: red;
}
#notification.green{
  background-color: #55A571;
}
