<%= form_for(society) do |f| %>
  <% if society.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(society.errors.count, "error") %> prohibited this society from being saved:</h2>

      <ul>
      <% society.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :contact %>
    <%= f.text_field :contact %>
  </div>

  <div class="field">
    <%= f.label :registration_no %>
    <%= f.text_field :registration_no %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
