<p id="notice"><%= notice %></p>

<h1>Societies</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Contact</th>
      <th>Registration no</th>
      <th colspan="3"></th>
    </tr> 
  </thead>

  <tbody>
    <% @societies.each do |society| %>
      <tr>
        <td><%= society.name %></td>
        <td><%= society.email %></td>
        <td><%= society.contact %></td>
        <td><%= society.registration_no %></td>
        <td><%= link_to 'Show', society %></td>
        <td><%= link_to 'Edit', edit_society_path(society) %></td>
        <!-- <td><#%= link_to 'Destroy', society, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Society', new_society_path %>
<%= will_paginate @societies %>
