<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @society.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @society.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @society.contact %>
</p>

<p>
  <strong>Registration no:</strong>
  <%= @society.registration_no %>
</p>

<%= link_to 'Edit', edit_society_path(@society) %> |
<%= link_to 'Back', societies_path %>
