<%= simple_form_for(@role_column_access) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :role_id %>
    <%= f.input :table_name %>
    <%= f.input :column_name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
