<%= form_for(properties_society) do |f| %>
  <% if properties_society.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(properties_society.errors.count, "error") %> prohibited this properties_society from being saved:</h2>

      <ul>
      <% properties_society.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %>
    <%= f.number_field :property_id %>
  </div>

  <div class="field">
    <%= f.label :society_id %>
    <%= f.number_field :society_id %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
