<p id="notice"><%= notice %></p>

<h1>Properties Societies</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Property</th>
      <th>Society</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties_societies.each do |properties_society| %>
      <tr>
        <td><%= properties_society.property_id %></td>
        <td><%= properties_society.society_id %></td>
        <td><%= properties_society.amount %></td>
        <td><%= link_to 'Show', properties_society %></td>
        <td><%= link_to 'Edit', edit_properties_society_path(properties_society) %></td>
        <!-- <td><#%= link_to 'Destroy', properties_society, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Properties Society', new_properties_society_path %>
 <%= will_paginate @properties_societies %>