<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @properties_society.property_id %>
</p>

<p>
  <strong>Society:</strong>
  <%= @properties_society.society_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @properties_society.amount %>
</p>

<%= link_to 'Edit', edit_properties_society_path(@properties_society) %> |
<%= link_to 'Back', properties_societies_path %>
