<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Docket Pay</title>

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body style="margin: 0 auto;padding: 0;max-width: 700px;font-size: 14px;background-size: cover;font-weight: thin !important;font-family: 'PFBeauSansPro';">
		<table style="width:100%;height:100px;background-color:#fff" >
			<tr>
				<td style="float:left">
					<%= image_tag "#{@base_url}/assets/mailer/docketpay_logo.png", :style => "margin-top: 20px; "%>
				</td>
				<td style="float:right;margin-top: 20px;">
					<ul style="display: inline-flex;text-align: center; list-style: none;margin-left: 8em; font-size:10px;padding-left:0px;">
						<li>
							<h3 style="margin-right: 20px;">Follow us:</h3>
						</li>
						<li>
							<a href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/facebook.png" %></a>
						</li>
						<li>
							<a  href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/google.png" %></a>
						</li>
						<li>
							<a href="" target="_blank" title="">
							<%= image_tag "#{@base_url}/assets/mailer/twitter.png" %>
							</a>
						</li>
					</ul>
				</td>
			</tr>
		</table>
		<table width="100%" height="auto" style="background-image: url('<%= @base_url%>/assets/mailer/emailer_bg.jpg');height:auto">
			<tr>
				<td>
					<div>
				    	<h1  style="font-size: 30px;font-weight: 500;margin: 80px 0px 10px 170px;">WELCOME TO<br>
				    	<span style="color: #f9b715;font-weight: bold;border-bottom: 2px solid #000">DOCKETPAY</span>
				    	</h1>
					</div>
				</td>
			</tr>
			<tr >
				<td  align="center" style="text-align:center;">
				    <h4 style="font-size: 14px;margin: 10px 0px 0px 170px;text-align:left">Thank you for registering with us.<br>
				   We are happy and delighted that you are here.</h4>
				</td>
			</tr>
			<tr style="margin:20px">
				<td align="center" >
					<div style="width:250px;margin-top: 170px;">
						<h1 align="center" style="font-size:25px;color:#9e9a9a;width: 190px;" >
							From Now On You Can Pay Your
						</h1>
					</div>
					<div style="margin-top: 60px;margin-bottom: 90px;">
						<ul style="list-style: none; display: inline-flex;text-align: center;">
							<li style="color: #f9b715;border-right: 2px solid #9e9a9a;font-size:14px;">
								<p style="margin-right:14px">RENT</p>
							</li>
							<li  style="color: #9e9a9a;border-right: 2px solid #9e9a9a;font-size:14px;">
								<p style="margin-right:14px; margin-left:14px">MAINTENANCE</p>
							</li>
							<li  style="color: #f9b715;border-right: 2px solid #9e9a9a;font-size:14px;">
								<p style="margin-right:14px; margin-left:14px">SECURITY DEPOSITS</p>
							</li>
							<li  style="color: #9e9a9a;font-size:14px;">
								<p style="margin-right:14px; margin-left:14px">CORPUS FUNDS</p>
							</li>
						</ul>
						<h1 align="center" style="font-size:14px; color:#9e9a9a;">ONLINE WITH DOCKETPAY.</h1>
						<h1 align="center" style="font-size:14px; color:#f9b715;">WWW.DOCKETPAY.COM</h1>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<h1 align="center" style="font-size:25px;color:#9e9a9a;">RENT</h1>
					<p  align="center"  style="font-size:14px;color:#9e9a9a;width: 60%;margin: 0 auto 40px;">Pay rent for your residential and commercial properties. Login to DocketPay, add Property and Owner details, Input the rent and <br>just pay.</p>

					<h1 align="center" style="font-size:25px;color:#9e9a9a;">MAINTENANCE</h1>
					<p  align="center"  style="font-size:14px;color:#9e9a9a;width: 60%;margin: 0 auto 40px;">Pay your apartment monthly maintenance charges to your owner/society online in 3 simple steps.</p>

					<h1 align="center" style="font-size:25px;color:#9e9a9a;">SECURITY DEPOSITS</h1>
					<p  align="center"  style="font-size:14px;color:#9e9a9a;width: 60%;margin: 0 auto 40px;">No more worries, now pay your rental security deposit with your credit card on DocketPay.</p>

					<h1 align="center" style="font-size:25px;color:#9e9a9a;">CORPUS FUNDS</h1>
					<p  align="center"  style="font-size:14px;color:#9e9a9a;width: 60%;margin: 0 auto 40px;">Troubled with cash crunch for your apartment adhoc payments? Relax, pay all your corpus fund payments on DocketPay with online.</p>
				</td>
			</tr>
			<tr>
				<td>
					<div  align="center"  style=" ">
						<div  style="color: #9e9a9a;width: 40%;margin: 80px 10px 0px 0px;float: left;">
							<%= image_tag "#{@base_url}/assets/mailer/customer_service.png" %>
						</div>
						<div align="center"  style="color: #9e9a9a;display: inline;float: left;margin: 70px auto">
							<h1 align="center" style="font-size:25px;color:#9e9a9a;">CUSTOMER SUPPORT</h1>	
							<p  align="center"  style="font-size:14px;color:#9e9a9a;text-align:left"> support@docketpay.com</p>
							<p  align="center"  style="font-size:14px;color:#9e9a9a;text-align:left">080-46564656</p>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td >
					<p  align="center" style="margin: 20px 0 10px 0px;font-size:14px; color:#f9b715;">copyright @ 2016 Docketpay: All right reserved </p>
				</td>
			</tr>
		</table>
	</body>
</html>

