<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Added by</th>
      <th>Status</th>
      <th>Property type</th>
      <th>Eb account</th>
      <th>Owner</th>
      <th>Society available</th>
      <th>Rent</th>
      <th>Maintenance</th>
      <th>Total amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.added_by %></td>
        <td><%= property.status_id %></td>
        <td><%= property.property_type %></td>
        <td><%= property.eb_account %></td>
        <td><%= property.owner_id %></td>
        <td><%= property.society_available %></td>
        <td><%= property.rent %></td>
        <td><%= property.maintenance %></td>
        <td><%= property.total_amount %></td>
        <td><%= link_to 'Show', property %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

