<div class="search search_wrapper heading">

  <ul class="nav nav-tabs width-700p">
      <li class="active"><a data-toggle="tab" href="#tab1">UID</a></li>
      <li><a data-toggle="tab" href="#tab2">OWNER EMAIL</a></li>
      <li><a data-toggle="tab" href="#tab3">OWNER PHONE</a></li>
      <li><a data-toggle="tab" href="#tab4">TENANT EMAIL</a></li>
      <li><a data-toggle="tab" href="#tab5">TENANT PHONE</a></li>
  </ul>
  <form>
   <div class="tab-content">
      <div id="search" class="tab-pane fade in active">
        <h2>Enter the Search</h2>
        <input type="hidden" id='type' name='type' id="tab1" value='uid'>
        <input type="text" name="query" placeholder="Enter Value" class='search_box'>
        <input type="submit" class="search-submit">
      </div> 
    </div>
  </form>
</div>  
<div class="result">
</div>

<script>

$('ul li').on('click',function(e){
    $('ul li').removeClass('active');
    $(this).addClass('active');
    var activeTab = $(this).find('a').attr('href');
    
    if (activeTab == '#tab1') {
      $('#type').val('uid');
    }
      else if(activeTab == '#tab2'){
      $('#type').val('owner_email');
    }
      else if(activeTab == '#tab3') {
        $('#type').val('owner_phone');
    }
      else if(activeTab == '#tab4') {
        $('#type').val('tenant_email');
    }
    else {
        $('#type').val('tenant_phone');
    }
      return false;
  });

$('.search-submit ').click(function (e){
    e.preventDefault();
    $.ajax({
      type: "GET",
      url : '/admin/employees/properties/search_by',
      data: $('#search input').serialize(),
      error: function(data,xhr) {
          console.log("Error occurred when retrieving job executions");
      },
      success: function(data,xhr) {
        $('.result').html(data);
      }
    });
  });  
   
</script>

<style>
  .result {
      margin-top: 150px;
      width: 100%;
  }
  .container #search input[type=text] {
      border: 1px solid #000;
  }

  .heading{
    padding: 0;
    margin-left: 24%!important;
    margin-top: 4%!important;
}

.width-700p{
  width: 650px;
}
</style>