<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @users_status.name %>
</p>

<%= link_to 'Edit', edit_users_status_path(@users_status) %> |
<%= link_to 'Back', users_statuses_path %>
