<!DOCTYPE html>
<html data-ng-app="docketApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Docket Pay</title>
    <link rel="icon" href="/Homepage/img/favicon.ico" type="image/x-icon" />
    <!-- Bootstrap Core CSS -->
    <link href="/Homepage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Homepage/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- Theme CSS -->
    <link href="/Homepage/css/agency.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/app.css"/>
    <link rel="stylesheet" type="text/css" href="/css/angular-busy.css"/>
</head>
<body id="page-top" class="index" cg-busy="{promise:promise,message:'Loading',backdrop:false,templateUrl:'myAwesomeTemplate.html',delay:300,minDuration:700}" >

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a href="/#/home"><img  src="/dashboard/imageslogo/Logo_Docket_Pay.png" alt="..." ></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">HOW IT WORKS</a>
                </li>
                <li>
                    <a class="page-scroll" href="#tenant">TENANT</a>
                </li>
                <li>
                    <a class="page-scroll" href="#lanlord">LANDLORD</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">SERVICES</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">CONTACT</a>
                </li>
                <li ng-if="!userName">
                    <a class="page-scroll" href="#login">Login</a>
                </li>
                <li ng-if="userName">
                    <a class="page-scroll" href="/dashboard/#/dashboard">Dashboard</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<div ui-view></div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <span class="copyright"> Copyright &copy; Docket Tech Solutions Private Limited. All Rights Reserved  2016. </span>
                    <div>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://twitter.com/DocketPay" target="_blank"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="https://www.facebook.com/DocketPay-1197743780280828" target="_blank"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/company/docketpay?trk=top_nav_home" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <ul class="list-inline quicklinks">
                            <li><a href="#/privacy">Privacy Policy</a>
                            </li>
                            <li><a href="#/terms">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6" >
                    <span class="address">
                        <strong>Docket Tech Solutions Private Limited</strong><br>
                        Newbridge Business Center,<br>
                        Embassy Golf Links Business Park Block "B", <br>
                        1st Floor, Pebble Beach, <br>
                        Off Intermediate Ring Road, <br>
                        Domlur, Bangalore - 560071, <br>
                        Karnataka, India<br>
                        Tel: +91-80-4656 4656<br>
                        <br>help@dockettech.com
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/dashboard/components/angular/angular.js"></script>
<script type="text/javascript" src="/dashboard/lib/angular-ui-router.min.js"></script>
<script type="text/javascript" src="/dashboard/lib/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.0/angular-messages.js"></script>
<script type="text/javascript" src="/dashboard/js/app.js"></script>
<script type="text/javascript" src="/dashboard/js/config.js"></script>
<script type="text/javascript" src="/dashboard/js/controllers.js"></script>
<script type="text/javascript" src="/dashboard/js/services.js"></script>
<script type="text/javascript" src="/dashboard/js/directives.js"></script>
<script type="text/javascript" src="/dashboard/js/filters.js"></script>
<script type="text/javascript" src="/dashboard/js/angular-busy.js"></script>
<!-- jQuery -->
<script src="/Homepage/vendor/jquery/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/Homepage/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- Contact Form JavaScript -->
<script src="/Homepage/js/jqBootstrapValidation.js"></script>
<script src="/Homepage/js/contact_me.js"></script>
<!-- Theme JavaScript -->
<script src="/Homepage/js/agency.min.js"></script>
</body>
</html>