<%= form_for(properties_owner) do |f| %>
  <% if properties_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(properties_owner.errors.count, "error") %> prohibited this properties_owner from being saved:</h2>

      <ul>
      <% properties_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %>
    <%= f.number_field :property_id %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
