<p id="notice"><%= notice %></p>

<h1>Properties Owners</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Property</th>
      <th>User</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties_owners.each do |properties_owner| %>
      <tr>
        <td><%= properties_owner.property ? properties_owner.property.name : properties_owner.property.id %></td>
        <td><%= properties_owner.user_id %></td>
        <td><%= properties_owner.amount %></td>
        <td><%= link_to 'Show', properties_owner %></td>
        <td><%= link_to 'Edit', edit_properties_owner_path(properties_owner) %></td>
        <!-- <td><#%= link_to 'Destroy', properties_owner, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Properties Owner', new_properties_owner_path %>
 <%= will_paginate @properties_owners %>