<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @properties_owner.property_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @properties_owner.user_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @properties_owner.amount %>
</p>

<%= link_to 'Edit', edit_properties_owner_path(@properties_owner) %> |
<%= link_to 'Back', properties_owners_path %>
