<p id="notice"><%= notice %></p>

<h1>Properties Statuses</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties_statuses.each do |properties_status| %>
      <tr>
        <td><%= properties_status.name %></td>
        <td><%= link_to 'Show', properties_status %></td>
        <td><%= link_to 'Edit', edit_properties_status_path(properties_status) %></td>
        <!-- <td><#%= link_to 'Destroy', properties_status, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Properties Status', new_properties_status_path %>
