<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @properties_status.name %>
</p>

<%= link_to 'Edit', edit_properties_status_path(@properties_status) %> |
<%= link_to 'Back', properties_statuses_path %>
