<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Title Page</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	</head>
	<body style="margin: 0 auto;padding: 0;width: 550px;min-width: 320px;text-align: centerpx;font-size: 14px;font-weight: thin !important;font-family: 'PFBeauSansPro';">
		<table min-width="320px" width="100%" style=" ">
			<thead>
				<th>
					<div style="margin: 0 auto;text-align: center">
						<%= image_tag "#{@base_url}/assets/mailer/docketpay_logo.png", style:"width: 30%;margin: 20px;" %>
					</div>
				</th>
				<tr>
					<td >
						<div style="background: #E8E8E8;;width: 100%;">
							<ul style="width: 100%;display: inline-flex;text-align: center;list-style: none;margin: 30px auto;font-size: 10px;">
								<li style="margin: 0 0 20px;">
									<a style="margin-left: -20px;" href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/icon_rent.png", style: "margin-right: 20px;position:relative" %>
										<p  style="position: absolute;color: #000;margin: 10px auto 0 20px;text-align: center;font-size: 14px;">Rent</p></a>
								</li>
								<li style="margin: 0 0 20px;">
									<a  href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/icon_maintenance.png", style: "margin-right: 20px;position:relative" %>
									<p style="position: absolute;color: #000;margin: 10px auto 0 20px;text-align: center;font-size: 14px;">Maintenace</p></a>
								</li>
								<li style="margin: 0 0 20px;">
									<a href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/security_deposit.png", style:"margin-right: 20px;position:relative" %>
									<p style="position: absolute;color: #000;margin: 10px auto ;text-align: center;font-size: 14px;">Security Deposit</p></a>
								</li>
								<li style="margin: 0 0 20px;">
									<a href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/icon_cropus_fund.png", style:"margin-right: 20px;position:relative" %>
									<p style="position: absolute;color: #000;margin: 10px auto 0 20px;;text-align: center;font-size: 14px;">Corpus Fund</p></a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
			</thead>
			<tbody style="">
				<tr  style="background: #2b2a2a;width: 100%;">
					<td >
						<div style="margin: 30px;">
							<p style="color: #887f7f;font-weight:bold">Dear Customer,</p>
							<p  style="color: #887f7f;margin: 0px;">Make your property payments online using DocketPay</p>
							<p style="color: #887f7f;font-weight:bold;margin: 0px;">You have a payment due with the following details:</p>
						</div>
					</td>
				</tr>
				<table width=100%>
					<tr style="border-bottom: 1px solid rgba(136, 127, 127, 0.35);">
						<td style="width: 200px;border-right: 1px solid rgba(136, 127, 127, 0.35);">
							<p style="margin: 10px;font-weight: 600;color: #000;">Amoutnt</p>
						</td>
						<td>
							<p style="margin-top:10px;margin-left: 60px;">Rs. xxxxx/-</p>
						</td>
					</tr>
					<tr style="border-bottom: 1px solid rgba(136, 127, 127, 0.35);">
						<td style="width: 200px;border-right: 1px solid rgba(136, 127, 127, 0.35);">
							<p style="margin: 10px;font-weight: 600;color: #000;">Payment Type</p>
						</td>
						<td>
							<p style="margin-top:10px;margin-left: 60px;">MAINTENANCE</p>
						</td>
					</tr>
					<tr style="border-bottom: 1px solid rgba(136, 127, 127, 0.35);">
						<td style="width: 200px;border-right: 1px solid rgba(136, 127, 127, 0.35);">
							<p style="margin: 10px;font-weight: 600;color: #000;">Payment ID</p>
						</td>
						<td>
							<p style="margin-top:10px;margin-left: 60px;">121544444</p>
						</td>
					</tr>
					<tr style="border-bottom: 1px solid rgba(136, 127, 127, 0.35);">
						<td style="width: 200px;border-right: 1px solid rgba(136, 127, 127, 0.35);">
							<p style="margin: 10px;font-weight: 600;color: #000;">Payment Date</p>
						</td>
						<td>
							<p style="margin-top:10px;margin-left: 60px;">xxxx</p>
						</td>
					</tr>
					<tr style="border-bottom: 1px solid rgba(136, 127, 127, 0.35);">
						<td style="width: 200px;border-right: 1px solid rgba(136, 127, 127, 0.35);">
							<p style="margin: 10px;font-weight: 600;color: #000;">Payment Address</p>
						</td>
						<td>
							<p style="margin-top:10px;margin-left: 60px;">xxxxx</p>
						</td>
					</tr>
					<tr style="border-bottom: 1px solid rgba(136, 127, 127, 0.35);">
						<td style="width: 200px;border-right: 1px solid rgba(136, 127, 127, 0.35);">
							<p style="margin: 10px;font-weight: 600;color: #000;">Tenant Name</p>
						</td>
						<td>
							<p style="margin-top:10px;margin-left: 60px;">TENANT NAME</p>
						</td>
					</tr>
					<tr style="border-bottom: 1px solid rgba(136, 127, 127, 0.35);">
						<td style="width: 200px;border-right: 1px solid rgba(136, 127, 127, 0.35);">
							<p style="margin: 10px;font-weight: 600;color: #000;">Docket ID</p>
						</td>
						<td>
							<p style="margin-top:10px;margin-left: 60px;">DP123456</p>
						</td>
					</tr>
				</table>
				<table width=100%>
					<tr  style="background: #2b2a2a;width: 100%;">
						<td >
							<div style="margin: 30px;">
								<p align="center" style="color: #887f7f;font-weight: normal;width: 360px;margin: 0 auto;">You can now make your payments hassle free using your Credit Card, Debit Card or "via" net banking.</p>
								<div style=" margin: 30px auto;text-align:center;">
									<a href=""><button align="center" style=" margin: 0 auto;width: 180px;background: #ea6624;border: none;color: #fff;font-size: 24px;font-weight: bold;height: 40px;" type="button" class="">PAY NOW</button></a>
								</div>
								<p align="center" style="color: #887f7f;font-weight: normal;margin: 0 auto;font-size: 12px;">You are receiving this mail as you are a registered user with DocketPay to pay your bills. ​If you are not the intended recipient of "this" mail or if you have already paid your bills, please ignore this mail.</p>
							</div>
						</td>
					</tr>
				</table>
				<table width=100% >
					<tr style="background: #000;width: 100%;">
						<td>
							<p style="margin: 20px auto;text-align: center;color: #887f7f;">For queries please contact us on <span style="color: #ea6624">@help@docketpay.com</span> 080-46564656</p>
						</td>
					</tr>
				</table>
		    </tbody>
		</table>
	</body>
</html>