<html>
    <head>
        <title>Invoice | DocketPay</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    </head>
    <body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
        <table bgcolor="#ffffff" cellpadding="10" cellspacing="0" border="0" valign="middle" width="594" style="border: thin solid #1d1d1b;font-size:14px; font-family: Arial;font-weight:normal;color:#2b2b2b;box-sizing:border-box;border-spacing:10px 0">
            <tr width="594">
                <td width="297" style="border-bottom:thin solid #1d1d1b;font-size:18px;font-weight:bold;padding:15px;">
                    <span>Invoice&nbsp;:&nbsp;<span><%= bill.invoice_no %></span></span>
                    <br/>
                    <span style="font-size:14px;color:#5d5d5d">Date&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;<span><%= bill.date_paid.strftime("%d/%m/%Y") %></span></span>
                </td>
                <td width="297" style="border-bottom:thin solid #1d1d1b;text-align:right;padding-right:15px;">
                    <%= image_tag "#{base_url}/assets/mailer/logo_docketpay.png", style: "width:150px;height:auto;", alt:"docketpay" %>
                </td>
            </tr>
            <tr width="594">
                <td colspan="2" width="594" height="35" style="border-bottom:thin solid #1d1d1b;text-align:center;font-weight:bold;font-size:18px;text-transform:uppercase;">
                    <%= bill.property.property_type %> <%= bill.category.name %>
                </td>
            </tr>
            <tr width="594">
                <td width="297" style="text-align:left;padding:15px;">
                    <span style="font-size:16px;font-weight:bold;">Paid By</span><br/>
                    <!-- <span style="font-size:16px;font-weight:bold;">Tenant</span><br/> -->
                    <span style="font-size:14px;color:#5d5d5d;">
                        <%= bill.user.name %><br/>
                        <%= bill.user.mobile %><br/>
                        <span style="text-transform:lowercase"><%= bill.user.email %></span>
                    </span>
                </td>
                <td width="297" style="text-align:left;padding-left:100px">&nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="2" width="594" style="text-align:center;padding:15px;">
                    <table width="590" cellspacing="0" cellpadding="3" style="border-color:#1d1d1b;font-size:14px;text-align:left">
                        <tr>
                            <th width="20px" style="border:thin solid #1d1d1b;border-right:0;">SL</th>
                            <th width="120px" style="border:thin solid #1d1d1b;border-right:0;padding-left:20px">Description</th>
                            <th width="220px" style="border:thin solid #1d1d1b;border-right:0;padding-left:20px">Property Details</th>
                            <th width="200px" style="border:thin solid #1d1d1b;text-align:center">Amount</th>
                        </tr>
                        <tr>
                            <td style="border:thin solid #1d1d1b;border-right:0;border-top:0;">1</td>
                            <td style="border:thin solid #1d1d1b;border-right:0;border-top:0;padding-left:20px">Rent</td>
                            <td style="border:thin solid #1d1d1b;border-right:0;border-top:0;padding-left:20px">
                                <span><%= address %></span><br/>
                            </td>
                            <td style="border:thin solid #1d1d1b;border-top:0;text-align:center;">Rs. <%= bill.amount %>/-</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="297" >&nbsp;</td>
                <td width="297" style="text-align:right;padding:15px;">
                    <table align="right" celpadding="3" cellspacing="0" border="0" width="200" style="font-size:12px" >
                        <tr>
                            <td style="text-align:left;">Amount</td>
                            <td style="text-align:center">:</td>
                            <td style="text-align:right"><%= bill.amount %></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">Convenience FEE</td>
                            <td style="text-align:center">:</td>
                            <td style="text-align:right"><%= calculation['convenience_fee'].to_f + calculation['pg_charge'].to_f  %></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">SGST</td>
                            <td style="text-align:center">:</td>
                            <td style="text-align:right"><%= (calculation['service_tax'].to_f / 2) %></td>
                        </tr>
                        <tr>
                            <td style="text-align:left;">CGST</td>
                            <td style="text-align:center">:</td>
                            <td style="text-align:right"><%= (calculation['service_tax'].to_f / 2) %></td>
                        </tr>
                        <tr>
                            <td style="border-top:thin solid #1d1d1b;border-bottom:thin solid #1d1d1b;text-align:left;">
                                Total Amount
                            </td>
                            <td style="border-top:thin solid #1d1d1b;border-bottom:thin solid #1d1d1b;text-align:center">:</td>
                            <td style="border-top:thin solid #1d1d1b;border-bottom:thin solid #1d1d1b;color:#de7a23;text-align:right">
                                Rs. <%= bill.final_amount %>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="594" colspan="2" height="100"></td>
            </tr>
            <tr>
                <td width="594" colspan="2" style="border-top:thin solid #1d1d1b;border-bottom:thin solid #1d1d1b;color:#ccccc;font-size:14px;padding:15px;">
                    Cusotmer Support and Enquiries
                </td>
            </tr>
            <tr>
                <td width="594" colspan="2" style="border-bottom:thin solid #1d1d1b;color:#888888;padding:15px;">
                    <table cellpadding="0" cellspacing="0" border="0" style="font-size:12px">
                        <tr>
                            <td width="198" style="text-align:left;">support@docketpay.com</td>
                            <td width="198" style="text-align:center;">080 - 4656 4656</td>
                            <td width="198" style="text-align:right;color:#de7a23;">www.docketpay.com</td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td width="594" colspan="2" style="text-align:center;color:#888888;font-size:12px">
                    <span style="color:#212121;font-weight:bold;font-size:14px">Docket Tech Solution Private Limited</span><br/>
                    <span>Newbridge Business Center,</span><br/>
                    <span>Embassy Golf Business Park Block "B", 1st Floor, Pebble Beach</span><br/>
                    <span>Off Intermediate Ring Road,</span><br/>
                    <span>Domlur, Banglore - 560071, Karnataka, India</span>
                </td>
            </tr>
        </table>
    </body>
</html>
       
