<!DOCTYPE html>
<html>
    <head>
        <title>Rent Receipt</title>
    </head>
    <body style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size:12px;">
    <% bill.category.name.split('+').each do |category| %>
        <% category = category.strip %>
        <div style="border:2px solid #000; margin:2% 2% 5% 2%">
            <div style="margin:20px 40px 0 40px;margin-bottom:0;height:auto; display:block; text-align:justify; flex-wrap:wrap">
                <div style="width: 70%; display:inline-block; text-align: left">
                    <h3 style="font-size:16px; font-weight:bold;"><%= category %> RECEIPT 
                        <span style="margin-left:15px;color:#a1a1a1; font-size:14px;"> <%= bill.date_paid.strftime("%B  %Y")%></span>
                    </h3>
                </div>
                <div style="width: 29%; display:inline-block; text-align: right">
                    <p style="width:100%;text-align:left"> Receipt No: <%= bill.id %> <br /> Date: <%= bill.date_paid.strftime("%d/%m/%Y") %> </p>
                </div>
                <br>
                <br>
                <div>
                <% if (category == 'RENT') %>
                        Received sum of 
                        <b>INR Rs.<%= bill.property.rent %></b> from 
                        <b><%= tenant.name %></b> 
                        towards the <%= category %> of property located at 
                        <b><%= address %></b>
                        for period from 
                        <b><%= bill.date_paid.beginning_of_month.strftime("%d, %b %Y") %></b> to 
                        <b><%= bill.date_paid.end_of_month.strftime("%d, %b %Y") %></b>
                    </div>
                    </div>
                        <div>
                            <br>
                            <br>
                            <p style="margin:0;margin-left:40px;margin-bottom:5%;" align="left">
                                <b><%= owner.name %></b> (Landlord) <br /> Pan :<b> <%= owner.pancard || 'NA'  %></b> 
                            </p>
                <% elsif (category == 'MAINTENANCE') %>
                        Received sum of 
                        <b>INR Rs.<%= bill.property.maintenance %></b> from 
                        <b><%= tenant.name %></b> towards the <%= category %> of property located at 
                        <b><%= address %></b>
                        for period from 
                        <b><%= bill.date_paid.beginning_of_month.strftime("%d, %b %Y") %></b> to 
                        <b><%= bill.date_paid.end_of_month.strftime("%d, %b %Y") %></b>
                    </div>
                    <div class="margin" style="margin-bottom:5%"></div>
                <% elsif (category == 'SECURITY DEPOSIT') %>
                        Received sum of 
                        <b>INR Rs.<%= tenant.security_amount %></b> from 
                        <b><%= tenant.name %></b> towards the <%= category %> of property located at 
                        <b><%= address %></b>
                        in month of 
                        <b><%= bill.date_paid.beginning_of_month.strftime("%d, %b %Y") %></b>
                    </div>
                    </div>
                        <div>
                            <br>
                            <br>
                            <p style="margin:0;margin-left:40px;margin-bottom:5%;" align="left">
                                <b><%= owner.name %></b> (Landlord) <br /> Pan :<b> <%= owner.pancard || 'NA'  %></b> 
                            </p>
                <% elsif (category == 'CORPUS FUND') %>
                        Received sum of 
                        <b>INR Rs.<%= bill.amount %></b> from 
                        <b><%= tenant.name %></b> towards the <%= category %> of property located at 
                        <b><%= address %></b>
                        in month of 
                        <b><%= bill.date_paid.beginning_of_month.strftime("%d, %b %Y") %></b>
                    </div>
                    <div class="margin" style="margin-bottom:5%"></div>
                <% end %>
            </div>
        </div>
        <div style="text-align:center;margin-bottom:50px;">
            <p><b>Generated on DocketPay (www.docketpay.com)</b></p>
        </div>
    <% end %>
    </body>
</html>