<html>
<head>
<title>Payment_Due_Rent</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Payment_Due_Rent.jpg) -->
<table id="Table_01" width="596" height="915" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffffff" style="border:thin solid #c1c1c1;margin:auto;font-size:16px;font-family: 'Open Sans', Gill Sans, Arial, Helvetica, sans-serif;line-height:22px;">
	<tr>
		<td width="34" height="66">
			&nbsp;</td>
		<td>
      <a href="https://www.docketpay.com" target="_blank">
		    <%= image_tag "#{@base_url}/assets/mailer/logo_docketpay.png", style: "padding:0;border:0;margin:auto;", width:"132", height:"auto", alt: "docketpay.com" %>
      </a>
    </td>
		<td valign="middle" width="300" height="66">
			&nbsp;</td>
		<td valign="middle">
      <a href="https://www.facebook.com/DocketPay-1197743780280828" target="_blank">
        <%= image_tag "#{@base_url}/assets/mailer/fb_icon.png", style: "padding:0;border:0;margin:auto;", width: "25", height: "auto", alt: "facebook" %>
      </a>
    </td>
		<td valign="middle">
      <a href="https://twitter.com/DocketPay" target="_blank">
			 <%= image_tag "#{@base_url}/assets/mailer/twitter_icon.png", style: "padding:0;border:0;margin:auto;", width: "25", height:"auto", alt: "twitter" %>
      </a>
    </td>
		<td colspan="2" valign="middle">
      <a href="https://plus.google.com/u/0/110471322519184370031" target="_blank">
        <%= image_tag "#{@base_url}/assets/mailer/google_icon.png", style: "padding:0;border:0;margin:auto;", width: "25", height: "auto", alt: "google+" %>
      </a>
    </td>
		<td width="30" height="66">
			&nbsp;</td>
	</tr>
	<tr>
		<td colspan="8">
			<%= image_tag "#{@base_url}/assets/mailer/rent_due.jpg", style:"padding:0;border:0;margin:auto;", width:"596", height:"356", alt: "Rent Payment Due" %></td>
	</tr>
	<tr>
		<td width="34">
			&nbsp;</td>
		<td colspan="5" width="527" valign="middle" style="padding:15px 0;">
      <p>Dear <%= @associate.name %>,</p>
      <p></p>
      <p>Thank you for using our services.</p>
      <p></p>
      <p>As per our records, the Rent for your property number <strong><%= @associate.property.uid %></strong> is due to baid by 
      	<%= @associate.property.rent_date.to_s + Date.today.strftime("-%B-%Y") %>.</p>
		</td>
		<td colspan="2" width="35">
			&nbsp;
    </td>
	</tr>
  <tr>
		<td width="34">
			&nbsp;</td>
		<td colspan="5" width="527" valign="middle">
      <hr style="border-width:1px;border-color:#000000;"/>
		</td>
		<td colspan="2" width="35">
			&nbsp;
    </td>
	</tr>
	<tr>
		<td width="34" height="40">
			&nbsp;</td>
		<td colspan="5" valign="middle">
      <p>In case of any question / clarification</p>
		</td>
		<td colspan="2" width="35" height="40" >
			&nbsp;
    </td>
	</tr>
	<tr>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/Payment_Due_Rent_15.jpg", style:"padding:0;border:0;margin:auto;", width:"34", height:"97", alt: "" %></td>
		<td colspan="5" style="border: 1px solid #000000;">
      <table width="100%" height="97" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td width="50%" height="97" valign="middle" align="center" style="font-size:24px">
            Contact Us
          </td>
          <td width="50%" height="97" valign="middle" align="left" style="padding-left:40px;line-height:30px">
            help@docketpay.com<br/>
            080-4656-4656
          </td>
        </tr>
      </table>
    </td>
		<td colspan="2" width="35" height="97">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="8" width="596" height="34">&nbsp;</td>
	</tr>
	<tr>
		<td colspan="8" width="596" height="126" valign="middle" style="background-color:#333333;text-align:center;line-hight:26px; color:#ffffff;font-width:bold;font-size:20px">
			<span>Warm Regards</span>
      <br/>
      <span style="font-size:28px;line-height:38px">Team Docketpay</span>
      <br/>
      <a href="https://www.docketpay.com" target="_blank" style="text-decoration:none;color:#ffffff;">
        <span style="color:#f7b634;">www.docketpay.com</span>
      </a>
    </td>
	</tr>
	<tr>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/spacer.gif", style: "padding:0;border:0;margin:auto;", width: "34", height: "1", alt: "" %></td>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/spacer.gif", style: "padding:0;border:0;margin:auto;", width: "132", height: "1", alt: "" %></td>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/spacer.gif", style: "padding:0;border:0;margin:auto;", width: "300", height: "1", alt: "" %></td>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/spacer.gif", style: "padding:0;border:0;margin:auto;", width: "33", height: "1", alt: "" %></td>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/spacer.gif", style: "padding:0;border:0;margin:auto;", width: "36", height: "1", alt: "" %></td>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/spacer.gif", style: "padding:0;border:0;margin:auto;", width: "26", height: "1", alt: "" %></td>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/spacer.gif", style: "padding:0;border:0;margin:auto;", width: "5", height: "1", alt: "" %></td>
		<td>
			<%= image_tag "#{@base_url}/assets/mailer/spacer.gif" ,style: "padding:0;border:0;margin:auto;", width: "30", height: "1", alt: "" %></td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>