<p id="notice"><%= notice %></p>

<h1>Employees Roles</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Role</th>
      <th>Employee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees_roles.each do |employees_role| %>
      <tr>
        <td><%= employees_role.role_id %></td>
        <td><%= employees_role.employee_id %></td>
        <td><%= link_to 'Show', employees_role %></td>
        <td><%= link_to 'Edit', edit_employees_role_path(employees_role) %></td>
        <!-- <td><#%= link_to 'Destroy', employees_role, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employees Role', new_employees_role_path %>
