<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @employees_role.role_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @employees_role.employee_id %>
</p>

<%= link_to 'Edit', edit_employees_role_path(@employees_role) %> |
<%= link_to 'Back', employees_roles_path %>
