<%= simple_form_for(@banks_emi) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :bank_id %>
    <%= f.input :status_id %>
    <%= f.input :tenure %>
    <%= f.input :roi %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
