<p id="notice"><%= notice %></p>

<h1>Banks Emis</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Bank</th>
      <th>Status</th>
      <th>Tenure</th>
      <th>Roi</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banks_emis.each do |banks_emi| %>
      <tr>
        <td><%= banks_emi.bank_id %></td>
        <td><%= banks_emi.status ? banks_emi.status.name : banks_emi.status_id %></td>
        <td><%= banks_emi.tenure %></td>
        <td><%= banks_emi.roi %></td>
        <td><%= link_to 'Show', banks_emi %></td>
        <td><%= link_to 'Edit', edit_banks_emi_path(banks_emi) %></td>
        <!-- <td><#%= link_to 'Destroy', banks_emi, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table> 

<br>

<%= link_to 'New Banks Emi', new_banks_emi_path %>
<%= will_paginate @banks_emis %>