<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @banks_emi.bank_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @banks_emi.status_id %>
</p>

<p>
  <strong>Tenure:</strong>
  <%= @banks_emi.tenure %>
</p>

<p>
  <strong>Roi:</strong>
  <%= @banks_emi.roi %>
</p>

<%= link_to 'Edit', edit_banks_emi_path(@banks_emi) %> |
<%= link_to 'Back', banks_emis_path %>
