<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :mobile %>
    <%= f.input :status_id %>
    <%= f.input :profile_type %>
    <%= f.input :profile_id %>
    <%= f.input :mobile_verified %>
    <%= f.input :email_verified %>
    <%= f.input :verified %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
