<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Status</th>
      <th>Profile type</th>
      <th>Profile</th>
      <th>Mobile verified</th>
      <th>Email verified</th>
      <th>Verified</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.mobile %></td>
        <td><%= user.status ? user.status.name : user.status_id %></td>
        <td><%= user.profile_type %></td>
        <td><%= user.profile_id %></td>
        <td><%= user.mobile_verified %></td>
        <td><%= user.email_verified %></td>
        <td><%= user.verified %></td>
        <td><%= link_to "Ownership List", user_ownerships_path(id: user.id)%></td>
        <td><%= link_to "Tenancy List", user_tenancy_path(id: user.id) %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
<%= will_paginate @users %>