<p id="notice"><%= notice %></p>

<h1> <%= @user.name.capitalize %> as Owner to the Properties</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Property Id </td>
      <th>Name</th>
      <th>Added by</th>
      <th>Status</th>
      <th>Property type</th>
      <th>Eb account</th>
      <th>Society available</th>
      <th>Rent</th>
      <th>Maintenance</th>
      <th>Total amount</th>
      <th>Rent Date </th>
      <th>Security Deposit</th>
      <th>Address</th>
      <!-- <th>Details</th> -->
    </tr>
  </thead>

  <tbody>
    <%  if @user.owners %>
    <% @user.owners.each do |owner| %>
      <tr>
        <td><%= owner.property.id %></td>
        <td><%= owner.property.name %></td>
        <td><%= owner.property.added_by %></td>
        <td><%= owner.property.status ? owner.property.status.name : owner.property.status_id %></td>
        <td><%= owner.property.property_type %></td>
        <td><%= owner.property.eb_account %></td>
        <td><%= owner.property.society_available %></td>
        <td><%= owner.property.rent %></td>
        <td><%= owner.property.maintenance %></td>
        <td><%= owner.property.total_amount %></td>
        <td><%= owner.property.rent_date %></td>
        <td><%= owner.property.security_deposit %></td>
        <td><p><%= owner.property.address.locality %>, <%= owner.property.address.city %>, <%= owner.property.address.state.name %>, <%= owner.property.address.pincode %></p>
        </td>
       <!--  <td><#%= link_to "Details", properties_details_path(id: owner.property) %></td>
        <td><#%= link_to 'Show', owner.property %></td>
        <td><%#= link_to 'Edit', edit_property_path(property) %></td> -->
        <!-- <td><#%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
