<p id="notice"><%= notice %></p>

<h1> <%= @user.name.capitalize %> as Tenant to the Properties</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Property Id </td>
      <th>Name</th>
      <th>Added by</th>
      <th>Status</th>
      <th>Property type</th>
      <th>Eb account</th>
      <th>Society available</th>
      <th>Rent</th>
      <th>Maintenance</th>
      <th>Total amount</th>
      <th>Rent Date </th>
      <th>Security Deposit</th>
      <th>Address</th>
      <!-- <th>Details</th> -->
    </tr>
  </thead>

  <tbody>
    <% if @user.tenants %>
    <% @user.tenants.each do |tenant| %>
      <tr>
        <td><%= tenant.property.id %></td>
        <td><%= tenant.property.name %></td>
        <td><%= tenant.property.added_by %></td>
        <td><%= tenant.property.status ? tenant.property.status.name : tenant.property.status_id %></td>
        <td><%= tenant.property.property_type %></td>
        <td><%= tenant.property.eb_account %></td>
        <td><%= tenant.property.society_available %></td>
        <td><%= tenant.property.rent %></td>
        <td><%= tenant.property.maintenance %></td>
        <td><%= tenant.property.total_amount %></td>
        <td><%= tenant.property.rent_date %></td>
        <td><%= tenant.property.security_deposit %></td>
        <td><p><%= tenant.property.address.locality %>, <%= tenant.property.address.city %>, <%= tenant.property.address.state.name %>, <%= tenant.property.address.pincode %></p>
        </td>
       <!--  <td><#%= link_to "Details", properties_details_path(id: owner.property) %></td>
        <td><#%= link_to 'Show', owner.property %></td>
        <td><%#= link_to 'Edit', edit_property_path(property) %></td> -->
        <!-- <td><#%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
  <% end %>
</table>

<br>
