<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @user.mobile %>
</p>

<p>
  <strong>Status:</strong>
  <%= @user.status_id %>
</p>

<p>
  <strong>Profile type:</strong>
  <%= @user.profile_type %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @user.profile_id %>
</p>

<p>
  <strong>Mobile verified:</strong>
  <%= @user.mobile_verified %>
</p>

<p>
  <strong>Email verified:</strong>
  <%= @user.email_verified %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @user.verified %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
