<%= simple_form_for(@eb_provider) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :state_id %>
    <%= f.input :name %>
    <%= f.input :status_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
