<p id="notice"><%= notice %></p>

<h1>Eb Providers</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>State</th>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @eb_providers.each do |eb_provider| %>
      <tr>
        <td><%= eb_provider.state ? eb_provider.state.name : eb_provider.state_id %></td>
        <td><%= eb_provider.name %></td>
        <td><%= eb_provider.status_id %></td>
        <td><%= link_to 'Show', eb_provider %></td>
        <td><%= link_to 'Edit', edit_eb_provider_path(eb_provider) %></td>
        <!-- <td><#%= link_to 'Destroy', eb_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eb Provider', new_eb_provider_path %>
