<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @eb_provider.state_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @eb_provider.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @eb_provider.status_id %>
</p>

<%= link_to 'Edit', edit_eb_provider_path(@eb_provider) %> |
<%= link_to 'Back', eb_providers_path %>
