<%= simple_form_for(@notification) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_id %>
    <%= f.input :url %>
    <%= f.input :notification_type %>
    <%= f.input :message %>
    <%= f.input :read %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
