<p id="notice"><%= notice %></p>

<h1>Notifications</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>User</th>
      <th>Url</th>
      <th>Notification type</th>
      <th>Message</th>
      <th>Read</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notifications.each do |notification| %>
      <tr>
        <td><%= notification.user_id %></td>
        <td><%= notification.url %></td>
        <td><%= notification.notification_type %></td>
        <td><%= notification.message %></td>
        <td><%= notification.read %></td>
        <td><%= link_to 'Show', notification %></td>
        <td><%= link_to 'Edit', edit_notification_path(notification) %></td>
        <!-- <td><#%= link_to 'Destroy', notification, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Notification', new_notification_path %>
<%= will_paginate @notifications %>