<h1>User Verification</h1>
<% %>
<% if @users.length > 0 %>
<% @user = @users.first %>
	<%= @user.name %>
	<div>
		<%= image_tag @user.profile.id_proof_url, class:'pic_style' %>
		<%= image_tag @user.profile.pancard_url, class:'pic_style'%>
	</div>
	<div>
		<%= form_tag('/admin/employees/user_verification/bill_verified', type: :post, :class => '', :style => "") do |f| %>
			<%= hidden_field_tag 'bill_id',nil, value: @user.id %>
			<%= hidden_field_tag 'verified',nil, value: true %>	
			<button type="submit" class="btn btn-default">Verify Profile</button>
		<%end%>	
		<%= form_tag('/admin/employees/user_verification/bill_verified', type: :post, :class => '', :style => "") do |f| %>
			<%= hidden_field_tag 'bill',nil, value: @user.id %>	
			<%= hidden_field_tag 'verified',nil, value: false %>	
			<button type="submit" class="btn btn-default">Incorrect details</button>
		<%end%>	
	</div>
<% else %>
No Verification Pending
<% end %>
<style>
h2{
	text-align: center;
}
.pic_style{
	height: 400px;
    width: 300px;
    position: relative;
    margin-top: 5%;
	margin-left: 15%;
}
.btn-default {
    color: #333;
    background-color: #f16224;
    border-color: #ccc;
    color: #fff;
}
</style>
