<%= form_for(properties_address) do |f| %>
  <% if properties_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(properties_address.errors.count, "error") %> prohibited this properties_address from being saved:</h2>

      <ul>
      <% properties_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %>
    <%= f.number_field :property_id %>
  </div>

  <div class="field">
    <%= f.label :locality %>
    <%= f.text_field :locality %>
  </div>

  <div class="field">
    <%= f.label :building %>
    <%= f.text_field :building %>
  </div>

  <div class="field">
    <%= f.label :floor %>
    <%= f.text_field :floor %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :state_id %>
    <%= f.number_field :state_id %>
  </div>

  <div class="field">
    <%= f.label :flat_no %>
    <%= f.text_field :flat_no %>
  </div>

  <div class="field">
    <%= f.label :pincode %>
    <%= f.text_field :pincode %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
