<p id="notice"><%= notice %></p>

<h1>Properties Addresses</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Property</th>
      <th>Locality</th>
      <th>Building</th>
      <th>Floor</th>
      <th>City</th>
      <th>State</th>
      <th>Flat no</th>
      <th>Pincode</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties_addresses.each do |properties_address| %>
      <tr>
        <td><%= properties_address.property_id %></td>
        <td><%= properties_address.locality %></td>
        <td><%= properties_address.building %></td>
        <td><%= properties_address.floor %></td>
        <td><%= properties_address.city %></td>
        <td><%= properties_address.state_id %></td>
        <td><%= properties_address.flat_no %></td>
        <td><%= properties_address.pincode %></td>
        <td><%= link_to 'Show', properties_address %></td>
        <td><%= link_to 'Edit', edit_properties_address_path(properties_address) %></td>
        <!-- <td><#%= link_to 'Destroy', properties_address, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Properties Address', new_properties_address_path %>
 <%= will_paginate @properties_addresses %>