<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @properties_address.property_id %>
</p>

<p>
  <strong>Locality:</strong>
  <%= @properties_address.locality %>
</p>

<p>
  <strong>Building no:</strong>
  <%= @properties_address.building %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @properties_address.floor %>
</p>

<p>
  <strong>City:</strong>
  <%= @properties_address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @properties_address.state_id %>
</p>

<p>
  <strong>Flat no:</strong>
  <%= @properties_address.flat_no %>
</p>

<p>
  <strong>Pincode:</strong>
  <%= @properties_address.pincode %>
</p>

<%= link_to 'Edit', edit_properties_address_path(@properties_address) %> |
<%= link_to 'Back', properties_addresses_path %>
