<!DOCTYPE html>
<html lang="en" data-ng-app="docketApp">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<!-- Meta, title, CSS, favicons, etc. -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Docket Pay</title>
	<link rel="icon" href="/Homepage/img/favicon.ico" type="image/x-icon" />
	<!-- Bootstrap -->
	<link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="components/toastr/toastr.min.css">
	<!-- Font Awesome -->
	<link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- NProgress -->
	<link href="vendors/nprogress/nprogress.css" rel="stylesheet">
	<!-- iCheck -->
	<link href="vendors/iCheck/skins/flat/green.css" rel="stylesheet">
	<!-- bootstrap-progressbar -->
	<link href="vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
	<!-- JQVMap -->
	<link href="vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
	<!-- bootstrap-daterangepicker -->
	<link href="vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
	<!-- Select2 -->
	<link href="vendors/select2/dist/css/select2.min.css" rel="stylesheet">
	<!-- Custom Theme Style -->
	<link href="build/css/custom.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/app.css"/>
	<link rel="stylesheet" type="text/css" href="css/angular-busy.css"/>
</head>
<body class="nav-md" cg-busy="{promise:promise,message:'Loading',backdrop:false,templateUrl:'myAwesomeTemplate.html',delay:300,minDuration:700}">
<div class="container body">
	<div class="main_container">
		<div class="col-md-3 left_col">
			<div class="left_col">
				<div class="navbar nav_title" style="border: 0;">
					<a href="/#/home" class="site_title"> <img height="50px" width="180px" src="imageslogo/LogoWhite_Docket_Pay.png" alt="..." ></a>
				</div>
				<div class="clearfix"></div>
				<!-- menu profile quick info -->
				<div class="profile clearfix">
					<div class="profile_pic">
						<img src="images/img.png" alt="..." class="img-circle profile_img">
					</div>
					<div class="profile_info">
						<span>Welcome</span>
						<h2>{{userName}}</h2>
					</div>
				</div>
				<!-- /menu profile quick info -->
				<br />
				<!-- sidebar menu -->
				<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
					<div class="menu_section">
						<h3>General</h3>
						<ul class="nav side-menu">
							<li><a href="#/dashboard"><i class="fa fa-home"></i> Dashboard</a> </li>
							<li><a href="#/profile"><i class="fa fa-user"></i> My Profile</a></li>
							<li><a href="#/allproperty"><i class="fa fa-institution"></i> Pay Now </a></li>
							<li><a href="#/property"><i class="fa fa-plus-square-o"></i> Add Property </a></li>
							<li><a href="#/bill"><i class="fa fa-history"></i>  Transaction History </a></li>
							<li><a href="#/notification"><i class="fa fa-desktop"></i> Notification</a></li>
							<li><a href="#/queries"><i class="fa fa-table"></i> Enquiry</a></li>
							<li><a href="#/invite"><i class="fa fa-users"></i> Invite </a></li>
						</ul>
					</div>
				</div>
				<!-- /sidebar menu -->
				<!-- /menu footer buttons -->
				<div class="sidebar-footer hidden-small">
				</div>
				<!-- /menu footer buttons -->
			</div>
		</div>
		<!-- top navigation -->
		<div class="top_nav">
			<div class="nav_menu">
				<nav>
					<div class="nav toggle">
						<a id="menu_toggle"><i class="fa fa-bars"></i></a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li class="">
							<a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<img src="images/img.png" alt="">{{userName}}
								<span class=" fa fa-angle-down"></span>
							</a>
							<ul class="dropdown-menu dropdown-usermenu pull-right">
								<li><a href="#/profile"> Profile</a></li>
								<li><a ng-click="logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
							</ul>
						</li>
						<li role="presentation" class="dropdown">
							<a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
								<i class="fa fa-envelope-o"></i>
								<span class="badge bg-green">{{notificationsCount()}}</span>
							</a>
							<ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
								<li ng-repeat="notification in notifications "><a>
									<span class="image">
										<div ng-if="notification.url.indexOf('https://encrypted-tbn3.gstatic.com/images') > -1">
											<img alt="Profile Image"  ng-src="{{notification.url}}" />
										</div>
										<div ng-if="! (notification.url.indexOf('https://encrypted-tbn3.gstatic.com/images') > -1)">
											<img src="images/img.png" alt="Profile Image" />
										</div>
									</span>
									<span>
						  				<span>{{notification.notification_type}}</span>
									</span>
									<span class="message">
										{{notification.message}}
									</span>
									</a>
								</li>
								<li>
									<div class="text-center">
										<a href="#/notification">
											<strong>See All Alerts</strong>
											<i class="fa fa-angle-right"></i>
										</a>
									</div>
								</li>
							</ul>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<!-- /top navigation -->
		<div ui-view></div>
		<!-- footer content -->
		<footer class="navbar-fixed-bottom">
			<div class="pull-right">
				Copyright &copy; Docket Tech Solutions Private Limited. All Rights Reserved  2016.
			</div>
			<div class="clearfix"></div>
		</footer>
		<!-- /footer content -->
	</div>
</div>

<!-- JavaScript Libs -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="components/angular/angular.js"></script>
<script type="text/javascript" src="lib/angular-ui-router.min.js"></script>
<script type="text/javascript" src="lib/angular-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-messages/1.6.0/angular-messages.js"></script>

<script src="components/toastr/toastr.min.js"></script>
<script src="components/aws-sdk-js/dist/aws-sdk.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/config.js"></script>

<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
<script type="text/javascript" src="js/directives.js"></script>
<script type="text/javascript" src="js/filters.js"></script>
<script type="text/javascript" src="js/angular-busy.js"></script>
<script type="text/javascript" src="js/angular-file-upload.js"></script>

<!-- Bootstrap -->
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="vendors/fastclick/lib/fastclick.js"></script>
<!-- NProgress -->
<script src="vendors/nprogress/nprogress.js"></script>
<!-- Chart.js -->
<script src="vendors/Chart.js/dist/Chart.min.js"></script>

<!-- bootstrap-progressbar -->
<script src="vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
<!-- iCheck -->
<script src="vendors/iCheck/icheck.min.js"></script>
<!-- Skycons -->
<script src="vendors/skycons/skycons.js"></script>
<!-- Flot -->
<script src="vendors/Flot/jquery.flot.js"></script>
<script src="vendors/Flot/jquery.flot.pie.js"></script>
<script src="vendors/Flot/jquery.flot.time.js"></script>
<script src="vendors/Flot/jquery.flot.stack.js"></script>
<script src="vendors/Flot/jquery.flot.resize.js"></script>
<!-- Flot plugins -->
<script src="vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
<script src="vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
<script src="vendors/flot.curvedlines/curvedLines.js"></script>
<!-- DateJS -->
<script src="vendors/DateJS/build/date.js"></script>
<!-- Select2 -->
<script src="vendors/select2/dist/js/select2.full.min.js"></script>
<script src="vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
<!-- bootstrap-daterangepicker -->
<script src="vendors/moment/min/moment.min.js"></script>
<script src="vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- jQuery Smart Wizard -->
<script src="vendors/jQuery-Smart-Wizard/js/jquery.smartWizard.js"></script>
<!-- Custom Theme Scripts -->
<script src="build/js/custom.min.js"></script>
</body>
</html>