 <div class="col-lg-12" >
	<div class="col-lg-3"></div>
	<div class="col-md-6 center" >
		
  <br/><br/>
		<div class="form-group">
			<label class="sr-only" for="form-email">Email</label>
			<input type="email" name="form-email" ng-model="user.email" placeholder="Email..." class="form-email form-control" id="form-email">
		</div>
		  <div class="form-group">
			<label class="sr-only" for="form-last-name">Password</label>
			<input type="password" name="form-last-name"  ng-model="user.password" placeholder="Password..." class="form-last-name form-control" id="form-last-name">
			<a href="#/forgot" class="text-right">Forgot Password </a>
		</div>
    </div>
	<div class="col-lg-3"></div>
</div>		

 <div class="clearfix"></div>
<div class="col-lg-12 text-center">
	<br/><br/><br/><br/>
		<a href="#/user" class="btn btn-xl"> Sign up!</a>
	  <button type="submit" class="btn btn-xl">Login</button>
</div>