 <div class="col-lg-12" >
	<div class="col-lg-3"></div>
	<div class="col-md-6 center" >
		<div class="form-group">
			<label class="sr-only" for="form-first-name">Name</label>
            <input type="text" name="form-first-name" ng-model="user.name" placeholder="Full Name " class="form-first-name form-control" id="form-first-name">

		</div>
	  
		<div class="form-group">
			            <label class="sr-only" for="form-first-name">Mobile</label>
            <input type="tel" name="form-first-name"  ng-model="user.mobile" placeholder="Mobile" class="form-first-name form-control" id="form-first-name">

		</div>
	  
		<div class="form-group">
			<label class="sr-only" for="form-email">Email</label>
	   <input type="email" name="form-email" ng-model="user.email" placeholder="Email" class="form-email form-control" id="form-email">

		</div>
		  <div class="form-group">
			<label class="sr-only" for="form-last-name">Password</label>
		     <input type="password" name="form-last-name"  ng-model="user.password" placeholder="Password" class="form-last-name form-control" id="form-last-name">

		</div>
    </div>
	<div class="col-lg-3"></div>
</div>			
 <div class="clearfix"></div>
<div class="col-lg-12 text-center">
	
	
	<a href="#/login" class="btn btn-xl"> Login</a>
	 <button type="submit" class="btn btn-xl">Sign me up!</button>
</div>