
<!-- Contact Section -->
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h4 class="section-heading">Email Verification is sucessfull, Please verify OTP</h4> 
					<h5 class=" text-muted" ng-model="error"  style="color:#fed136" role="alert"> {{error}}</h5>
                </div>
            </div>
            <div class="row">
			
    
                <div class="col-lg-12">
                    <form role="form" action="" id="contactForm" ng-submit="validation()" name="myForm"  class="registration-form">
						 <div class="col-lg-12" >
	<div class="col-lg-3"></div>
	<div class="col-md-6 center" >
		
  <br/><br/>
		<div class="form-group">
			<label class="sr-only" for="form-email">OTP</label>
			<input type="text" name="form-email" ng-model="otp" placeholder="OTP..." class="form-email form-control" id="form-email">
		</div>
		
    </div>
	<div class="col-lg-3"></div>
</div>		

 <div class="clearfix"></div>
<div class="col-lg-12 text-center">
	<br/><br/><br/><br/>
		<a href="#/user" class="btn btn-xl"> Sign up!</a>
	  <button type="submit" class="btn btn-xl">Submit</button>
</div>

                    </form>
                </div>
            </div>
        </div>
    </section>

