<!-- Services Section -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Privacy Policy</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-2">
				  <p class="text-muted">List</p>
					 <ul class="list-inline quicklinks">
					  <li><a href="#/privacy">Privacy Policy</a>
                        </li><br/>
                        <li><a href="#/disclaimerprivacy">Disclaimer Policy</a>
                        </li><br/>
                        <li><a href="#/refundpolicy">Refund Policy</a>
                        </li><br/>
                    </ul>
                   
                  
                </div>
                <div class="col-md-10">
                   
                    <h4 class="service-heading">DISCLAIMER POLICY FOR DOCKETPAY</h4>
                    
					 <h4 class="service-heading">YOU EXPRESSLY UNDERSTAND AND AGREE THAT, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW:</h4>
					 <p class="text-muted"> THE WEBSITE AND OTHER PRODUCTS AND SERVICES ARE DELIVERED TO YOU BY DOCKETPAY ARE (EXCEPT AS EXPRESSLY STATED BY US) PROVIDED  " AS IS " AND “AS AVAILABLE” FOR USE, BASIS WITHOUT WARRANTY, REPRESENTATION OR CONDITIONS OF ANY KIND, EITHER EXPRESS, IMPLIED,       STATUTORY OR OTHERWISE, INCLUDING THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. WITHOUT LIMITING THE FOREGOING, DOCKETPAY MAKES NO WARRANTY THAT:</P>
					
					 <p class="text-muted">YOUR REQUIREMENTS WILL BE MET OR THAT SERVICES PROVIDED WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE; INFORMATION OBTAINED AND RESULTS OBTAINED FROM THE USE OF SERVICE WILL BE EFFECTIVE, ACCURATE OR RELIABLE; ANY ERRORS OR DEFECTS IN THE WEBSITE, SERVICES OR OTHER MATERIALS WILL BE CORRECTED. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, WE WILL HAVE NO LIABILITY RELATED TO USER CONTENT ARISING UNDER INTELLECTUAL PROPERTY RIGHTS, LIBEL, PRIVACY, PUBLICITY, OBSCENITY OR OTHER LAWS. DOCKETPAY ALSO DISCLAIMS ALL LIABILITY WITH RESPECT TO THE MISUSE, LOSS, MODIFICATION OR UNAVAILABILITY OF ANY USER CONTENT. THE USER UNDERSTANDS AND AGREES THAT ANY MATERIAL OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE WEBSITE IS DONE ENTIRELY AT THEIR OWN DISCRETION AND RISK AND THEY WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO THEIR COMPUTER SYSTEMS OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF SUCH MATERIAL OR DATA. WE ARE NOT RESPONSIBLE FOR ANY TYPOGRAPHICAL ERROR LEADING TO AN INVALID COUPON. DOCKETPAY ACCEPTS NO LIABILITY FOR ANY ERRORS OR OMISSIONS, WITH RESPECT TO ANY INFORMATION PROVIDED TO YOU WHETHER ON BEHALF OF ITSELF OR THIRD PARTIES.
WE SHALL NOT BE LIABLE FOR ANY THIRD PARTY PRODUCT OR SERVICES.WE ARE NOT RESPONSIBLE FOR SUSPENSION OF ANY SERVICE FOR INDEFINITE PERIOD OF TIME OR CANCEL THE SERVICE AT ANY TIME, WITHOUTNOTICETOYOU.</P>
					 
				 
					 
					 <h4 class="service-heading">INCORRECT INFORMATION: </h4>
					 <p class="text-muted">DocketPay shall not responsible for payments made to incorrect bank account numbers and the User will not be entitled to get refund of any kind. You shall provide current, complete and accurate account information for all Payments made at our website. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you as needed. In the case that the information provided by you are false and inaccurate or the Company has reasonable reasons to believe you have done so, we hold the rights to suspend your account and / or terminate this Agreement without being held liable for the same.</P>
				  
				  <h4 class="service-heading">MISUSE OF SERVICES: </h4>
					 <p class="text-muted">DocketPay shall not responsible if the User misuses the sole purpose of the Service provided by it.  In the event of misuse, for instance, a user makes dummy transactions just to transfer money between two different accounts leads to termination of services with immediate effect. DocketPay reserves the right to refuse service to anyone for any reason at any time.</P>

				<h4 class="service-heading">TAX LIABILITY: </h4>
					 <p class="text-muted">All the users of DocketPay are liable to pay all kinds of statutory levies. The service tax applicable for the use of the DocketPay Service is already accounted in the convenience fees charged by DocketPay. Onus of paying Income tax and reporting income to the concerned tax authorities is sole liability of the concerned parties which in this case refers to landlord and DocketPay takes no responsibility for the same.</P>



                </div>
                
            </div>
        </div>
    </section>