    <!-- Header -->
    <header>
        <div class="container">
		
		 <div class="col-lg-12" >
			<div class="col-lg-4"></div>
			<div class="col-lg-8">
            <div class="intro-text">
                <div class="intro-lead-in">Pay Or Accept Rent Online</div>
                <div class="section-heading">Pay & Accept monthly rents and payments with your Credit/Debit Card and Net Banking! <br/>Go cashless!</div>
				<br/><br/>
                <a href="#/login" class="page-scroll btn btn-xl">Pay / Accept NOW</a>
            </div>
			</div>
		 </div>
			
			
        </div>
    </header>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">HOW IT WORKS</h2>
                    <h3 class="section-subheading text-muted">Go Cashless with DocketPay - Simple & Secure </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
					<a href="#user">  
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                        </span> </a>
                        <h4 class="service-heading">SIGN UP</h4>
                   

                   
                    <p class="text-muted">Create your free User Profile effortlessly with just a few clicks</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">ADD PROPERTY</h4>
                    <p class="text-muted">Tell us which property you want to pay rent for and add your landlord account details</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PAY / ACCEPT ONLINE</h4>
                    <p class="text-muted">Choose the payment method that suits you best</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Tenant Grid Section -->
    <section id="tenant" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tenant</h2>
                    <h3 class="section-subheading text-muted">Sign up with DocketPay and give yourself leverage to a new and secure online payment method</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
					<a href="">  
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <h4 class="service-heading">PAY RENT</h4>
                    <p class="text-muted">with Credit / Debit Card or Net Banking</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-tint  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PAY MAINTENANCE</h4>
                    <p class="text-muted">Add your society details and start paying online</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PAY SECURITY DEPOSIT</h4>
                    <p class="text-muted">No more worries, just pay with your Credit Card and convert into EMI's</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Lanlord Section -->
    <section id="lanlord">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Landlord</h2>
                    <h3 class="section-subheading text-muted">Sign up for Rent Collection from your Tenant on time and online</h3>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-6">
                    <a href="">  
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-credit-card fa-stack-1x fa-inverse"></i>
                        </span> </a>
                        <h4 class="service-heading">COLLECT RENT</h4>
                    <p class="text-muted">Keep track of and streamline your rental receivables</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">COLLECT SECURITY DEPOSIT</h4>
                    <p class="text-muted">No more waiting - add your property and collect deposits instantly!</p>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PAY MAINTENANCE</h4>
                    <p class="text-muted">Pay online! From anywhere, at any time</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">PAY CORPUS FUND</h4>
                    <p class="text-muted">Adhoc payment! Pay your Corpus Fund online with different payment methods</p>
                </div>
            </div>
        </div>
    </section>
     <!-- Services Section -->
    <section id="services" style='background-color: #eeeeee;'>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">OUR SERIVCES</h2>
                    <h3 class="section-subheading text-muted">We are on the verge of changing the way Rental and Payments are transacted in India</h3>
                </div>
            </div>
             <div class="row text-center">
                <div class="col-md-3">
					<a href="">  
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                        </span> </a>
                        <h4 class="service-heading">Rent</h4>
                   

                   
                    <p class="text-muted">Tenant: Pay rent<br/>Landlord: Collect rent</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-home fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security Deposit</h4>
                    <p class="text-muted">Tenant: Pay Security Deposit <br/>Landlord: Collect Security Deposit</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa fa-money fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Maintenance</h4>
                    <p class="text-muted">Tenant: Pay Maintenance <br/> Associations: Collect Maintenance</p>
                </div>
				<div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Corpus Fund</h4>
                    <p class="text-muted">Pay your Corpus Fund</p>
                </div>
            </div>
			
        </div>
    </section>
	
	
	<!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class=" text-muted" ng-model="error"  style="color:#fed136" role="alert"> {{error}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" ng-submit="addQuery()" id="contactForm" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" ng-model="query.name" placeholder="Your Name *" id="name" required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email " ng-model="query.email" id="email" required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control" placeholder="Your Phone " ng-model="query.mobile"  id="phone" required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" ng-model="query.query" placeholder="Your Message *" id="message" required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>