
<!-- Contact Section -->
    <section id="login">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Login</h2> 
					<h3 class=" text-muted" ng-model="error"  style="color:#fed136" role="alert"> {{error}}</h3>
                </div>
            </div>
            <div class="row">
			
    
                <div class="col-lg-12">
                    <form role="form" action="" id="contactForm" ng-submit="validation()" name="myForm"  class="registration-form">
						<div ng-include="'dashboard/partials/_formlogin.html'"></div>

                    </form>

                </div>
            </div>
        </div>
    </section>

