<!-- Services Section -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Privacy Policy</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-2">
				 <p class="text-muted">List</p>
					 <ul class="list-inline quicklinks">
					  <li><a href="#/privacy">Privacy Policy</a>
                        </li><br/>
                        <li><a href="#/disclaimerprivacy">Disclaimer Policy</a>
                        </li><br/>
                        <li><a href="#/refundpolicy">Refund Policy</a>
                        </li><br/>
                    </ul>
                   
                  
                </div>
                <div class="col-md-10">
                   
                    <h4 class="service-heading">PRIVACY POLICY FOR DOCKETPAY</h4>
                    <p class="text-muted">We know privacy is important to you. It is also vital to our business. This Privacy Policy describes the types of "Personal Information" (information that is identifiable to a particular person) collected in connection with the DocketPay Service, and explains how we safeguard your privacy as a user of the Service. For more details on what your rights and obligations are when using the Service, please refer to the "Terms and Conditions" for the Service.</p>
					
					
					 <h4 class="service-heading">I. What Types of Personal Information We Collect</h4>
					 <p class="text-muted"> The Personal Information that the Service collects from or about you may include:</P>
					  <ul class="list-inline">
					   <li>Contact Information such as name, postal addresses, telephone numbers, and e‐mail addresses; </li>
					   <li>User Account and Subscriber numbers and other information on statements; </li>
					   <li>Information about bank accounts, debit card accounts and credit card accounts, to make Payments through DocketPay; </li>
					   <li>Information such as birth date,  PAN Card Number and KYC details to help verify your identity; </li>
					   <li>Your IP address and standard web log information, such as your browser type and the pages you accessed on the DocketPay’s website; </li>
					   <li>Information provided to us by identity verification services; </li>
					   <li> Information to help authenticate your access to DocketPay; and</li>
					   <li>Other information relevant to customer surveys/feedbacks/CIBIL scores and/or offers. </li>
					  </ul>
					<h4 class="service-heading">II. How and from Whom We Collect Your Information</h4>
					 <p class="text-muted">DocketPay may collect Personal Information about you from your use of the Service, from Docket, from you directly through your entry of information for the Service, and from service providers under contract who assist us with identity verification and fraud prevention. Additionally, we may collect information from your financial institutions and credit card companies in the course of executing, researching, and supporting transactions.</P>
					 
					 
					 <h4 class="service-heading">III. How We May Use and Disclose Your Personal Information</h4>
					 <p class="text-muted">DocketPay treats your Personal Information as confidential. The Service does not sell or rent your Personal Information. The Service does not use or share your Personal Information in a manner that differs from what is described in this Privacy Policy without your prior consent. We will not sell, distribute or lease your Personal Information to third parties unless we have your permission or are required by law to do so. We may use your Personal Information to send you promotional information about third parties which we think you may find interesting if you tell us that you wish this to happen. We may use and disclose your Personal Information for the following purposes, including limited disclosures to our affiliates, to non‐affiliated third party service providers performing services on our behalf, and to certain other non-affiliated entities as described below:</P>

					<ul class="list-inline">
					   <li>To complete transactions and render products and services authorized by you (such as to share the information with DocketPay, to complete a Payment, and to send messages to you related to authorized services) </li>
					   <li>To verify your identity and perform fraud screening, to verify the information contained in your DocketPay User accounts (such as comparing information for accuracy with third parties during the enrollment process or as you add a bank account in the Service), and to perform follow up transactions related to your Payments (e.g., returns and chargebacks);</li>
					   <li>To comply with laws and regulations, including compliance with court orders or lawful instructions from a government agency, to protect the personal safety of subscribers or the public, to defend the Service from claims, and to protect the Service’s rights and property, and as permitted by applicable law;</li>
					   <li>To complete a change of control transaction in which all or a portion of Docket operations and business are purchased or acquired by a third party; and</li>
					   <li>As otherwise authorized by you.</li>
					  
					  </ul>

					  
					   <h4 class="service-heading">IV. How We Use Cookies</h4>
					 <p class="text-muted">When you access the DocketPay, we, or companies we hire, may place small data files called "cookies" on your computer to track how our Website is used. We also use cookies to customize the Service, its content and advertising, to measure promotional effectiveness, and to promote trust and integrity.
We send a "session cookie" to your computer when you log in to your account or otherwise use the DocketPay Service. This type of cookie helps us recognize you if you visit multiple pages on our site during the same session. Once you log out or close your browser, this cookie expires and no longer has any effect. We encode our cookies so that only we can interpret the information stored in them. You are free to decline our cookies if your browser permits, but doing so may interfere with your use of our Website.
We may also collect information about your computer or other access device to mitigate risk and for fraud prevention purposes.
You may encounter cookies from third parties when using the Service on websites that we do not control (for example, if you view a web page created by a third party or use an application developed by a third party, there may be a cookie placed by that web page or application.)</P>

  <h4 class="service-heading">V. How We Keep Your Information Secure</h4>
					 <p class="text-muted">To ensure your Personal Information remains confidential, DocketPay maintains physical, electronic, and procedural safeguards to help prevent unauthorized access to your Personal Information. We update and test our technology frequently to improve these protections and to ensure the integrity of your Personal Information.
DocketPay has policies and procedures that limit employee access to your Personal Information to those with a business reason to have such information. We educate our employees about the importance of confidentiality and customer privacy, and we take appropriate disciplinary measures to enforce our privacy practices.</P>


 <h4 class="service-heading">VI. Compliance with Applicable Laws</h4>
					 <p class="text-muted">We comply with applicable laws and regulations pertaining to information about you, including Indian laws pertaining to "nonpublic sensitive personal information" and "consumer report information." We use and disclose those types of information only as permitted by applicable law and this Privacy Policy. </P>


                </div>
                
            </div>
        </div>
    </section>