<!-- Services Section -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Privacy Policy</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-2">
				  <p class="text-muted">List</p>
					 <ul class="list-inline quicklinks">
					 <li><a href="#/privacy">Privacy Policy</a>
                        </li><br/>
                        <li><a href="#/disclaimerprivacy">Disclaimer Policy</a>
                        </li><br/>
                        <li><a href="#/refundpolicy">Refund Policy</a>
                        </li><br/>
                    </ul>
                   
                  
                </div>
                <div class="col-md-10">
                   
                    <h4 class="service-heading">Refund Policy</h4>
                    <p class="text-muted">The User shall voluntarily use the DocketPay platform for remitting rental payments and is not bound by any contract for mandatory use. Users shall have very well understood and acknowledge that payments when made into a bank account of your registered landlord are irreversible as the same falls under the personal jurisdiction of the said person. The Service here refers to remittance of rent amount from your bank account and DocketPay will not be liable to reverse such payments. As the service once rendered is irreversible, the user shall not be entitled for any refunds in case of successfully remitted payments to landlords.</p>
					
					
					 <h4 class="service-heading">THERE SHALL BE NO REFUNDS OR REVERSAL OF ANY KIND FOR SUCCESSFULLY REMITTED RENTAL PAYMENTS.</h4>
					 <p class="text-muted">However, the User shall be fully refunded for any kind of debits on account of technical failure on the Website. Technical failure in this context refers to a deviation from the established payment process on our Website without an acknowledgement to the User on the successful remittance of the payment. In such a case, the User shall be refunded the entire amount, including the service fees (if any), without any demur into his account within 10 to 15 working days.<br/>
All refunds to customers shall not entail any charge-back of convenience fee and service taxes.</P>
					 
                </div>
                
            </div>
        </div>
    </section>