<!-- Services Section -->
    <section >
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Terms and Condition</h2>
                    <!-- <h3 class="section-subheading text-muted">TERMS AND CONDITIONS OF THE DOCKET PAYMENT SERVICES</h3> -->
                </div>
            </div>
            <div class="row text-center">
              
                <div class="col-md-12 text-left">
                    
                    
                    <p class="text-muted">This website<a href=""> www.docketpay.com </a> (hereinafter referred to as <b>“Website”</b>) is owned and operated by <b>Docket Tech Solutions Private Limited</b>, having its office at <b>#601, 12th Main Road, HAL 2nd Stage, Indiranagar, Bangalore-560008, India</b>. The User Account Information, User Terms and Conditions along with our Privacy Policy (collectively this <b>"Agreement"</b>) forms the terms and conditions of use of DocketPay for online rent payment, purchasing rent agreements or such other services which may be added from time to time <b>("Service(s)")</b>. This Agreement is a legal document between the User (as defined below) and by Docket Tech Solutions Private Limited <b>(“DTSPL”)</b> and any of its subsidiaries <b>("us," "we," "our" or "Docket")</b> governing the Users' relationship with Docket and third party service providers.</p>
					
					<h4 class="service-heading">DEFINITIONS:</h4>
					 <p class="text-muted">  <b>"Authorized User” or “User" </b> is you as the subscriber <b>(“Subscriber”) </b> to the DocketPay or any individual whom you allow to use the Service or your password or other means to access your Docket Wallet. </p>
					 <p class="text-muted">  <b>"User Account" </b> means the account you have formed directly with DocketPay for acquiring the services provided to you by Docket, which includes Your Personal Information (name, mobile number, email id etc. specific to the User).</b>
					 <p class="text-muted">  <b>“Business Day”</b> means Monday through Saturday, but excluding holidays as observed by the Reserve Bank of India (“RBI”).</b>
					 <p class="text-muted">  <b>“DocketPay” </b> is a platform for all rental property owners, landlords (collectively referred to as “Participating Affiliates”) and their respective tenants, remitting payments for availing rent payment and other property management services. DocketPay facilitates various electronic payment options for the use of services by the users for their monthly rents, periodic rents, security deposits, other deposits, and all other fees and charges related to leased space, fixed or variable. You, as the tenant of a Participating Landlord, are eligible to use the Services of the Website to pay your rent and any related fees. Your credit card payments, or other on-line electronic payments made through the Service will be remitted to your Participating Landlord in accordance to the information provided by you. You will receive a timely confirmation/notification from DocketPay acknowledging the receipt of credit card or on-line electronic payments. Unless explicitly stated otherwise, any new features, which enhance or augment DocketPay’s current service offering shall be subject to the terms and conditions of service. You must obtain access to the World Wide Web and/or Internet in order to use the Service, either directly or through other devices that access web-based content. You must also pay any service fees associated with such access. In addition, you must supply all necessary equipment to connect to the World Wide Web and/or Internet, including a computer, a modem or other access devices. </p>
					 <p class="text-muted">  <b>“Payment” </b> is a payment transaction initiated by an Authorized User through the Service to DocketPay. </p>
					 <p class="text-muted">  <b>"Payment Instruction" </b> is the information provided by you to the Service for a Payment to be made to Docket (such as, but not limited to, User Account number, Payment Date).</p>
					 <p class="text-muted">  <b>“Payment Gateway Service Provider” </b>means the debit card/credit card, issuing banks, Nodal Banks and other statutory, regulatory and governmental authorities which shall facilitate the payment services for DocketPay and the User. </p>
					 <p class="text-muted">  <b>“Personal Information” </b>refers to information used to uniquely identify a single person. </p>
					 <p class="text-muted">  <b>“Scheduled Payment” </b> is a Payment established to take place on a future date that has been established by you.</p> 
					 <p class="text-muted">  <b>"Service" </b> shall have the meaning ascribed to it in the Recital. </p>
					 <p class="text-muted">  <b>“User”, “You" and "your" </b>refer to the individual that is accessing the Website and/or using the Service. </p> 
					 
					 <h4 class="service-heading">1.REGISTRATION FOR SERVICES</h4>
					
					 <p class="text-muted">  You must register with us and open User Account in order to use the Services. We allow both individuals and legal entities to register with Docket. You agree to: </p>
					 <ul>
					 <li>Provide only current, accurate and complete information about yourself in the course of registering to use the Services (such information being the "Personal Information"); and </li>
					 <li> Maintain and promptly update the Personal Information, as necessary, to keep it true, accurate, current and complete at all times. If you provide any information that is untrue, inaccurate, not current or incomplete, or we have grounds to suspect that such information is untrue, inaccurate, not current or incomplete, we may suspend or terminate your account and refuse any and all current or future use of the Services (or any portion thereof) and you will not have any cause of action against us for such suspension or termination of your account.</li>
					 </ul>
	
					 <p class="text-muted"> You represent that you are the legal owner of, and that you are authorized to provide us with, all Personal Information, account information and other information necessary to facilitate your use of the Services. </p> 
					 <p class="text-muted"> For registration of your business, you are permitted to apply and enroll only if you represent a legitimate business and have the authority to enter into these Terms and Condition on behalf of the business. You represent and warrant that you are duly authorized by the business entity to accept this Agreement and have the authority to bind such business entity to the terms and conditions given in this Agreement. Further, you represent and warrant that the business entity will continue its acceptance through the then authorized signatories, the terms of this Agreement as may be modified from time to time as long as such business entity continues using the Services. </p>
					 <p class="text-muted"> You further represent and warrant that the business entity has all the requisite consents, approvals, certificates, agreements, registrations and licenses in accordance with the laws, regulations, rules and guidelines in force in India from time to time. </p> 
					
					 <h4 class="service-heading"> 2.ELIGIBILITY</h4>
					
					 <p class="text-muted">To be eligible for the Service, you must be at least 18 years old and competent to enter into a contract.  </p>
					 <p class="text-muted">Your use of the Service is your confirmation that you meet all eligibility requirements for the Service and your acceptance of and agreement to the Docket Terms and Conditions of Service.  </p>
					 
					 
					 
					 <h4 class="service-heading">3.AUTHORIZATION </h4>
					 <p class="text-muted">By accepting these Terms and Conditions, you authorize Docket to request for supplemental documentation (KYC, PAN card etc.) at any time (before or after your User Account has been activated), in order to verify your identity, the accuracy of the information provided. If we cannot verify that this information is accurate and complete, we may deny your use of the Services, or close your User Account at any time. At any time, Docket may conclude that you will not be permitted to use the Service.  </p>
					 <p class="text-muted"> You also authorize DocketPay to follow the Payment Instructions that it receives from you through Docket. When DocketPay receives a Payment Instruction, you authorize DocketPay to remit funds to the landlord’s account on your behalf. You certify that any financial information you add to your profile is an account held by you and from which you are legally authorized to debit or charge Payments. </p>
					 <p class="text-muted">DocketPay shall not incur any liability if it is unable to complete any Payments initiated by you for any reason beyond DocketPay’s control, including because of the existence of any one or more of the following circumstances:  </p>
					 	 <ul>
					 <li>If, through no fault of DocketPay, your bank account, debit card or credit card does not contain sufficient funds or a sufficient credit limit to complete the Payment or if the Payment would exceed the credit limit of your bank account, debit card or credit card;</li>
					 <li> The DocketPay's payment processing center is not working properly and you know or have been advised by DocketPay about the malfunction before you execute the Payment;</li>
					 <li>You have not provided DocketPay with the correct Account information, or information that you provided becomes incorrect (e.g., if you are issued a new payment card with a new card number); and/or circumstances beyond the control of DocketPay (such as, but not limited to, fire, flood, or interference from an outside force), even if foreseeable or foreseen, that prevent the proper execution of the Payment and DocketPay has taken reasonable precautions to avoid those circumstances.</li>
					 </ul>
					 
					 <p class="text-muted"> Provided none of the foregoing exceptions are applicable, if DocketPay causes an incorrect amount of funds to be removed from your Bank Account or Credit Card or causes funds from your Bank Account or Credit Card to be directed in a manner that does not comply with your Payment Instructions, your sole remedy shall be DocketPay returning the improperly transferred funds to your Bank Account, and directing to Docket any previously misdirected Payments. </p>
					 <p class="text-muted">However, DocketPay is not responsible for Payments made to incorrect bank account numbers and the User will not be entitled to get refund of any kind. You shall provide current, complete and accurate account information for all Payments made at our website. You agree to promptly update your account and other information, including your email address and credit card numbers and expiration dates, so that we can complete your transactions and contact you if needed. In the case that the information provided by you is false and inaccurate or Docket has reasonable reasons to believe you have done so, we hold the rights to suspend your account and/or terminate this Agreement without being held liable for the same.  </p>
					 
					  <h4 class="service-heading">4.PAYMENT CANCELLATION REQUESTS </h4>
					 
					 <p class="text-muted"> Once DocketPay has begun processing any Payment, the Payment cannot be canceled or edited through DocketPay. </p>
					 
					 <h4 class="service-heading">5.FAILED OR RETURNED PAYMENTS </h4>
					 <p class="text-muted">You understand that, your financial institution, your card issuer, payment processors and/or other parties may return Payments for various reasons, including those outlined above.. If we cannot process your Payment, you are still responsible to make it, and you are responsible for ensuring timely payment of all of your rents and bills.  </p>
					 
					 
					  <h4 class="service-heading">6.USERACCOUNT INFORMATION </h4>
					 <p class="text-muted">Authorization to obtain User Account Information - Your activation of the User Account shall be deemed to be your acceptance of these Terms and Conditions, the DocketPay Terms and Conditions of Service located at www.docketpay.com, and your authorization for DocketPay to obtain account information necessary to perform the Service from Docket on your behalf.  </p>
					 <p class="text-muted">Accuracy and dispute of User Account Information - The Service is unrelated to the maintenance of your User Account information. The Service is only responsible for presenting to you the information that the Service receives from Docket’s billing department. Any discrepancies or disputes regarding the accuracy of your User Account information or detail must be addressed by you with Docket’s customer care directly at +91-80-4656 4656.  </p>
					 
					  <h4 class="service-heading">7.PASSWORD AND SECURITY</h4>
					 <p class="text-muted">Docket controls your membership to use the Service of DocketPay, the issuance of your password, and your authentication when you enroll and each time you access the Service. You agree not to give or make available your password or other means to access the Service to any unauthorized individuals. You are responsible for all Payments you authorize using the Service. If you permit any unauthorized users or other persons to use the DocketPay Service or your password or other means to access the DocketPay Service, you are responsible for any Payments they authorize. You will be responsible for any Payments that a person to whom you provided your password or other means to access the DocketPay Service authorizes, even if that person disregards instructions or limits you communicated to that person about Payments they could authorize.  </p>
					 
					<p class="text-muted">If you believe that your password or other means to access the Service has been lost or stolen, or that someone may attempt to use the DocketPay Service without your consent or has transferred money without your permission, you must notify Docket's customer care at +91-80-4656 4656. You acknowledge and agree that Docket shall not be liable or responsible for any unauthorized payments, charges or debits made by someone using your password.  </p>
					<p class="text-muted">If you believe there has been any unauthorized transfer related to your Funding Account from the Service, you should immediately notify Docket’s customer care department at +91-80-4656 4656.  </p>
					 <h4 class="service-heading">8.INFORMATION AUTHORIZATION</h4>
					<p class="text-muted">You agree that the information you provide to the DocketPay Service can go through a verification process. You agree that the DocketPay Service reserves the right to obtain financial information as well as identity verification information such as Birth date, PAN card details, KYC details regarding your User Account(s).  </p>
					<p class="text-muted">See also, “Privacy Policy for DocketPay” for more information related to the types of personal information we may collect, how we may collect it, and how it may be used and disclosed.  </p>
					
					 <h4 class="service-heading">9.SERVICE FEES AND ADDITIONAL CHARGES</h4>
					<p class="text-muted">Your financial institution or card issuer (Master Card/Visa) may assess fees associated with your accounts with them that will continue to apply to your use of the DocketPay Service. You are responsible for any and all telephone access fees and/or Internet service fees and/or transaction fees that may be assessed by your telephone and/or Internet service provider and/or debit card/credit card in connection with your utilization of the DocketPay Service. When applicable, Docket will add any applicable fees and/or charges for the DocketPay Service to your User Account and you are responsible for payment of such fees and charges for your use of the DocketPay Service. There is no fee for enrollment into the DocketPay. However, there may be convenience fees imposed by Docket associated with your use of the various payment channels provided by Docket for execution of your Payments. This convenience fee is inclusive of service tax for availing the platform for remitting the rent payment service. The User will be made aware of the convenience charges in INR at the time of billing and prior to making the payment. The User can proceed to make the payment only upon his agreement to the convenience fee charged for the use of the particular Service. All the convenience fees paid to DocketPay are non-refundable. In case of any error in transaction, payment failure or over charge /wrong convenience fee charge, please contact our support team through the message box provided in the website or drop an email at support@dockettech.com in or call us at +91-80-46564656.  </p>
					
					 <h4 class="service-heading">10.ALTERATIONS AND AMENDMENTS</h4>
					<p class="text-muted">This Agreement, applicable fees and service charges may be altered or amended by the DocketPay Service from time to time. In such event, the DocketPay Service shall provide notice to you as required by applicable law. Any use of the DocketPay Service after it provides you a notice of change will constitute your agreement to such change(s). Further, the Service may, from time to time, revise or update the applications, services, and/or related material, which may render all such prior versions obsolete. Consequently, the DocketPay Service reserves the right to terminate this Agreement as to all such prior versions of the applications, services, and/or related material and limit access to only the DocketPay Service's more recent revisions and updates. You authorize us to send or provide by electronic communication any notice, communication, amendment or replacement to the Agreement, or disclosure required to be provided orally or in writing to you. You agree to receive any electronic communication provided to you and will not attempt to avoid receiving any such communication. You are deemed to have received any electronic communication provided to you when they are made available to you.  </p>
					
					<h4 class="service-heading">11.ADDRESS OR BANKING CHANGES</h4>
					<p class="text-muted"> It is your sole responsibility to ensure that the contact information in your user profile that you establish with Docket is current and accurate. This includes, but is not limited to; name, address, phone number(s) and e‐mail address(es). The DocketPay Service is not responsible for any payment processing errors or fees incurred if you do not provide accurate contact information or financial information, as requested, or if your User Account or contact information changes and you do not notify us promptly of the change. </p>
					<h4 class="service-heading">12.NOTIFICATIONS</h4>
					<p class="text-muted"> By accepting these Terms and Conditions of Service, you agree to receive all notifications relating to the DocketPay Service in electronic form delivered to your mobile phone or device as an SMS message or to your email account. </p>
					<p class="text-muted"> It is your sole responsibility to ensure that the e‐mail address and mobile phone number listed for your User Account are accurate and current. </p>
					<h4 class="service-heading">13.SERVICE TERMINATION, CANCELLATION OR SUSPENSION</h4>
					<p class="text-muted">In the event you wish to cancel the DocketPay Service, you may do so by contacting Docket's customer care at +91-80-46564656 or through other Docket interfaces where permitted. Any Payment(s) the DocketPay Service has already processed before the requested cancellation date will be completed by the DocketPay Service. All Scheduled Payment(s) will not be processed once the DocketPay Service is canceled. The DocketPay Service may terminate or suspend availability of the Service to you at any time. Neither termination nor suspension shall affect your liability or obligations under this Agreement.  </p>
					<h4 class="service-heading">14.GOVERNING LAW AND JURISDICTION</h4>
					<p class="text-muted">This Agreement is an electronic record in terms of Information Technology Act, 2000 and rules there under as applicable and the provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000. As well as relevant provisions of the Payment and Settlement Systems Act, 2007 and any amendment, modification or re-enactment of the same, or any other succeeding enactment for the time being in force.  </p>
					<p class="text-muted">This Agreement will be governed by and construed in accordance with the laws of India. You agree that any legal action or proceedings arising out of this Agreement may be brought exclusively in the competent courts/tribunals having jurisdiction in Bangalore in India and irrevocably submit themselves to the jurisdiction of such courts / tribunals.  </p>
					<h4 class="service-heading">15.ENTIRE AGREEMENT</h4>
					<p class="text-muted">You agree that this Agreement is the complete and exclusive statement of the agreement between you and the DocketPay Service, and it supersedes any proposal or prior agreement, oral or written, and any other communications between you and the DocketPay Service relating to the subject matter of this Agreement. If there is a conflict between what a representative of the DocketPay Service or customer service department says and the terms of this Agreement, the terms of this Agreement will prevail.  </p>
					<h4 class="service-heading">16.ASSIGNMENT</h4>
					<p class="text-muted">You may not assign this Agreement to any other party. The Service may assign or delegate any or all of its rights and responsibilities under this Agreement to independent contractors or other third parties.  </p>
					<h4 class="service-heading">17.NO WAIVER</h4>
					<p class="text-muted">We shall not be deemed to have waived any of our rights or remedies hereunder unless such waiver is in writing and signed by us. No delay or omission on our part in exercising any rights or remedies shall operate as a waiver of such rights or remedies or any other rights or remedies. A waiver on any one occasion shall not be construed as a bar or waiver of any rights or remedies on future occasions.  </p>
					<h4 class="service-heading">18.CAPTIONS</h4>
					<p class="text-muted">The captions of sections hereof are for convenience only and shall not control or affect the meaning or construction of any of the provisions of this Agreement.  </p>
					<h4 class="service-heading">19.EXCLUSIONS OF WARRANTIES</h4>
					<p class="text-muted">THE SERVICE AND RELATED DOCUMENTATION ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESSED OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.  </p>
					<h4 class="service-heading">20.LIMITATION OF REMEDIES</h4>
					<p class="text-muted">YOU AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY FOR ANY FAILURE TO PROVIDE YOU WITH SERVICE UNDER THIS AGREEMENT OR DOCKET' FAILURE TO PERFORM HEREUNDER SHALL BE YOUR RIGHT TO HAVE DOCKET RE‐PERFORM SUCH SERVICE.  </p>
					<h4 class="service-heading">21.LIMITATION OF LIABILITY</h4>
					<p class="text-muted">THE FOREGOING SHALL CONSTITUTE THE DOCKETPAY SERVICE’S ENTIRE LIABILITY AND YOUR EXCLUSIVE REMEDIES IN CONNECTION WITH YOUR USE OF THE SERVICE. FURTHER, IN NO EVENT SHALL WE BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES, INCLUDING LOST PROFITS (EVEN IF ADVISED OF THE POSSIBILITY THEREOF) ARISING IN ANY WAY OUT OF THE SERVICE, YOUR USE OF THE SERVICE, OR THE ACTS OR OMISSIONS OF DOCKET. YOU HAVE READ AND UNDERSTAND THE FOREGOING AGREEMENT AND AGREE TO BE BOUND BY ALL OF ITS TERMS.  </p>
					<h4 class="service-heading">22.TRADEMARK INFORMATION</h4>
					<p class="text-muted"> Product names, logos, designs, titles, words or phrases within this publication may be trademarks, service marks, or trade names of Docket or other entities and may be registered in certain jurisdictions. </p>
			
						
		
                </div>
                
            </div>
        </div>
    </section>