<div class="sitemap" >
<a id="sitemap"></a>
<hr/>
<h4>SITE MAP</h4>
<% city_id = @city.id rescue params[:city_id] || 1 %>
  <div class="layer">
    <div class="layer-head">Employees ::</div>
    <div class="layer-body">
      <li><%= link_to "Employee", employees_path %> </li>
      <li><%= link_to "Roles", roles_path %> </li>
      <li><%= link_to "Status", statuses_path %> </li>
      <li><%= link_to "Download Bill Excel", download_excel_path %></li>
    </div>
  </div>
  <div class="layer">
    <div class="layer-head">User ::</div>
    <div class="layer-body">
      <li><%= link_to "Users", users_path %> </li>
      <li><%= link_to "Properties", properties_path %> </li>
      <li><%= link_to "Society", societies_path %> </li> 
    </div>
  </div>
  <div class="layer"> 
    <div class="layer-head">Transactions ::</div>
    <div class="layer-body">
      <li><%= link_to "Bills", bills_path %> </li>
      <li><%= link_to "Payments", properties_payments_path %> </li>
      <li><%= link_to "Transactions", properties_transactions_path %> </li>
    </div>
  </div>
  <div class="layer">
    <div class="layer-head">Panels ::</div>
    <div class="layer-body">
      <!-- <li><%#= link_to "Verification", employees_user_verification_index_path %> </li> -->
      <li><%= link_to "Property Verification",employees_property_verification_index_path %></li>
       <li><%= link_to "Tenant Verification",employees_tenant_verification_index_path %></li>
      <li><%= link_to "Bills Search", employees_bills_search_path %> </li>
      <li><%= link_to "Property Search", employees_properties_search_by_path %> </li>
      <li><%= link_to "User Search", employees_users_search_path %></li>
      <li><%= link_to "Society Search", employees_properties_society_search_path %></li>
      <li><%= link_to "Sales Dashboard", employees_dbmetrics_path %></li>
      <li><%#= link_to "State requirements", state_requirements_path %> </li>
    </div>
  </div>
  <div class="layer">
    <div class="layer-head">Address Fields ::</div>
    <div class="layer-body">
      <li><%= link_to "States", states_path %></li>
    </div>
  </div>  
  <div class="layer">
    <div class="layer-head">Others ::</div>
    <div class="layer-body">
      <li><%= link_to "Query", users_queries_path %> </li>
    </div>
  </div>
</div>