<p id="notice"><%= notice %></p>

<h1>Bills Statuses</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills_statuses.each do |bills_status| %>
      <tr>
        <td><%= bills_status.name %></td>
        <td><%= link_to 'Show', bills_status %></td>
        <td><%= link_to 'Edit', edit_bills_status_path(bills_status) %></td>
        <!-- <td><#%= link_to 'Destroy', bills_status, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bills Status', new_bills_status_path %>
