<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bills_status.name %>
</p>

<%= link_to 'Edit', edit_bills_status_path(@bills_status) %> |
<%= link_to 'Back', bills_statuses_path %>
