<h1>Payment Verification</h1>

<% if @bill %>
	<table class='table table-bordered'>
		<thead>
			<tr>
				<th>User</th>
				<th>User Id</th>
				<th>Date Paid</th>
				<th>Category</th>
				<th>Amount</th>
				<th>Status</th>
				<th>invoice No</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td><%= @bill.user.name %></td>
				<td><%= @bill.user_id %></td>
				<td><%= @bill.date_paid %></td>
				<td><%= @bill.category.name %></td>
				<td><%= @bill.amount %></td>
				<td><%= @bill.status.name %></td>
				<td><%= @bill.invoice_no %></td>
			</tr>
		</tbody>
	</table>
	<table class='table table-bordered'>
		<thead>
			<tr>
				<th>Amount</th>
				<th>Approval code</th>
				<th>Bank ref num</th>
				<th>Cardnum</th>
				<th>Ccbrand</th>
				<th>Currency</th>
				<th>Mode</th>
				<th>Oid</th>
				<th>Bill No</th>
				<th>Txnid</th>
				<th>Txntype</th>
				<th>Status</th>
			</tr>
		</thead>

		<tbody>
			<% @bill.transactions.each do |payment| %>
				<tr>
			        <td><%= payment.amount %> </td>
					<td><%= payment.approval_code %> </td>
					<td><%= payment.bank_ref_num %> </td>
					<td><%= payment.cardnum %> </td>
					<td><%= payment.ccbrand %> </td>
					<td><%= payment.currency %> </td>
					<td><%= payment.mode %> </td>
					<td><%= payment.oid %> </td>
					<td><%= payment.bill.id %> </td>
					<td><%= payment.txnid %> </td>
					<td><%= payment.txntype %> </td>
					<td><%= payment.status %> </td>
			    </tr>
        <% end %>
		</tbody>
	</table>
	<div>
		<%= form_tag('/admin/employees/payment_verification/verify_bill', type: :post, :class => 'form', :style => "") do |f| %>
			<%= hidden_field_tag 'bill_id',nil, value: @bill.id %>
			<%= hidden_field_tag 'verified',nil, value: true %>	
			<button type="submit" class="btn btn-default">Verify Bills</button>
		<%end%>	
		<%= form_tag('/admin/employees/payment_verification/verify_bill', type: :post, :class => 'form', :style => "") do |f| %>
			<%= hidden_field_tag 'bill',nil, value: @bill.id %>	
			<%= hidden_field_tag 'verified',nil, value: false %>	
			<button type="submit" class="btn btn-default">Incorrect Bill</button>
		<%end%>	
	</div>
<% else %>
No Verification Pending
<% end %>
<style>
h2{
	text-align: center;
}
form{
	display: inline-block;
	text-align: center;
}
.pic_style{
	height: 400px;
	width: 300px;
	position: relative;
	margin-top: 5%;
	margin-left: 15%;
}
.btn-default {
	color: #333;
	background-color: #f16224;
	border-color: #ccc;
	color: #fff;
	display: inline-block;
}
</style>
