<html>
<head>
<title>Emailer</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Emailer) -->
<table id="Table_01" width="600" height="590" border="0" cellpadding="0" cellspacing="0" style="border:thin solid #ccc; font-family:Helvetica, Arial, Sans-Serif;">
	<tr>
		<td>
			<a href="//www.docketpay.com" target="_blank"><img style="padding:0px;border:0px;" src="<%= @base_url %>/assets/mailer/Emailer_01.gif" width="148" height="76" alt="DocketPay"></a></td>
		<td width="300" height="76">
            <img style="padding:0px;border:0px;" src="<%= @base_url %>/assets/mailer/Emailer_02.gif" width="300" height="76" alt=""></td>
		<td>
            <a href="https://www.facebook.com/DocketPay-1197743780280828" target="_blank"><img style="padding:0px;border:0px;" src="<%= @base_url %>/assets/mailer/Emailer_03.jpg" width="49" height="76" alt=""></a></td>
		<td>
            <a href="https://twitter.com/DocketPay" target="_blank"><img style="padding:0px;border:0px;" src="<%= @base_url %>/assets/mailer/Emailer_04.gif" width="35" height="76" alt=""></a></td>
		<td>
            <a href="//" target="_blank"><img style="padding:0px;border:0px;" src="<%= @base_url %>/assets/mailer/Emailer_05.gif" width="34" height="76" alt=""></a></td>
		<td>
			<img style="padding:0px;border:0px;" src="<%= @base_url %>/assets/mailer/Emailer_06.gif" width="34" height="76" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" valign="middle" width="600" height="101" style="text-align:center">
            <span style="font-weight:normal;color:#ce5c09;font-size:24px">CONGRATULATIONS!</span><br/>
            <span style="font-size:14px">YOUR PROPERTY IS VERIFIED</span>
        </td>
	</tr>
	<tr>
		<td colspan="6"  width="600" height="63" align="center" valign="middle" style="text-align:center" >
            <div style="width:210px;height:35px;background:#eee;line-height:35px;font-size:16px;margin:auto"><%= @property.uid %></div>
        </td>
	</tr>
	<tr>
		<td colspan="6" width="600" height="103" background="#fff" >
			<p style="text-align:center;font-size:11px;line-height:14px;pading:0;margin:0"><%= @property.address.flat_no %></p>
            <p style="text-align:center;font-size:11px;line-height:14px;pading:0;margin:0"><%= @property.address.floor + ', ' + @property.address.building %></p>
            <p style="text-align:center;font-size:11px;line-height:14px;pading:0;margin:0"><%= @property.address.locality %></p>
            <p style="text-align:center;font-size:11px;line-height:14px;pading:0;margin:0"><%= @property.address.city %></p>
            <p style="text-align:center;font-size:11px;line-height:14px;pading:0;margin:0"><%= @property.address.state.name + ' - ' + @property.address.pincode %></p>
        </td>
	</tr>
	<tr>
		<td colspan="6" width="600" height="67" align="center" valign="middle" style="text-align:center">
            <span style="font-size:13px;width:250px;line-height:16px;">Please feel free to contact us if you ever have any queries <br/>or question on</span><br/> <a href="mailto:help@docketpay.com" target="_blank" style="text-decoration:none;">
                <span style="font-size:13px;color:#ce5c09;line-height:16px;">help@docketpay.com</span><span style="font-size:13px;color:#ce5c09;line-height:16px;"> or 080-4656-4656</span>
            </a>
        </td>
	</tr>
	<tr>
		<td colspan="6">
			<img style="padding:0px;border:0px;" src="<%= @base_url %>/assets/mailer/Emailer_11.gif" width="600" height="39" alt=""></td>
	</tr>
	<tr>
		<td colspan="6" width="600" height="141" align="center" style="background:#000000;color:#ffffff;">
            <span style="font-size:20px;color:#999;"> Warm Regards</span><br/>
            <span style="font-size:25px;color:#999;font-weight:600;line-height:40px"> Team Docketpay</span><br/>
            <a href="//www.docketpay.com" target="_blank" style="text-decoration:none;"><span style="font-size:14px;color:#f9b715;"> www.docketpay.com</span></a>
        </td>
	</tr>
</table>
<!-- End Save for Web Slices -->
</body>
</html>