<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Docket Pay -- Invite to join the Platform</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body style="margin: 0 auto;padding: 0;width: 570px;min-width: 320px;text-align: centerpx;font-size: 14px;font-weight: thin !important;font-family: 'PFBeauSansPro';">
		<table min-width="320px" width="100%" style=" background-image: url('<%= @base_url%>/assets/mailer/invite.jpg');height:auto;background-size: 100%;background-repeat: no-repeat;">
			<tbody style="margin: 30px 110px;">
				<tr>
					<td>
						<div style="margin: 80px auto 0;text-align: center">
							<%= image_tag "#{@base_url}/assets/mailer/docketpay_logo.png", :align => "center", :style =>"width: 30%;" %>
							
						</div>
						<tr>
							<td>
								<h1 style="color: #dd7427;font-weight: normal;text-align: left;margin: 20px 110px;text-transform: uppercase;font-size: 25px;">Welcome !</h1>
							</td>
						</tr>
						<tr>
							<td >
								<p style="margin: 0px 110px;">Dear <%= @invite.name.split(' ').first rescue 'Guest' %>,</p>
							</td>
						</tr>
						<tr>
							<td>
								<p style="margin: 20px 110px 10px;">
									We are happy and delighted to invite you to DocketPay. DocketPay is an online platform for Rental Payments. You can pay your Monthly Rentals, Maintenance Charges, Security Deposit, Corpus Fund online with Credit Card, Debit Card and Netbanking. 

								</p>
								<button><%= @url %></button>
								<p style="margin: 0px 110px;">
									To help us spread the word about DocketPay! Here is your Invite code. With every referal you signs up, your account with DocketPay will be credited with 100 points equavalent to Rs.100/- which can be utilized for your payments on our platform.
								</p>
								<p style="margin: 10px 110px;">
									Please feel free to contact us If you ever have any queiries or questions on <span style="color: #dd7427;">help@docketpay.com</span>
								</p>
							</td>
						</tr>
						<tr>
						</tr>
					</td>
				</tr>
				<tr>
					<td >
						<div style="margin: 120px auto 0;text-align: center;border-left: 2px solid #a59c9c;border-right: 2px solid #a59c9c;width: 40%;">
							<h5 style="color: #f9b715;text-transform: uppercase;"> refer & get rewarded</h5>
							<ul style="width: 200px;display: inline-flex;text-align: center; list-style: none;margin: 0 auto; font-size:10px;padding-left:0px;">
								<li style="margin: 0 auto;">
									<a href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/facebook_black.png", :style => "margin-top: 20px;position:relative" %>
										<p  style="position: absolute;color: #a59c9c;margin: 10px auto 0 10px;text-align: center">SHARE</p></a>
								</li>
								<li style="margin: 0 auto;">
									<a  href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/mail.png", :style => "margin-top: 20px;position:relative" %>
									<p style="position: absolute;color: #a59c9c;margin: 10px auto 0 10px;text-align: center">MAIL</p></a>
								</li>
								<li style="margin: 0 auto;">
									<a href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/twitter_black.png", :style => "margin-top: 20px;position:relative" %>
									<p style="position: absolute;color: #a59c9c;margin: 10px auto 0 10px;text-align: center">TWEET</p></a>
								</li>
							</ul>
							<h5 style="margin-top:50px;font-weight: 600;color: #a59c9c;text-transform: uppercase;"> your invite code</h5>
							<input type="button" style="background-color: #f9b715;width:150px;height:50px;margin: 20px auto;border: none;" name="" id="input" class="" value="<%= @invite.referral_code %>" required="required" pattern="" title="">
						</div>
					</td>
				</tr>
				<tr>
					<td >
						<div  style="margin: 100px auto 0;width:50%;text-align:center">
							<h4 style="color: #a59c9c;margin: 0 auto;">
								Waram Regards
							</h4>
							<h1 style="color: #a59c9c;font-weight: normal;margin: 0px;font-size: 25px;">Team Docketpay</h1>
							<p style="color: #f9b715;">www.docketpay.com</p>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</body>
</html>

