<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Docket Pay -- INvite From Landlord</title>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    </head>
    <body  style="margin: 0 auto; width: 550px;min-width: 320px; padding: 0;background-image: url('#{@base_url}/assets/mailer/pattern_bg.jpg');height:auto;font-size: 14px;font-weight: thin !important;font-family: 'PFBeauSansPro';">
        <table width="100%" style="background:#fff;width:100%;min-width:320px;margin 0 auto;" border="0" cellpadding="0" cellspacing="0">
            <thead >
                <tr style="margin: 0 auto;text-align: center;">
                    <th >
                        <div style="margin: 0 auto;text-align: center;">
                            <%= image_tag "#{@base_url}/assets/mailer/logo_docketpay.png", style: "margin: 30px;", align: "center" %>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody width="100%" style="">
                <tr>
                    <td>
                        <div style="background: #d94934;margin: 0 auto;text-align: center;padding:10px;color:#fff">
                            <h1 style="font-size: 24px;margin: 30px auto 0;">YOU ARE<br><span style="font-size: 30px;color:#ffd12f;font-weight: bold;">INVITED</span>
                            </h1>
                            <hr style="margin: 0 auto 0;width: 25%;min-width: 130px;">
                            <h4 style="font-size: 14px;width: 144px;margin: 10px auto 5px;">BY YOUR LANDLORD</h4>
                            <hr style="margin: 0 auto;max-width: 80px;">
                            <p style="line-height: 1.6;margin: 10px">
                                <%= @landlord.name %><br>
                                <%= @landlord.email %>
                            </p>
                            <p>
                                <%= @property.address.flat_no %><%= @property.address.floor + ', ' + @property.address.building %> <br>
                                <%= @property.address.locality %><%= @property.address.city %> <br>
                                <%= @property.address.state.name + ' - ' + @property.address.pincode %>
                            </p>
                            <hr style="margin: 20px auto;width: 80px;">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin: 0 auto;text-align: center;">
                            <p style="color:#767373;margin: 20px;">
                                We are happy and delighted to invite you on DocketPay. DocketPay is an online platform for Rental Payments. You can pay your Monthly Rentals, Maintenance Charges, Security Deposit, Corpus Fund online with Credit Card, Debit Card and Net banking. 
                            </p>
                            <p style="color:#767373;margin: 0px;">Please click the link below to register with DocketPay</p>
                            <p style="font-size: 14px;color:#d94934;"><%= @url %></p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin: 30px;text-align: center;color:#767373;border: 1px solid #000;padding: 10px;">
                            <p>As a Tenant, you would be able to make online payments of </p>
                            <ul style="width: 100%;display: inline-flex;text-align: center;list-style: none;margin: 0px auto;font-size: 10px;">
                                <li style="margin:0 auto;">
                                    <a style="margin-left: -20px;" href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/docketpay_bill/icon_rent.png", style: "margin-right: 20px;position:relative" %>
                                        <p style="position: absolute;color: #000;margin: 10px auto 0 20px;text-align: center;font-size: 14px;">Rent</p></a>
                                </li>
                                <li style="margin:0 auto;">
                                    <a href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/docketpay_bill/icon_maintenance.png", style: "margin-right: 20px;position:relative" %>
                                    <p style="position: absolute;color: #000;margin: 10px auto 0 20px;text-align: center;font-size: 14px;">Maintenace</p></a>
                                </li>
                                <li style="margin:0 auto;">
                                    <a href="" target="_blank" title=""><%= image_tag "#{@base_url}/assets/mailer/docketpay_bill/security_deposit.png", style: "margin-right: 20px;position:relative" %>
                                    <p style="position: absolute;color: #000;margin: 10px auto ;text-align: center;font-size: 14px;">Security Deposit</p></a>
                                </li>
                            </ul>
                            <p style="margin-top: 40px;">with Credit Card, Debit Card and Net banking.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="margin: 30px;text-align: left;color:#767373;">
                            <p>
                                Please feel free to contact us if you ever have any queries or questions on <span style="font-size: 14px;color:#d94934;">help@docketpay.com</span>
                            </p>
                            <p>Note: Use the same email ID to view the property details added by your owner.</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="background: #24262a;margin: 0 auto;text-align: center;padding:30px">
                            <p style="font-size: 22px;color:#fff;line-height: 1;">Warm Regards<br>
                                <span style="font-size: 24px;color:#fff;font-weight:600;margim-top:10px;">Team DocketPay</span></p>
                            <h4 style="font-size: 14px;color:#f9b715;">www.docketpay.com</h4>
                            <hr style="color:#fff;margin: 20px;">
                            <ul style="width: 200px;display: inline-flex;text-align: center;list-style: none;margin: 0 auto;font-size: 10px;">
                                <li style="margin: 10px;">
                                    <a href=""><%= image_tag "#{@base_url}/assets/mailer/fb.png", class: "img-responsive", alt: "Image" %></a>
                                </li>
                                <li style="margin: 10px;">
                                    <a href=""><%= image_tag "#{@base_url}/assets/mailer/twitter.png", class: "img-responsive", alt: "Image" %></a>
                                </li>
                                <li style="margin: 10px;">
                                    <a href=""><%= image_tag "#{@base_url}/assets/mailer/gplus.png", class: "img-responsive", alt: "Image" %></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>