<html>
<head>
<title>DocketPay | Society Invite</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- Save for Web Slices (Screen Shot 2017-06-16 at 6.38.21 PM.png) -->
<table id="Table_01" width="595" align="center" height="903" border="0" cellpadding="0" cellspacing="0" style="font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;">
    <tr>
        <td colspan="25" width="594" height="18" style="background:#212121;"></td>
    </tr>
    <tr>
        <td colspan="8" rowspan="3" width="198" height="67" style="background:#212121; ">
           <%= image_tag "#{@base_url}/assets/mailer/white_logo.png", alt: "Docket Logo", style: "margin-left:20px;" %></td>
        <td colspan="9" rowspan="3" width="283" height="67" style="background:#212121; "></td>
        <td rowspan="3" width="8" height="67" style="background:#212121; "></td>
        <td colspan="2" width="28" height="22" style="background:#212121; "></td>
        <td width="26" height="22" style="background:#212121; "></td>
        <td colspan="3" width="26" height="22" style="background:#212121; "></td>
        <td rowspan="3" width="25" height="67" style="background:#212121; "></td>
    </tr>
    <tr>
        <td colspan="2" width="28" height="27" style="background:#212121; " align="right">
           <%= image_tag "#{@base_url}/assets/mailer/fb_icon.png", alt: "Facebook" %></td>
        <td width="26" height="27" style="background:#212121; ">
           <%= image_tag "#{@base_url}/assets/mailer/google_icon.png", alt: "Twitter" %></td>
        <td colspan="3" width="26" height="27" style="background:#212121; ">
           <%= image_tag "#{@base_url}/assets/mailer/twitter_icon.png", alt: "Google plus" %></td>
    </tr>
    <tr>
        <td colspan="2" width="28" height="18" style="background:#212121; "></td>
        <td width="26" height="18" style="background:#212121; "></td>
        <td colspan="3" width="26" height="18" style="background:#212121; "></td>       
    </tr>
    <tr>
        <td colspan="25"  width="594" height="20" style="background:#212121; "></td>
    </tr>
    <tr>
        <td colspan="25" width="594" height="40"></td>
    </tr>
    <tr>
        <td colspan="25" width="594" height="49" style="color:#212121; text-align:center; font-size: 36px;">
            YOU ARE INVITED</td>
    </tr>
    <tr>
        <td colspan="11"  width="200" height="35" ></td>
        <td colspan="3" width="194" height="35">
            <hr style="border: thin solid #212121;">
        </td>
        <td colspan="11" width="200" height="35"></td>
    </tr>
    <tr>
        <td colspan="25" style="color:#212121; text-align:center; font-size: 16px;"  width="594" height="37">
            Dear Customer,
        </td>
    </tr>
    <tr>
        <td width="46" height="56" ></td>
        <td colspan="22" width="514" height="56" style="color:#212121; text-align:center; font-size: 14px;">
            We are happy and delighted to invite you on DocketPay. DocketPay is an online platform for Rental Payments. You can pay your Monthly Rentals.   
        </td>
        <td colspan="2" width="34" height="56"></td>
    </tr>
    <tr>
        <td width="46" height="26"></td>
        <td colspan="22" width="514" height="26" alt="">
            <hr style="border: thin solid #212121;">
        </td>
        <td colspan="2" width="34" height="26"></td>
    </tr>
    <tr>
        <td colspan="2"></td>        
        <td colspan="23" style="color:#212121; text-align:left; font-size: 16px;"  width="594" height="25">
            <b>Benefits,</b>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>        
        <td colspan="23" style="color:#212121; text-align:left; font-size: 14px;"  width="594" height="25">
            <p style="margin-left:20px; margin-bottom:0;margin-top:10px;"><b>SIGN UP :</b></p>
            <p style="margin-left:20px;margin-top:0">Create your FREE user profile effortlessly with just few clicks</p>            
        </td>
    </tr>

    <tr>
        <td colspan="2"></td>        
        <td colspan="23" style="color:#212121; text-align:left; font-size: 14px;"  width="594" height="25">
            <p style="margin-left:20px; margin-bottom:0;margin-top:10px;"><b>ADD PROPERTY :</b></p>
            <p style="margin-left:20px;margin-top:0">Fill your Property, Tenancy & Landlord details</p>            
        </td>
    </tr>

    <tr>
        <td colspan="2"></td>        
        <td colspan="23" style="color:#212121; text-align:left; font-size: 14px;"  width="594" height="25">
            <p style="margin-left:20px; margin-bottom:0;margin-top:10px;"><b>PROPERTY VERIFICATION :</b></p>
            <p style="margin-left:20px;margin-top:0">We will verify and enable your account for payments in few hours</p>            
        </td>
    </tr>

    <tr>
        <td colspan="2"></td>        
        <td colspan="23" style="color:#212121; text-align:left; font-size: 14px;"  width="594" height="25">
            <p style="margin-left:20px; margin-bottom:0;margin-top:10px;"><b>COLLECT :</b></p>
            <p style="margin-left:20px;margin-top:0">Collect and manage your payments strategically</p>            
        </td>
    </tr>

    <tr>
        <td colspan="25" height="10"></td>
    </tr>
    <tr>
        <td width="46" height="26"></td>
        <td colspan="22" width="514" height="26" alt="">
            <hr style="border: thin solid #212121;">
        </td>
        <td colspan="2" width="34" height="26"></td>
    </tr>
   
    <tr>
        <td colspan="2"></td>
        <td colspan="23" width="594" height="43" style="color:#212121; font-size: 14px;">
            In case of any queries / clarifications
        </td>
    </tr>
    <tr>
        <td colspan="2" width="61" height="19"></td>
        <td width="37" height="19"></td>
        <td colspan="8" width="169" height="19" ></td>
        <td width="62" height="19" ></td>
        <td colspan="13" width="265" height="19" ></td>
    </tr>
    <tr>
        <td colspan="2" rowspan="6" width="61" height="84" style="border-right:1px solid #212121;"></td>
        <td rowspan="6" width="37" height="84" style=" border-top:1px solid #212121;border-bottom:1px solid #212121;"></td>
        <td colspan="8" rowspan="2" width="169" height="25" style="border-top:1px solid #212121;"></td>
        <td rowspan="6" width="62" height="84" style="border-top:1px solid #212121;border-bottom:1px solid #212121;"></td>
        <td colspan="7" width="166" height="17" style="border-top:1px solid #212121;"></td>
        <td colspan="3" rowspan="6" width="56" height="84" style="border-top:1px solid #212121;border-bottom:1px solid #212121;"></td>
        <td colspan="3" rowspan="6" width="43" height="84" style="border-left:1px solid #212121;"></td>
    </tr>
    <tr>
        <td colspan="7" rowspan="2" width="166" height="25" style="color:#212121; font-size: 16px;">
            help@docketpay.com
        </td>
    </tr>
    <tr>
        <td colspan="10" rowspan="2" width="169" height="31" style="color:#212121; font-size: 30px;">Contact Us</td>
    </tr>
    <tr>
        <td colspan="7" rowspan="2" width="166" height="21" style="color:#212121; font-size: 16px;">
            080 - 4656 4656
        </td>
    </tr>
    <tr>
        <td colspan="8" rowspan="2" width="169" height="28" style="border-bottom:1px solid #212121;"></td>
    </tr>
    <tr>
        <td colspan="7" width="166" height="21" style="border-bottom:1px solid #212121;"></td>
    </tr>
    <tr>
        <td colspan="2"  width="61" height="17"></td>
        <td width="37" height="17"></td>
        <td colspan="8" width="169" height="17"></td>
        <td width="62" height="17"></td>
        <td colspan="13" width="265" height="17"></td>
    </tr>
    <tr>
        <td colspan="25" width="594" height="26"></td>
    </tr>
    <tr>
        <td colspan="25" width="594" height="26" style="background:#212121; "></td>
    </tr>
    <tr style="background:#212121; ">
        <td colspan='25' width="594" height="26"  style="color:#c1c1c1; font-size: 20px; text-align:center;">
            Warm Regards</td>
    </tr>
    <tr style="background:#212121; ">
        <td colspan="25" width="594" height="26"  style="color:#fff; font-size: 30px;text-align:center;">
            Team Docketpay</td>
    </tr>
    <tr style="background:#212121; ">
        <td colspan="25" width="594" height="26"  style="color:yellow; font-size: 18px;text-align:center;">
            www.docketpay.com</td>
    </tr>
    <tr style="background:#212121; ">
        <td colspan="25" width="594" height="26"></td>
    </tr>
    
</table>
<!-- End Save for Web Slices -->
</body>