<!DOCTYPE html>
<html lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Docket Pay -- Thank you for adding Property</title>
		<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	</head>
	<body  style="margin: 0 auto; width: 30%;min-width: 320px; padding: 0;background-image: url('/home/osboxes/Desktop/tkankyou_property/pattern_bg.jpg');height:auto;font-size: 14px;font-weight: thin !important;font-family: 'PFBeauSansPro';">
		<table width="100%" style="background:#fff;width:100%" border="0" cellpadding="0" cellspacing="0">
			<thead >
				<tr style="margin: 0 auto;text-align: center;">
					<th >
						<div style="margin: 0 auto;text-align: center;">
							<%= image_tag "#{@base_url}/assets/mailer/logo_docketpay.png" style="float:left;margin: 30px;", align:"center">
							<h1 style="font-size: 24px;float:right;margin: 40px;font-weight: 600;">Porperty Addition</h1>
						</div>
					</th>
				</tr>
			</thead>
			<tbody width="100%" style="" border="0" cellpadding="0" cellspacing="0">
				<tr>
					<td>
						<%= image_tag "#{@base_url}/assets/mailer/property.jpg" class="img-responsive" alt="Image" style="margin: 0px auto;width: 90%;">
					</td>
				</tr>
				<tr>
					<td>
						<h1 style="font-size: 24px;margin: 30px;">Dear Customer,</h1>
						<p  style="color:#767373;margin: 30px;">Greetings from Team DocketPay.</p>
						<p  style="color:#767373;margin: 30px;">	Thank you for adding the property (property details) on DocketPay.In order to proceed further and start making payments for your property, we will share a link with you shortly to verify the property details.
						</p>
						<p  style="color:#767373;margin: 30px;">
							For queries or clarifications, feel free to contact us on <span style="color:#2f4883;">help@docketpay.com</span>
						</p>
					</td>
				</tr>
				<tr>
					<td>
						<div style="background: #24262a;margin: 0 auto;text-align: center;padding:30px">
							<p style="font-size: 22px;color:#fff;line-height: 1;">Warm Regards<br>
								<span style="font-size: 24px;color:#fff;font-weight:600;margim-top:10px;">Team DocketPay</span></p>
							<h4 style="font-size: 14px;color:#f9b715;">www.docketpay.com</h4>
							<hr style="color:#fff;margin: 20px;">
							<ul style="width: 200px;display: inline-flex;text-align: center;list-style: none;margin: 0 auto;font-size: 10px;">
								<li style="margin: 10px;">
									<a href=""><%= image_tag "#{@base_url}/assets/mailer/fb.png" class="img-responsive" alt="Image"></a>
								</li>
								<li style="margin: 10px;">
									<a href=""><%= image_tag "#{@base_url}/assets/mailer/twitter.png" class="img-responsive" alt="Image"></a>
								</li>
								<li style="margin: 10px;">
									<a href=""><%= image_tag "#{@base_url}/assets/mailer/gplus.png" class="img-responsive" alt="Image"></a>
								</li>
							</ul>
						</div>
					</td>
				</tr>
		    </tbody>
		</table>
	</body>
</html>