<h1>Editing Role Accesses</h1>


<div id="errors">
  <%= @errors %>
</div>

<% unless @role.nil? %>
<table border="2px" cellpadding="2px" cellspacing="2px">
  <tr>
    <% @available_accesses.each do |key, value|%>
    <td width="100px">  
      <div class="table_name">
        <%= key %>
      </div>
    </td>
    <td width="500px">
        <% value.each do |column_name| %>
          <%= form_tag({:controller => "/roles", :action => "toggle_column_access"}, :method => "put") do %>
            <%= text_field_tag(:table_name, value = key, options = {'hidden' => 'true'}) %>
            <%= text_field_tag(:column_name, value = column_name, options = {'hidden' => 'true'}) %>
            <% if !@owned_accesses[key].nil? && @owned_accesses[key].include?(column_name) %>
              &#10008;
            <% else %>
              &#10004;
            <%  end%>
            <%= submit_tag(column_name) %>
          <% end %>
        <% end %>
    </td>
    <% end %>
  </tr>
</table>


<%= link_to 'Show', @role %>
<% end %>
<%= link_to 'Back', roles_path %>
