<script type="text/javascript">
var available_resources = <%= @available_resources.to_json.html_safe %>;
var owned_resource_ids = <%= @owned_ids %>;
var role_id = <%= @role.id %>
$(document).ready(function(){
    function buildTree(children) {
      var $container = $("<ul>");     
      $.each(children, function(i, child) {
        if(child.children.length==0){
          if($.inArray( child.id, owned_resource_ids )!=-1)
            str='<div class="parent_node last"><div><span class="handle circle"></span><span class="node_name">'+child.name+'</span> <span class="right"><input type="checkbox" value="'+child.id+'" checked/></span></div></div>';
          else
            str='<div class="parent_node last"><div><span class="handle circle"></span><span class="node_name">'+child.name+'</span> <span class="right"><input type="checkbox" value="'+child.id+'" /></span></div></div>';
        }
        else{
          if($.inArray( child.id, owned_resource_ids )!=-1)
            str='<div class="parent_node"><div><span class="handle closed"></span><span class="node_name">'+child.name+'</span> <span class="right"><input type="checkbox" value="'+child.id+'" checked/></span></div><div class="perm_summary"></div></div>';
          else
            str='<div class="parent_node"><div><span class="handle closed"></span><span class="node_name">'+child.name+'</span> <span class="right"><input type="checkbox" value="'+child.id+'"/></span></div><div class="perm_summary"></div></div>';
        }
          tmp=$("<li>", {html: str}).appendTo($container)
          tmp.append(buildTree(child.children));
      });
      return $container;
    }

    $(document).on('ready',function(){
      $('.parent_node').not('.parent_node:first').siblings('ul').hide();
      $('.parent_node:first .handle').removeClass('closed').addClass('open');
      $('.handle, .node_name').click(function(){
        if(!$(this).closest('.parent_node').find('input[type="checkbox"]').is(':checked')){
          $(this).closest('.parent_node').siblings("ul").toggle();
          if($(this).parent().find('.handle').hasClass('open'))
            $(this).parent().find('.handle').removeClass('open').addClass('closed');
          else
            $(this).parent().find('.handle').removeClass('closed').addClass('open');
        }
      });

      $('.parent_node input[type="checkbox"]').click(function(){
        if(confirm("Are you sure?")){
          if($(this).is(':checked'))
            changePermission('add',$(this));
          else
            changePermission('remove',$(this));
          //update_list();      
        }
        else{
          $(this).removeAttr('checked');
          return false; 
        } 
      }); 
    })
    
    function update_list(){
      $('.highlight').removeClass('highlight');
      $('.parent_node').not('.parent_node:first').each(function(){
        str = '';
        if($(this).find('input[type="checkbox"]:first').is(':checked')){
          str = 'root';
        }
        else{
          children=$(this).siblings('ul').children('li');
          $(children).each(function(i,child){
            if($(child).find('.parent_node:first').find('input[type="checkbox"]').is(':checked')){
              str = str + ', ' + $(child).find('.parent_node:first .node_name').text();
            }
          });
        }
        if(str!='')
          $(this).addClass('highlight');

        $(this).find('.perm_summary').text(str.replace(/^,|,$/g,''));
      });
    }

     
  $(".inner_wrap").append( buildTree(available_resources) );
  update_list();
  function changePermission(type,ele){
    if(type=='add')
      url="/admin/roles/"+role_id+"/add_permission/"+ele.val();
    else if(type=='remove')
      url="/admin/roles/"+role_id+"/delete_permission/"+ele.val();
    $.ajax({
      url: url,
      type: 'POST',
      success: function(data) {
          if(data.STATUS=='SS'){
            switch(type){
              case 'add':
                ele.parents('.parent_node').siblings('ul').hide();
                ele.closest('li').find('ul input[type="checkbox"]').removeAttr('checked');
                ele.closest('li').find('.handle:first').removeClass('open').addClass('closed');
                break;
              case 'remove':
                ele.parents('.parent_node').siblings("ul").show();  
              ele.closest('li').find('.handle:first').removeClass('closed').addClass('open');
              break;
            }
            update_list();
            $('.toast').css('background-color','rgb(199, 228, 255)');
          }else{
            $('.toast').css('background-color','rgb(255, 234, 228)');
          }
          $('.toast').text(data.MESSAGE).stop()
          .fadeIn(500).delay(3000).fadeOut(500);
      }
    });
  }
});
</script>
<style type="text/css">
  .perm_wrap{
    position: relative;
    min-height: 450px;
  }
  .highlight{
    color: #338DFB;
    font-weight: bold
  }
  .inner_wrap{
    width: 800px;
    position: relative;
    left: 50%;
    margin-left: -400px;
    margin-top: 100px;
    background-color: #F2FAFF;
  }

  .inner_wrap li div span.right{
    float:  right;
  }

  .inner_wrap li div{
    background-color: #fff;
  }

  .inner_wrap  li {
    padding: 5px;
    padding-right: 40px;
    list-style: none;
  }
  ul.disabled{
    color: gray;
  }
  .handle{
    display: inline-block;
    position: relative;
    top:7px;
    margin-right: 10px;
    width: 0;
    height: 0;
    vertical-align: top;
    content: "";
    cursor: pointer;
  }
  .handle.open{ 
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;   
  }

  .handle.closed{ 
    border-left: 4px solid #000000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;   
  }
  .handle.circle{ 
    border: 2px solid #000000;
    border-radius: 2px;
  }
  .perm_summary{
    font-size: 0.8em;
    color:rgb(122, 160, 206);
    margin-left: 15px;
    font-weight: normal;
  }
  .toast{
    background-color: rgb(199, 228, 255);
    margin:0px auto;
    text-align: center;
    display: none;
  }
  .node_name{
    cursor: pointer;
  }

</style>
<h1>Editing Role Permissions</h1>
<div class="perm_wrap">
  <div class="inner_wrap">
    <div class="toast"></div>
  </div>
</div>