<h1>Listing roles</h1>

<div id="errors">
  <%= @errors %>
</div>


<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @roles.each do |role| %>
  <tr>
    <td><%= role.name %></td>
    <td><%= role.role_type %></td>
    <td><%= role.parent.name rescue nil %></td>
    <td><%= link_to 'Show', role %></td>
    <td><%= link_to 'Edit', edit_role_path(role) %></td>
    <td><%= link_to 'Edit Permission', '/admin/roles/'+role.id.to_s+'/edit_permission' %></td>
    <td><%= link_to 'Edit Column Access', '/admin/roles/'+role.id.to_s+'/edit_column_access' %></td>
    <!-- <td><#%= link_to 'Destroy', role, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New role', new_role_path, class: 'new-role' %>