<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Role type:</strong>
  <%= @role.role_type %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @role.parent_id %>
</p>

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
