<div class="login-container wrapper text-center">
  <div class="nav-left">
    <a href="/">
      <div class="logo">
        <%= image_tag 'logohome.png' %>
      </div>
    </a>
  </div>
  <strong>Log In to order your Document</strong>
</div>
<div class="login-container">
  <%= form_tag({:controller => "home", :action => "user_login"}, :method => "post", :class => "form-inline") do %>
    <div class="form-group">
      <div class="input"> 
        <%= text_field_tag :email, nil, placeholder: 'Email' %>
      </div>
      <div class="input">
        <%= password_field_tag :password, nil, placeholder: 'Password' %>
      </div>
      <%= submit_tag("Login") %>
    </div>
  <% end %>
  <p>By signing up, I agree to Docket Tech's <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</p>
  <div class="login-option">Do not have an account? <a href="/signup"><span>Click here</span></a></div>
  <div class="login-option">Forgot Password? <span class="forgot_click" data-toggle="modal" data-target="#forgotPassword">Click here</span></div>
</div>

<%= render 'home_static/forgot_password' %>