<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Docket Tech | Documents at your Doorstep</title>

    <!-- Bootstrap CSS -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container-fluid reset_wrapper">
      <div class="row">
        <div class="form_wrapper">
          <div class="col-md-12">
              <a href="/">
                <div class="image_wrapper">
                  <img src="/assets/logohome.png" class="logo" alt="">
                </div>
              </a>
              <h1 class="text-center reset_txt">Reset Password</h1>
              <%= form_tag('/reset_password' , :class => 'reset-form') do |f| %>
                <%= hidden_field_tag :user_id, nil, value: @user.id %>
                <%= hidden_field_tag :reset_code, nil, value: @verification.code %>
                <% if @user.errors.any? %>
                  <div class="error_messages">
                    <h2>Form is invalid</h2>
                    <ul>
                      <% for message in @user.errors.full_messages %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="field">
                  <%= password_field_tag :password, nil, placeholder: 'Enter New Password', required: true %>
                </div>
                <div class="field">
                  <%= password_field_tag :confirm_password, nil, placeholder: 'Confirm Password', required: true %>
                </div>
                <div class="actions"><%= submit_tag "Reset Password", :class => "reset_btn" %></div>
                <a href="/"><button type="button" class="home_btn">Go Back To Home</button></a>
              <% end %>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Bootstrap JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>

<style>
  @font-face {
    font-family: 'PFBeauSansPro';
    src: url("/assets/PFBeauSansPro.ttf") format('truetype');
    font-weight: thin;
    font-style: normal;
  }

  @font-face {
    font-family: 'PFBeauSansPro';
    src: url("/assets/PFBeauSansProa.ttf") format('truetype');
    font-weight: thin;
    font-style: normal;
  }
  
  body{
    overflow: hidden; 
  }
  .reset_wrapper{
    background-image: url('/assets/main_screen.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;  
  }

  form.reset-form {
      width: 450px;
      margin: 0 auto;
      padding: 4em;
      background: rgba(212, 209, 207, 0.47);
  }

  input {
      width: 350px;
      height: 40px;
      border: 0;
      padding-left: 10px;
      margin-bottom: 1em;
  }

  .reset_txt{
    color: #f16224;
    font-family: 'PFBeauSansPro';
  }

  .form_wrapper {
      padding-top: 6em;
  }

  .image_wrapper {
      width: 180px;
      margin: 0 auto;
  }

  button.home_btn {
      position: absolute;
      background: #f16224;
      border: 0;
      color: #fff;
      padding: 0.5em;
      width: 350px;
      height: 40px;
  }
  @media all and (min-width: 360px) and (max-width: 640px) {
    input {
      width: 100%;
      height: 40px;
      border: 0;
      padding-left: 10%;
      margin-bottom: 1em;
    }
    button.home_btn {
      position: absolute;
      background: #f16224;
      border: 0;
      color: #fff;
      padding: 0.5em;
      width: 61%;
      height: 40px;
    }
    form.reset-form {
      width: 100%;
      margin: 0 auto;
      padding: 4em;
      background: rgba(212, 209, 207, 0.47);
    }
  }
</style>