<div class="login-container wrapper text-center">
  <div class="nav-left">
    <a href="/">
      <div class="logo">
        <%= image_tag 'logohome.png' %>
      </div>
    </a>
  </div>
  <br>
  <strong>Create an Account to place your order with us</strong>
</div>
<div class="login-container">
  <%= flash[:notice] if flash[:notice] %>
  <%= form_tag({:controller => "home", :action => "user_signup"}, :method => "post", :class => "form-inline") do |f| %>
    <div class="form-group">
      <div class="input"> 
        <%= text_field_tag 'user[first_name]', nil, placeholder: 'First Name', required: true %>
      </div>
      <div class="input"> 
        <%= text_field_tag 'user[last_name]', nil, placeholder: 'Last Name', required: true %>
      </div>
      <div class="input"> 
        <%= email_field_tag 'user[email]', nil, placeholder: 'Email', required: true  %>
      </div>
      <div class="input"> 
          <div class="country_wrapper">
            <div class="list_country">
              <input type="text" list="countries" name='phone_code' class="keyup-numeric" placeholder='91' maxlength="4" id="code" value='91' required/>
                <datalist id="countries">
                    <!-- <select name="country_id" id="" required> -->
                      <% @countries.each do |country| %>
                        <option value="<%= country.phone_code %>"><%= country.name %></option>
                      <% end %>
                    <!-- </select> -->
                </datalist>
            </div>
            
            <%= text_field_tag 'user[phone]', nil, placeholder: 'Phone', required: true  %>
          </div>
            
      </div>
      <div class="input">
        <%= password_field_tag 'user[password]', nil, placeholder: 'Password', required: true %>
      </div>
      <div class="input">
        <%= password_field_tag 'user[confirm_password]', nil, placeholder: 'Password Confirmation', required: true %>
      </div>
      <div class="box"> 
        <%= submit_tag("Signup") %>
      </div>
    </div>
  <% end %>
  <p>By signing up, I agree to Docket Tech's <a href="/terms">Terms of Service</a> and <a href="/privacy">Privacy Policy</a>.</p>
  <div class="login-option">Already have an account? <a href="/login"><span>Click here</span></a></div>
  <div class="login-option">Forgot Password? <span class="forgot_click" data-toggle="modal" data-target="#forgotPassword">Click here</span></div>
</div>
<%= render 'home_static/forgot_password' %>

<script>
  $('.keyup-numeric').keyup(function() {
   $('span.error-keyup-1').hide();
   var inputVal = $(this).val();
   var numericReg = /^\d*[0-9](|.\d*[0-9]|,\d*[0-9])?$/;
   if(!numericReg.test(inputVal)) {
     $(this).after('<span class="error error-keyup-1">Numeric characters only.</span>');
   }
  });
</script>
<style>
  input#user_phone {
      width: 75%;
  }

  input#code {
      width: 70px;
      padding: 0;
      float: left;
  }

  input#user_phone {
      width: 230px;
  }
  
  .country_wrapper {
      width: 298px;
      display: inline-flex;
      float: left;
  }

  
span.error.error-keyup-1 {
    position: absolute;
    background: #000;
    padding: 6px 12px;
    color: #fff;
}
</style>


