<%= simple_form_for(@users_invite) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :mobile %>
    <%= f.input :user_id %>
    <%= f.input :referral_code %>
    <%= f.input :invite_type %>
    <%= f.association :status %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
