<p id="notice"><%= notice %></p>

<h1>Users Invites</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Referral code</th>
      <th>Invited by</th>
      <th>Code </th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_invites.each do |users_invite| %> 
      <tr>
        <td><%= users_invite.name %></td>
        <td><%= users_invite.email %></td>
        <td><%= users_invite.mobile %></td>
        <td><%= users_invite.referral_code %></td>
        <td><%= users_invite.user.name %></td>
        <td><%= users_invite.status.name %></td>
        <td><%= users_invite.code %></td>
        <td><%= users_invite.property_id %></td>
        <td><%= link_to 'Show', users_invite %></td>
        <td><%= link_to 'Edit', edit_users_invite_path(users_invite) %></td>
        <!-- <td><#%= link_to 'Destroy', users_invite, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Invite', new_users_invite_path %>
