<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @users_invite.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @users_invite.email %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @users_invite.mobile %>
</p>

<p>
  <strong>Referral code:</strong>
  <%= @users_invite.referral_code %>
</p>

<p>
  <strong>Invited by:</strong>
  <%= @users_invite.user_id %>
</p>

<p>
  <strong>Invited by:</strong>
  <%= @users_invite.status.name %>
</p>

<%= link_to 'Edit', edit_users_invite_path(@users_invite) %> |
<%= link_to 'Back', users_invites_path %>
