<div class="metric-panel">
	<div class="db-counter">
		<label for="restaurants">Bill Incomplete</label>
		<li class="metrics">
			<%= @incomplete_bills_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="loyalty-l">Bill Inprogress</label>
		<li class="metrics">
			<%= @inprogress_bills_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="order_bills">Bill Completed</label>
		<li class="metrics">
			<%= @completed_bills_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="cuisines">Verified Property</label>
		<li class="metrics">
			<%= @properties_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="cuisines">Unverified Property</label>
		<li class="metrics">
			<%= @unverified_properties_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="dishes">Tenant</label>
		<li class="metrics">
			<%= @tenants_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="dk_dishes">Landlord</label>
		<li class="metrics">
			<%= @landlords_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="reviews">Payment Success</label>
		<li class="metrics">
			<%= @successfull_payments_count	%>
		</li>
	</div>
	<div class="db-counter">
		<label for="checkin">Payment Failed</label>
		<li class="metrics">
			<%= @failed_payments_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="device">Employees</label>
		<li class="metrics">
			<%= @employees_count %>
		</li>
	</div>
	<div class="db-counter">
		<label for="contact-r">User</label>
		<li class="metrics">
			<%= @user_count %>
		</li>
	</div>
	<hr>
	<div class="db-counter">
		<label for="localities">ContactRequest</label>
		<li class="metrics">
			<%= @contact_request_count %>
		</li>
	</div>
	<hr>
</div>	