<%= simple_form_for(@properties_transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :amount %>
    <%= f.input :approval_code %>
    <%= f.input :bank_ref_num %>
    <%= f.input :bankcode %>
    <%= f.input :banktxnid %>
    <%= f.input :bname %>
    <%= f.input :cardnum %>
    <%= f.input :ccbin %>
    <%= f.input :ccbrand %>
    <%= f.input :cccountry %>
    <%= f.input :currency %>
    <%= f.input :discount %>
    <%= f.input :email %>
    <%= f.input :expmonth %>
    <%= f.input :expyear %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :terminal_id %>
    <%= f.input :ipgTransactionId %>
    <%= f.input :mode %>
    <%= f.input :name_on_card %>
    <%= f.input :oid %>
    <%= f.input :bill_id %>
    <%= f.input :pg_type %>
    <%= f.input :phone %>
    <%= f.input :respmsg %>
    <%= f.input :response_code %>
    <%= f.input :response_code_3dsecure %>
    <%= f.input :response_dump %>
    <%= f.input :response_hash_validation %>
    <%= f.input :responseHash_validationFrom %>
    <%= f.input :secret_hash %>
    <%= f.input :status %>
    <%= f.input :tdate %>
    <%= f.input :timezone %>
    <%= f.input :transactionNotificationURL %>
    <%= f.input :txndate_processed %>
    <%= f.input :txndatetime %>
    <%= f.input :txnid %>
    <%= f.input :txntype %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
