<h1>Editing Properties Payment</h1>

<%= render 'form', properties_transaction: @properties_transaction %>

<%= link_to 'Show', @properties_transaction %> |
<%= link_to 'Back', properties_transactions_path %>
