<p id="notice"><%= notice %></p>

<h1>Properties Payments</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Txnid</th>
      <th>Amount</th>
      <th>Status</th>
      <th>Respmsg</th>
      <th>Bank ref num</th>
      <th>Banktxnid</th>
      <th>Bname</th>
      <th>Ccbin</th>
      <th>Ccbrand</th>
      <th>Terminal Id</th>
      <th>IpgTransactionId</th>
      <th>Mode</th>
      <th>Oid</th>
      <th>Pg type</th>
      <th>Response code</th>
      <th>Response code 3dsecure</th>
      <th>Txndate processed</th>
      <th>Txndatetime</th>
      <th>Txntype</th>
      <th colspan="3"></th>
      <!-- <th>Email</th> -->
      <!-- <th>Tdate</th> -->
      <!-- <th>Name on card</th> -->
      <!-- <th>First name</th> -->
      <!-- <th>Approval code</th> -->
      <!-- <th>Bill</th> -->
      <!-- <th>Phone</th> -->
      <!-- <th>Bankcode</th> -->
      <!-- <th>Cardnum</th> -->
      <!-- <th>Cccountry</th> -->
      <!-- <th>Currency</th> -->
      <!-- <th>Discount</th> -->
      <!-- <th>Expmonth</th> -->
      <!-- <th>Expyear</th> -->
      <!-- <th>Last name</th> -->
      <!-- <th>Response dump</th> -->
      <!-- <th>Secret hash</th> -->
      <!-- <th>Timezone</th> -->
      <!-- <th>Transactionnotificationurl</th> -->
    </tr>
  </thead>

  <tbody>
    <% @properties_transactions.each do |properties_transaction| %>
      <tr>
        <td><%= properties_transaction.txnid %></td>
        <td><%= properties_transaction.amount %></td>
        <td><%= properties_transaction.status %></td>
        <td><%= properties_transaction.respmsg %></td>
        <td><%= properties_transaction.bank_ref_num %></td>
        <td><%= properties_transaction.banktxnid %></td>
        <td><%= properties_transaction.bname %></td>
        <td><%= properties_transaction.ccbin %></td>
        <td><%= properties_transaction.ccbrand %></td>
        <td><%= properties_transaction.ipgTransactionId %></td>
        <td><%= properties_transaction.mode %></td>
        <td><%= properties_transaction.name_on_card %></td>
        <td><%= properties_transaction.oid %></td>
        <td><%= properties_transaction.pg_type %></td>
        <td><%= properties_transaction.first_name %></td>
        <td><%= properties_transaction.terminal_id %></td>
        <td><%= properties_transaction.txndate_processed %></td>
        <td><%= properties_transaction.txndatetime %></td>
        <td><%= properties_transaction.txntype %></td>
        <td><%= link_to 'Show', properties_transaction %></td>
        <td><%= link_to 'Edit', edit_properties_transaction_path(properties_transaction) %></td>
        <!-- <td><%#= link_to 'Destroy', properties_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        <!-- <td><%#= properties_transaction.phone %></td> -->
        <!-- <td><%#= properties_transaction.email %></td> -->
        <!-- <td><%#= properties_transaction.bill_id %></td> -->
        <!-- <td><%#= properties_transaction.response_code %></td> -->
        <!-- <td><%#= properties_transaction.response_code_3dsecure %></td> -->
        <!-- <td><%#= properties_transaction.approval_code %></td> -->
        <!-- <td><%#= properties_transaction.currency %></td> -->
        <!-- <td><%#= properties_transaction.tdate %></td> -->
        <!-- <td><%#= properties_transaction.discount %></td> -->
        <!-- <td><%#= properties_transaction.bankcode %></td> -->
        <!-- <td><%#= properties_transaction.expmonth %></td> -->
        <!-- <td><%#= properties_transaction.cardnum %></td> -->
        <!-- <td><%#= properties_transaction.expyear %></td> -->
        <!-- <td><%#= properties_transaction.cccountry %></td> -->
        <!-- <td><%#= properties_transaction.last_name %></td> -->
        <!-- <td><%#= properties_transaction.response_dump %></td> -->
        <!-- <td><%#= properties_transaction.secret_hash %></td> -->
        <!-- <td><%#= properties_transaction.timezone %></td> -->
        <!-- <td><%#= properties_transaction.transactionNotificationURL %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Properties Payment', new_properties_transaction_path %>
 <%= will_paginate @properties_transactions %>
