<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @properties_transaction.amount %>
</p>

<p>
  <strong>Approval code:</strong>
  <%= @properties_transaction.approval_code %>
</p>

<p>
  <strong>Bank ref num:</strong>
  <%= @properties_transaction.bank_ref_num %>
</p>

<p>
  <strong>Bankcode:</strong>
  <%= @properties_transaction.bankcode %>
</p>

<p>
  <strong>Banktxnid:</strong>
  <%= @properties_transaction.banktxnid %>
</p>

<p>
  <strong>Bname:</strong>
  <%= @properties_transaction.bname %>
</p>

<p>
  <strong>Cardnum:</strong>
  <%= @properties_transaction.cardnum %>
</p>

<p>
  <strong>Ccbin:</strong>
  <%= @properties_transaction.ccbin %>
</p>

<p>
  <strong>Ccbrand:</strong>
  <%= @properties_transaction.ccbrand %>
</p>

<p>
  <strong>Cccountry:</strong>
  <%= @properties_transaction.cccountry %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @properties_transaction.currency %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @properties_transaction.discount %>
</p>

<p>
  <strong>Email:</strong>
  <%= @properties_transaction.email %>
</p>

<p>
  <strong>Expmonth:</strong>
  <%= @properties_transaction.expmonth %>
</p>

<p>
  <strong>Expyear:</strong>
  <%= @properties_transaction.expyear %>
</p>

<p>
  <strong>First name:</strong>
  <%= @properties_transaction.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @properties_transaction.last_name %>
</p>

<p>
  <strong>Terminal Id:</strong>
  <%= @properties_transaction.terminal_id %>
</p>

<p>
  <strong>IpgTransactionId:</strong>
  <%= @properties_transaction.ipgTransactionId %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @properties_transaction.mode %>
</p>

<p>
  <strong>Name on card:</strong>
  <%= @properties_transaction.name_on_card %>
</p>

<p>
  <strong>Oid:</strong>
  <%= @properties_transaction.oid %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @properties_transaction.bill_id %>
</p>

<p>
  <strong>Pg type:</strong>
  <%= @properties_transaction.pg_type %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @properties_transaction.phone %>
</p>

<p>
  <strong>Respmsg:</strong>
  <%= @properties_transaction.respmsg %>
</p>

<p>
  <strong>Response code:</strong>
  <%= @properties_transaction.response_code %>
</p>

<p>
  <strong>Response code 3dsecure:</strong>
  <%= @properties_transaction.response_code_3dsecure %>
</p>

<p>
  <strong>Response dump:</strong>
  <%= @properties_transaction.response_dump %>
</p>

<p>
  <strong>Responsehash validationfrom:</strong>
  <%= @properties_transaction.responseHash_validationFrom %>
</p>

<p>
  <strong>Secret hash:</strong>
  <%= @properties_transaction.secret_hash %>
</p>

<p>
  <strong>Status:</strong>
  <%= @properties_transaction.status %>
</p>

<p>
  <strong>Tdate:</strong>
  <%= @properties_transaction.tdate %>
</p>

<p>
  <strong>Timezone:</strong>
  <%= @properties_transaction.timezone %>
</p>

<p>
  <strong>Transactionnotificationurl:</strong>
  <%= @properties_transaction.transactionNotificationURL %>
</p>

<p>
  <strong>Txndate processed:</strong>
  <%= @properties_transaction.txndate_processed %>
</p>

<p>
  <strong>Txndatetime:</strong>
  <%= @properties_transaction.txndatetime %>
</p>

<p>
  <strong>Txnid:</strong>
  <%= @properties_transaction.txnid %>
</p>

<p>
  <strong>Txntype:</strong>
  <%= @properties_transaction.txntype %>
</p>

<%= link_to 'Edit', edit_properties_transaction_path(@properties_transaction) %> |
<%= link_to 'Back', properties_transactions_path %>
