<h1>Property Verification</h1>
<% if @property %>

<h3> Property Details </h3>
   <table class='table table-bordered'>
	   	<tr>
		   	<th>Property Name</th>
		   	<th>Property UID</th>
		   	<th>Property Type</th>
		   	<th>Rent</th>
		   	<th>Maintenance</th>
		   	<th>Society Available</th>
	   </tr>
	   	<tr>	
			<td><%= @property.name %> </td>
			<td><%= @property.uid %> </td>
			<td><%= @property.property_type %> </td>
			<td><%= @property.rent %> </td>
			<td><%= @property.maintenance %></td>
			<td><%= @property.society_available %> </td>
	    </tr>
    </table>
 <br/>
	<h3> Property Address </h3> 

	<table class="table table-bordered"> 
	  <tr>
	  <!-- <th>Property Id</th> -->
      <th>Locality</th>
      <th>Building</th>
      <th>Floor</th>
      <th>City</th>
      <th>State</th>
      <th>Flat no</th>
      <th>Pincode</th>
	  </tr>
	  <tr>
	    <!-- <td><%#= @property.address.property_id %></td> -->
        <td><%= @property.address.locality %></td>
        <td><%= @property.address.building %></td>
        <td><%= @property.address.floor %></td>
        <td><%= @property.address.city %></td>
        <td><%= @property.address.state_id %></td>
        <td><%= @property.address.flat_no %></td>
        <td><%= @property.address.pincode %></td>
	  </tr>
	</table>
<br/>
	<% if @active_tenants %>
		<h3> Active Tenants: </h3>
			<table class="table table-bordered">
				<thead>
				  <tr>
				  <th>Tenant Name</th>
			      <th>Email</th>
			      <th>Phone No</th>
			      <th>Rent Agreement </th>
			    </tr>
			  </thead>

			  <tbody>
			  	  <% @active_tenants.each do |active_tenant| %>
			      <tr>
			        <td><%= active_tenant.name if active_tenant.name %></td>
			        <td><%= active_tenant.email if active_tenant.email %></td>
			        <td><%= active_tenant.mobile if active_tenant.mobile %></td>
			        <td>
			  			<% if active_tenant.rent_agreement_url %>
			          		<a href="<%= active_tenant.rent_agreement_url %>" target="_blank">
			           		 	<button class="download_btn">Download</button>
			          		</a>
		          		<% end %>
			        </td>
				  </tr>
				 <% end %>
			   </tbody>
			</table>
	<% end %>

	<% if @owners %>
		<h3> Active Owners </h3>
			<table class="table table-bordered">
				<thead>
				  <tr>
				  <th>Owner Name</th>
			      <th>Email</th>
			      <th>Phone No</th>
			      <th>Pan Card No </th>
			      <th>Bank Details
			    </tr>
			  </thead>

			  <tbody>
			  	  <% @owners.each do |owner| %>
				      <tr>
					        <td><%= owner.name if owner.name %></td>
					        <td><%= owner.email if owner.email %></td>
					        <td><%= owner.mobile if owner.mobile %></td>
					        <td><%= owner.pancard if owner.pancard %></td>
					        <td>
					        	<table class='table table-bordered margin-top-0'>
							        <tr>
									        <th>IFSC</th>
									        <th>Account No</th>
									        <th>Account Type</th>
									        <th>Bank Name </th>
									        <th>ACC Type </th>
								    </tr>
								    <tr>
								        <% if owner.bank_details.length > 0 %>
											<% account = owner.bank_details.first %>
												<td><%= account.account_holder_name %></td>
												<td><%= account.bank_name %></td>
												<td><%= account.acc_number %></td>
												<td><%= account.ifsc %></td>
												<td><%= account.acc_type %></td>
										<% end %>
							        </tr>
						        </table>
						    </td>
					  </tr>
				 <% end %>
			   </tbody>
			</table>

	<% end %>
 
	<% if @property.society %>
 		<h3> Society Details </h3>
		<table class='table table-bordered'>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Email</th>
		      <th>Contact</th>
		      <th>Registration no</th>
		      <th>Address</th>
		      <th>City</td>
		      <th>State</td>
		      <th>Locality</td>
		      <th>Pan Card</th>
		      <th>Property List Url </th>
		    </tr>
		  </thead>

		  <tbody>
		      <tr>
		        <td><%= @property.society.name  %></td>
		        <td><%= @property.society.email %></td>
		        <td><%= @property.society.contact  %></td>
		        <td><%= @property.society.registration_no  %></td>
		     	<td><%= @property.society.address  %></td>
		        <td><%= @property.society.city  %></td>
		        <td><%= @property.society.state_id %></td>
		        <td><%= @property.society.locality  %></td>
		        <td><%= @property.society.pancard  %></td>
		        <td><%= @property.society.property_list_url %></td> 
		      </tr>
		  </tbody>
		</table>
       
    	<% if @property.society.bank_details %>
	    	<h2> Society Bank Details </h2>
	        
	    	<table class='table table-bordered margin-top-0'>
		        <tr>
				        <th>IFSC</th>
				        <th>Account No</th>
				        <th>Account Type</th>
				        <th>Bank Name </th>
				        <th>ACC Type </th>
				        <th>Account Holder Name </th>
			    </tr>
			    <tr>
				        	<% @property.society.bank_details.each do |bank| %>
				        		<td><%= bank.ifsc %></td>
				        		<td><%= bank.acc_number %></td>
				        		<td><%= bank.account_type %></td>
				        		<td><%= bank.bank_name %></td>
				        		<td><%= bank.acc_type %></td>
				        		<td><%= bank.account_holder_name %></td>
				        	<% end %>
		        </tr>
	   		</table>
		<% end %>

	<% end %>

	<div>
		<%= form_tag('/admin/employees/property_verification/verify_property', type: :post, :class => '', :style => "") do |f| %>
			<%= hidden_field_tag 'property', nil, value: @property.id %>
			<button type="submit" class="btn btn-primary ">Verify Property</button>
		<%end%>	
	</br>
       	<button type="button" class="btn btn-primary " data-toggle="modal"  data-target="#delivery-modal">
		 Report Message
		</button>
	</div>


	<div class="modal fade" id="delivery-modal" role="dialog" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-body">
	    		<input type='hidden' name='property' val='<% @property.id %>'/>
	    		<label>Report issue:</label>
	    		 <input type="text" name='report_issue' placeholder="Enter the Issue here" required/>
	    	</div>
	    	<div class="modal-footer">
	        	<button type="submit" class="btn btn-default report_issue">Submit</button>
	      </div>
	    </div>

	  </div>
	</div>



<% else %>
	No Verification Pending
<% end %>

<script>

 $(document).ready(function (e) {
    $('.report_issue').on('click', function(e) {
      var property = $('input[name=property]').val()
      var message = $('input[name=report_issue]').val()
      e.preventDefault();
      e.stopPropagation();
      var postdata = {
      	property:property,
      	message:message	
      };
      $.ajax({
          type: 'post',
          url: '/admin/employees/property_verification/report_issue',
          data: postdata,

      }).done(function (data, textStatus, jqXHR) {
          $('.result').html(data);
      }).fail(function (jqXHR, textStatus, errorThrown) {
          setNotification('error', 'Unknown Error. Try Again');
      });
    })
 });
</script>


<style>
.margin-top-0{
	margin-top: 0!important;
}
</style>
