<div class="search search_wrapper">

  <ul class="nav nav-tabs">
      <li class="active"><a data-toggle="tab" href="#tab1">EMAIL</a></li>
      <li><a data-toggle="tab" href="#tab2">NAME</a></li>
      <li><a data-toggle="tab" href="#tab3">PHONE</a></li>
  </ul>
  <form>
   <div class="tab-content">
      <div id="search" class="tab-pane fade in active">
        <h2>Enter the Search</h2>
        <input type="hidden" id='type' name='type' id="tab1" value='email'>
        <input type="text" name="query" placeholder="Enter Value" class='search_box'>
        <input type="submit" class="search-submit">
      </div> 
    </div>
  </form>
</div>  
<div class="result">
</div>

<script>

$('ul li').on('click',function(e){
    $('ul li').removeClass('active');
    $(this).addClass('active');
    var activeTab = $(this).find('a').attr('href');
    
    if (activeTab == '#tab1') {
      $('#type').val('email');
    }
      else if(activeTab == '#tab2'){
      $('#type').val('name'); 
    }
      else {
        $('#type').val('phone');
      }
      return false;
  });

$('.search-submit ').click(function (e){
    e.preventDefault();
    $.ajax({
      type: "GET",
      url : '/admin/users/search_by',
      data: $('#search input').serialize(),
      error: function(data,xhr) {
          console.log("Error occurred when retrieving job executions");
      },
      success: function(data,xhr) {
        $('.result').html(data);
      }
    });
  });  
   
</script>

<style>
  .result {
      margin-top: 150px;
      width: 100%;
  }
  .container #search input[type=text] {
      border: 1px solid #000;
  }
</style>