<%= form_for(properties_tenant) do |f| %>
  <% if properties_tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(properties_tenant.errors.count, "error") %> prohibited this properties_tenant from being saved:</h2>

      <ul>
      <% properties_tenant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :property_id %>
    <%= f.number_field :property_id %>
  </div>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :staying_since %>
    <%= f.date_select :staying_since %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.date_select :end_date %>
  </div>

  <div class="field">
    <%= f.label :invited_by %>
    <%= f.number_field :invited_by %>
  </div>

  <div class="field">
    <%= f.label :removed_by %>
    <%= f.number_field :removed_by %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
