<p id="notice"><%= notice %></p>

<h1>Properties Tenants</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Property</th>
      <th>Amount</th>
      <th>User</th>
      <th>Staying since</th>
      <th>End date</th>
      <th>Invited by</th>
      <th>Removed by</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties_tenants.each do |properties_tenant| %>
      <tr>
        <td><%= properties_tenant.property_id %></td>
        <td><%= properties_tenant.amount %></td>
        <td><%= properties_tenant.user_id %></td>
        <td><%= properties_tenant.staying_since %></td>
        <td><%= properties_tenant.end_date %></td>
        <td><%= properties_tenant.invited_by %></td>
        <td><%= properties_tenant.removed_by %></td>
        <td><%= link_to 'Property Details' %></td>
        <td><%= link_to 'Show', properties_tenant %></td>
        <td><%= link_to 'Edit', edit_properties_tenant_path(properties_tenant) %></td>
        <!-- <td><#%= link_to 'Destroy', properties_tenant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Properties Tenant', new_properties_tenant_path %>
<%= will_paginate @properties_tenants %>