<p id="notice"><%= notice %></p>

<p>
  <strong>Property:</strong>
  <%= @properties_tenant.property_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @properties_tenant.amount %>
</p>

<p>
  <strong>User:</strong>
  <%= @properties_tenant.user_id %>
</p>

<p>
  <strong>Staying since:</strong>
  <%= @properties_tenant.staying_since %>
</p>

<p>
  <strong>End date:</strong>
  <%= @properties_tenant.end_date %>
</p>

<p>
  <strong>Invited by:</strong>
  <%= @properties_tenant.invited_by %>
</p>

<p>
  <strong>Removed by:</strong>
  <%= @properties_tenant.removed_by %>
</p>

<%= link_to 'Edit', edit_properties_tenant_path(@properties_tenant) %> |
<%= link_to 'Back', properties_tenants_path %>
