<h1>Editing Users Invites Status</h1>

<%= render 'form', users_invites_status: @users_invites_status %>

<%= link_to 'Show', @users_invites_status %> |
<%= link_to 'Back', users_invites_statuses_path %>
