<p id="notice"><%= notice %></p>

<h1>Users Invites Statuses</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_invites_statuses.each do |users_invites_status| %>
      <tr>
        <td><%= users_invites_status.name %></td>
        <td><%= link_to 'Show', users_invites_status %></td>
        <td><%= link_to 'Edit', edit_users_invites_status_path(users_invites_status) %></td>
        <!-- <td><#%= link_to 'Destroy', users_invites_status, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Invites Status', new_users_invites_status_path %>
 