<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @users_invites_status.name %>
</p>

<%= link_to 'Edit', edit_users_invites_status_path(@users_invites_status) %> |
<%= link_to 'Back', users_invites_statuses_path %>
