<%= simple_form_for(@properties_payment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :bank_detail_id %>
    <%= f.input :bill_id %>
    <%= f.input :property_id %>
    <%= f.input :type %>
    <%= f.input :status_id %>
    <%= f.input :employee_id %>
    <%= f.input :amount %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
