
<div class="text-danger lead">Please enter the desired date to download the excel</div><br>
<input type="text" data-provide='datepicker' class="datepicker" placeholder="Select Date (dd/mm/yyyy)" >&nbsp<input type="button" class="btn btn-primary" value="Download" onclick="initDownload()"/>

<script type="text/javascript">
  $(document).ready(function(){
    var date = new Date();
    var today = new Date(date.getFullYear(), date.getMonth(), date.getDate());
    $('.datepicker').datepicker(
    	{
    	defaultDate: Date.today,
	    format: 'dd/mm/yyyy',
	    endDate:today,
	    todayHighlight: true,
		}).on('changeDate', function(ev){
		    $(this).datepicker('hide');
		});
  });
  var initDownload = function(){
    	var selected_dt = $('.datepicker').val();
    	if(selected_dt){
	    	var aTag = document.createElement('a');
	    	aTag.setAttribute('href',"/admin/excel.xls"+'?selected_date='+selected_dt);
	    	aTag.click();
    	}
    	else{
    		alert('Please Select date');
    	}
    	return;
    }; 
</script>

