<% if @payments %>
  <?xml version="1.0"?>
  <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:o="urn:schemas-microsoft-com:office:office"
    xmlns:x="urn:schemas-microsoft-com:office:excel"
    xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
    xmlns:html="http://www.w3.org/TR/REC-html40">
    <% client_code = 'DOCKETVEN' %>
    <% product_code = 'RPAY' %>
    <% payment_type = 'NEFT' %>
    <% dr_ac_no = '8011665645' %>
      <Worksheet ss:Name="Sheet1">
        <Table>
          <Row>
          <Cell><Data ss:Type="String">Client Code</Data></Cell>
          <Cell><Data ss:Type="String">Product Code</Data></Cell>
          <Cell><Data ss:Type="String">Payment Type</Data></Cell>
          <Cell><Data ss:Type="String">Payment_Ref_No</Data></Cell>
          <Cell><Data ss:Type="String">Payment_Date</Data></Cell>
          <Cell><Data ss:Type="String">Dr_Ac_No </Data></Cell>
          <Cell><Data ss:Type="String">Amount</Data></Cell>
          <Cell><Data ss:Type="String">Beneficiary_Code</Data></Cell>
          <Cell><Data ss:Type="String">Beneficiary_Name</Data></Cell>
          <Cell><Data ss:Type="String">IFS Code</Data></Cell>
          <Cell><Data ss:Type="String">Beneficiary_Acc_no</Data></Cell>
          <Cell><Data ss:Type="String">Beneficiary_Email</Data></Cell>
          <Cell><Data ss:Type="String">Beneficiary_Mobile</Data></Cell>
          <Cell><Data ss:Type="String">Debit Narration</Data></Cell>
          <Cell><Data ss:Type="String">Crefit Narration</Data></Cell>
          <Cell><Data ss:Type="String">EnrichMent 1</Data></Cell>
          <Cell><Data ss:Type="String">Enrichment 2</Data></Cell> 
          </Row>
          <% @payments.each do |payment| %>
            <Row>
              <Cell><Data ss:Type="String"><%= client_code %></Data></Cell>
              <Cell><Data ss:Type="String"><%= product_code %></Data></Cell>
              <Cell><Data ss:Type="String"><%= payment_type %></Data></Cell>
              <Cell><Data ss:Type="String"><%= payment.bill.invoice_no %></Data></Cell>
              <Cell><Data ss:Type="String"><%= payment.created_at.strftime("%d-%m-%Y") %></Data></Cell>
              <Cell><Data ss:Type="Number"><%= dr_ac_no %></Data></Cell>
              <Cell><Data ss:Type="Number"><%= payment.amount %></Data></Cell>
              <Cell><Data ss:Type="String"><%=  %></Data></Cell>
              <Cell><Data ss:Type="String"><%= payment.bank_detail.account_holder_name %></Data></Cell>
              <Cell><Data ss:Type="String"><%= payment.bank_detail.ifsc %></Data></Cell>
              <Cell><Data ss:Type="Number"><%= payment.bank_detail.acc_number %></Data></Cell>
              <Cell><Data ss:Type="String"><%= payment.bank_detail.account.email %></Data></Cell>
              <Cell><Data ss:Type="String"><%= payment.bank_detail.account.mobile %></Data></Cell>
              <Cell><Data ss:Type="String"><%= payment.payment_type %></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
              <Cell><Data ss:Type="String"></Data></Cell>
            </Row>
        <% end %>
        </Table>
      </Worksheet>

  </Workbook>
<% else %>
  <h1>No Data Available</h1>

<% end %>




