<p id="notice"><%= notice %></p>

<h1>Properties Payments</h1>

<table class='table table-bordered'>
  <% client_code = 'DOCKETVEN' %>
  <% product_code = 'RPAY' %>
  <% payment_type = 'NEFT' %>
  <% dr_ac_no = '8011665645' %>
   <thead>
      <tr>
       <th>Client Code</th>
       <th>Product Code</th>
       <th>Payment Type</th>
       <th>Payment_Ref_No</th>
       <th>Payment_Date</th>
       <th>Dr_Ac_No </th>
       <th>Amount</th>
       <th>Beneficiary_Code</th>
       <th>Beneficiary_Name</th>
       <th>Beneficiary_Account_Holder_Name</th>
       <th>IFS Code</th>
       <th>Beneficiary_Acc_no</th>
       <th>Beneficiary_Email</th>
       <th>Beneficiary_Mobile</th>
       <th>Payment Purpose </th>
       <th>Debit Narration</th>
       <th>Crefit Narration</th>
       <th>EnrichMent 1</th>
       <th>Enrichment 2</th> 
      </tr>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
         <td><%= client_code %></td>
         <td><%= product_code %></td>
         <td><%= payment_type %></td>
         <td><%= payment.bill.invoice_no %></td>
         <td><%= payment.created_at.strftime("%d-%m-%Y") %></td>
         <td><%= dr_ac_no %></td>
         <td><%= payment.amount %></td>
         <td><%=  %></td>
         <td><%= payment.bank_detail.account.name %></td>
         <td><%= payment.bank_detail.account_holder_name %></td>
         <td><%= payment.bank_detail.ifsc %></td>
         <td><%= payment.bank_detail.acc_number %></td>
         <td><%= payment.bank_detail.account.email %></td>
         <td><%= payment.bank_detail.account.mobile %></td>
         <td><%= payment.payment_type %></td>
         <td></td>
         <td></td>
         <td></td>
         <td></td>
       </tr>
      <% end %>
    </tbody>
</table>




