<p id="notice"><%= notice %></p>

<h1>Properties Payments</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>Bank detail</th>
      <th>Bill</th>
      <th>Property</th>
      <th>Type</th>
      <th>Status</th>
      <th>Assigned to</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties_payments.each do |properties_payment| %>
      <tr>
        <td><%= properties_payment.bank_detail_id %></td>
        <td><%= properties_payment.bill_id %></td>
        <td><%= properties_payment.property_id %></td>
        <td><%= properties_payment.payment_type %></td>
        <td><%= properties_payment.status_id %></td>
        <td><%= properties_payment.employee.name if properties_payment.employee_id  %></td>
        <td><%= properties_payment.amount %></td>
        <td><%= link_to 'Show', properties_payment %></td>
        <td><%= link_to 'Edit', edit_properties_payment_path(properties_payment) %></td>
        <td>
            <a class="property-update"  data-toggle="modal" data-target="#property-modal" data-property='<%= properties_payment.id %>' data-bill='<%= properties_payment.bill_id%>' data-amount='<%= properties_payment.amount%>'> Update Payment Transcation</a>
        </td>
        <!-- <td><#%= link_to 'Destroy', properties_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="modal fade" id="property-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content"> 
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Property Payment Update</h4>
      </div>
      <div class="modal-body" id="test">
            <!-- <label>Amount:</label>
              <input type="text" name='amount' placeholder="Enter the amount here" required/> <br/> -->
            <label>Bank Ref Num:</label>
              <input type="text" name='bank_ref_num' placeholder="Enter the bank_ref_num here" required/> <br/>
            <label>Bank Code:</label>
              <input type="text" name='bankcode' placeholder="Enter the bank_code here" required/> <br/>
            <label>Bank name:</label>
              <input type="text" name='bname' placeholder="Enter the bank name here" required/> <br/>        
            <label>Bank Txnid:</label>
              <input type="text" name='banktxnid' placeholder="Enter the bank tnxid here" required/> <br/>  
            <label>Payment Type:</label>
              <input type="text" name='payment_type' placeholder="Enter the payment here" required/> <br/>       
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default property-submit-status">Update</button>
      </div>
    </div>
  </div>
</div>


<%= link_to 'New Properties Payment', new_properties_payment_path %>
 <%= will_paginate @properties_payments %>


<script>

    $('#property-modal').on('show.bs.modal', function (e) {
    $('#property-modal').data("link", $(e.relatedTarget));
      });

    $(document).ready(function (e) {
    $('.property-submit-status').on('click', function(e) {
      // var amount = $('input[name=amount]').val()
      var bank_ref_num = $('input[name=bank_ref_num]').val()
      var bankcode = $('input[name=bankcode]').val()
      var bname = $('input[name=bname]').val()
      var banktxnid = $('input[name=banktxnid]').val()
      var payment_type = $('input[name=payment_type]').val()
      // var payment_id =  $('a.property-update').data('attr');
      var payment_id =  $($('#property-modal').data("link")).data('property');
      var bill_id = $($('#property-modal').data("link")).data('bill');
      var amount = $($('#property-modal').data("link")).data('amount');
      e.preventDefault();
      e.stopPropagation();
      var postdata = {
        bank_ref_num:bank_ref_num,
        bankcode:bankcode,
        bname:bname,
        banktxnid:banktxnid,
        payment_id:payment_id,
        bill_id:bill_id, 
        amount:amount,
        payment_type:payment_type
      };
      $.ajax({
          type: 'post',
          url: '/admin/properties/payments/update_transaction',
          data: postdata,
      }).done(function (data, textStatus, jqXHR) {
          $('.result').html(data);
      }).fail(function (jqXHR, textStatus, errorThrown) {
          setNotification('error', 'Unknown Error. Try Again');
      });
    })
 });
</script>