<p id="notice"><%= notice %></p>

<p>
  <strong>Bank detail:</strong>
  <%= @properties_payment.bank_detail_id %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @properties_payment.bill_id %>
</p>

<p>
  <strong>Property:</strong>
  <%= @properties_payment.property_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @properties_payment.type %>
</p>

<p>
  <strong>Status:</strong>
  <%= @properties_payment.status_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @properties_payment.employee_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @properties_payment.amount %>
</p>

<%= link_to 'Edit', edit_properties_payment_path(@properties_payment) %> |
<%= link_to 'Back', properties_payments_path %>
