<h1>Tenant Verification</h1>
<% if @tenant %>
	<h3>Tenant Details: </h3>
	<table class="table table-bordered">
		<thead>
		    <tr>
		      <th>Tenant Id</td>
			  <th>Tenant Name</th>
		      <th>Email</th>
		      <th>Phone No</th>
		      <th>Rent Agreement </th>
	        </tr>
	    </thead>

	    <tbody>
	      <tr>
	      	<td><%= @tenant.id  %></td>
	        <td><%= @tenant.name  %></td>
	        <td><%= @tenant.email %></td>
	        <td><%= @tenant.mobile  %></td>
	        <td>
	  			<% if @tenant.rent_agreement_url %>
	          		<a href="<%= @tenant.rent_agreement_url %>" target="_blank">
	           		 	<button class="download_btn">Download</button>
	          		</a>
          		<% end %>
	        </td>
		  </tr>
	    </tbody>
	</table>
    <br/>

    <% if @tenant.property %>
		<h3> Property Details </h3>
	    <table class='table table-bordered'>
		   	<tr>
			   	<th>Property Name</th>
			   	<th>Property UID</th>
			   	<th>Property Type</th>
			   	<th>Rent</th>
			   	<th>Maintenance</th>
			   	<th>Society Available</th>
		    </tr>
		   	<tr>	
				<td><%= @tenant.property.name %> </td>
				<td><%= @tenant.property.uid %> </td>
				<td><%= @tenant.property.property_type %> </td>
				<td><%= @tenant.property.rent %> </td>
				<td><%= @tenant.property.maintenance %></td>
				<td><%= @tenant.property.society_available %> </td>
		    </tr>
	    </table>
	    <br/>

		<h3> Property Address </h3>

		<table class="table table-bordered">
		  <tr>
		  <th>Property Id</th>
	      <th>Locality</th>
	      <th>Building</th>
	      <th>Floor</th>
	      <th>City</th>
	      <th>State</th>
	      <th>Flat no</th>
	      <th>Pincode</th>
		  </tr>
		  <tr>
		    <td><%= @tenant.property.address.property_id %></td>
	        <td><%= @tenant.property.address.locality %></td>
	        <td><%= @tenant.property.address.building %></td>
	        <td><%= @tenant.property.address.floor %></td>
	        <td><%= @tenant.property.address.city %></td>
	        <td><%= @tenant.property.address.state_id %></td>
	        <td><%= @tenant.property.address.flat_no %></td>
	        <td><%= @tenant.property.address.pincode %></td>
		  </tr>
		</table>
		<br/>
	<% end %>

	<% if @tenant.property.owners %>
		<h3> Active Owners </h3>
			<table class="table table-bordered">
				<thead>
				  <tr>
				  <th>Owner Name</th>
			      <th>Email</th>
			      <th>Phone No</th>
			      <th>Pan Card No </th>
			      <th>Bank Details
			    </tr>
			  </thead>

			  <tbody>
			  	  <% @tenant.property.owners.each do |owner| %>
				      <tr>
					        <td><%= owner.name if owner.name %></td>
					        <td><%= owner.email if owner.email %></td>
					        <td><%= owner.mobile if owner.mobile %></td>
					        <td><%= owner.pancard if owner.pancard %></td>
					        <td>
					        	<table class='table table-bordered margin-top-0'>
							        <tr>
									        <th>IFSC</th>
									        <th>Account No</th>
									        <th>Account Type</th>
									        <th>Bank Name </th>
									        <th>ACC Type </th>
								    </tr>
								    <tr>
								        	<% if owner.bank_details.length > 0 %>
											<% account = owner.bank_details.first %>
												<td><%= account.account_holder_name %></td>
												<td><%= account.bank_name %></td>
												<td><%= account.acc_number %></td>
												<td><%= account.ifsc %></td>
												<td><%= account.acc_type %></td>
										<% end %>
							        </tr>
						        </table>
						    </td>
					  </tr>
				 <% end %>
			   </tbody>
			</table>

	<% end %>
 
	<% if @tenant.property.society %>
 		<h3> Society Details </h3>
		<table class='table table-bordered'>
		  <thead>
		    <tr>
		      <th>Name</th>
		      <th>Email</th>
		      <th>Contact</th>
		      <th>Registration no</th>
		      <th>Address</th>
		      <th>City</td>
		      <th>State</td>
		      <th>Locality</td>
		      <th>Pan Card</th>
		      <th>Property List Url </th>
		    </tr>
		  </thead>

		  <tbody>
		      <tr>
		        <td><%= @tenant.property.society.name  %></td>
		        <td><%= @tenant.property.society.email %></td>
		        <td><%= @tenant.property.society.contact  %></td>
		        <td><%= @tenant.property.society.registration_no  %></td>
		     	<td><%= @tenant.property.society.address  %></td>
		        <td><%= @tenant.property.society.city  %></td>
		        <td><%= @tenant.property.society.state_id %></td>
		        <td><%= @tenant.property.society.locality  %></td>
		        <td><%= @tenant.property.society.pancard  %></td>
		        <td><%= @tenant.property.society.property_list_url %></td> 
		      </tr>
		  </tbody>
		</table>
       
    	<% if @tenant.property.society.bank_details %>
	    	<h2> Society Bank Details </h2>
	        
	    	<table class='table table-bordered margin-top-0'>
		        <tr>
				        <th>IFSC</th>
				        <th>Account No</th>
				        <th>Account Type</th>
				        <th>Bank Name </th>
				        <th>ACC Type </th>
				        <th>Account Holder Name </th>
			    </tr>
			    <tr>
				        	<% @tenant.property.society.bank_details.each do |bank| %>
				        		<td><%= bank.ifsc %></td>
				        		<td><%= bank.acc_number %></td>
				        		<td><%= bank.account_type %></td>
				        		<td><%= bank.bank_name %></td>
				        		<td><%= bank.acc_type %></td>
				        		<td><%= bank.account_holder_name %></td>
				        	<% end %>
		        </tr>
	   		</table>
		<% end %>

	<% end %>

	<div>
		<%= form_tag('/admin/employees/tenant_verification/verify_tenant', type: :post, :class => '', :style => "") do |f| %>
			<%= hidden_field_tag 'tenant', @tenant.id %>
			<button type="submit" class="btn btn-primary ">Verify Tenant</button>
		<%end%>	
	</br>
       	<button type="button" class="btn btn-primary " data-toggle="modal"  data-target="#delivery-modal">
		 Report Issue
		</button>
	</div>


	<div class="modal fade" id="delivery-modal" role="dialog" tabindex="-1">
	  <div class="modal-dialog">
	    <div class="modal-content">
	    	<div class="modal-body">
	    		<input type='hidden' name='tenant' val='<% @tenant.id %>'/>
	    		<label>Report issue:</label>
	    		 <input type="text" name='report_issue' placeholder="Enter the Issue here"/>
	    	</div>
	    	<div class="modal-footer">
	        	<button type="submit" class="btn btn-default report_issue">Submit</button>
	      </div>
	    </div>

	  </div>
	</div>



<% else %>
	No Verification Pending
<% end %>

<script>

 $(document).ready(function (e) {
    $('.report_issue').on('click', function(e) {
      var tenant = $('input[name=tenant]').val()
      var message = $('input[name=report_issue]').val()
      e.preventDefault();
      e.stopPropagation();
      var postdata = {
      	tenant:tenant,
      	message:message	
      };
      $.ajax({
          type: 'post',
          url: '/admin/employees/tenant_verification/report_issue',
          data: postdata,

      }).done(function (data, textStatus, jqXHR) {
          $('.result').html(data);
      }).fail(function (jqXHR, textStatus, errorThrown) {
          setNotification('error', 'Unknown Error. Try Again');
      });
    })
 });
</script>


<style>
.margin-top-0{
	margin-top: 0!important;
}
</style>
