<%= simple_form_for(@bill) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :date_paid %>
    <%= f.input :category_id %>
    <%= f.input :amount %>
    <%= f.input :status_id %>
    <%= f.input :user_id %>
    <%= f.input :invoice_no %>
    <%= f.input :verified_by %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
