<p id="notice"><%= notice %></p>

<h1>Bills</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date paid</th>
      <th>Category</th>
      <th>Amount</th>
      <th>Status</th>
      <th>User</th>
      <th>Invoice no</th>
      <th>Verified by</th>
      <th>Property </th>
      <th>Final Amount</th>
      <th>Owner Payment Status </th>
      <th> Society Payment Status </th>
      <th>Remarks </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bills.each do |bill| %>
      <tr>
        <td><%= bill.id %></td>
        <td><%= bill.date_paid.strftime("%d-%m-%Y")  if bill.date_paid %></td>
        <td><%= bill.category_id %></td>
        <td><%= bill.amount %></td>
        <td><%= bill.status.name %></td>
        <td><%= bill.user_id %></td>
        <td><%= bill.invoice_no %></td>
        <td><%= bill.verified_by %></td>
        <td><%= bill.property_id %></td>
        <td><%= bill.final_amount %></td>
        <td><%= bill.owner_payment_status %></td>
        <td><%= bill.society_payment_status %></td>
        <td><%= bill.remarks %></td>
        <td><%= link_to 'Show', bill %></td>
        <td><%= link_to 'Edit', edit_bill_path(bill) %></td>
        <!-- <td><#%= link_to 'Destroy', bill, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br> 

<%= link_to 'New Bill', new_bill_path %>
<%= will_paginate @bills %>