<p id="notice"><%= notice %></p>

<p>
  <strong>Date paid:</strong>
  <%= @bill.date_paid %>
</p>

<p>
  <strong>Category:</strong>
  <%= @bill.category_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bill.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bill.status_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @bill.user_id %>
</p>

<p>
  <strong>Invoice no:</strong>
  <%= @bill.invoice_no %>
</p>

<p>
  <strong>Verified by:</strong>
  <%= @bill.verified_by %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
