<h3>Editing employee Roles <%=link_to "Cancel", @employee, :class => "btn btn-link" %></h3>

<div id="errors">
  <%= @errors %>
</div>

<%  unless @employee.nil? %>
  <h4>Current Roles</h4>
  <table class="table" style="width:400px;">
    <% @current_roles.each do |role| %>
    <tr>
      <%= form_tag({:controller => "/employees", :action => "remove_role"}, :method => "put", :class => "form-inline") do %>
      <td style="width:280px;">
        <%= label_tag(:role_id, role.name) %>
        <%= hidden_field_tag(:role_id, value = role.id) %>
      </td>
      <td>
        <%= submit_tag("Remove") %>
      </td>
      <% end %>
    </tr>
    <% end %>
  </table>
  <hr />
  <h4>Available Roles</h4>
  <table class="table" style="width:400px;">
    <% @available_roles.each do |role| %>
    <tr>
      <%= form_tag({:controller => "/employees", :action => "add_role"}, :method => "put", :class=> "form-inline") do %>
        <td style="width:280px;">
          <%= label_tag(:role_id, role.name) %>
          <%= hidden_field_tag(:role_id, value = role.id) %>
        </td>
        <td>
          <%= submit_tag("Add") %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </table>
<%  end %>