<h3>Listing Employees <%= link_to 'Add New', new_employee_path, :class => "btn btn-link" %></h3>
<table class="table table-bordered">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Contact no</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.name %></td>
    <td><%= employee.email %></td>
    <td><%= employee.mobile %></td>
    <td><%= Employee.find(employee.parent_id).email rescue nil %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Edit Role', '/admin/employees/'+employee.id.to_s+'/edit_role' %></td>
    <!-- <td><#%= link_to 'Destroy', employee, data: { confirm: 'Are you sure?'}, method: :delete %></td>   -->
  </tr>
<% end %>
</table>
<%#= will_paginate @employees %>

<style>
    a.btn.btn-link {
        background-color: #3D5AFE;
        padding: 10px;
        color: #fff;
    }
</style>