<%= simple_form_for(@users_profile) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :id_proof_url %>
    <%= f.input :pancard_url %>
    <%= f.input :invite_code %>
    <%= f.input :referred_by %>
    <%= f.input :referral_code %>
    <%= f.input :gender %>
    <%= f.input :dob %>
    <%= f.input :profile_img %>
    <%= f.input :city %>
    <%= f.input :state_id %>
    <%= f.input :last_login %>
    <%= f.input :last_login_ip %>
    <%= f.input :current_login %>
    <%= f.input :current_login_ip %>
    <%= f.input :last_pwd %>
    <%= f.input :last_pwd_update %>
    <%= f.input :last_pwd_update_ip %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
