<p id="notice"><%= notice %></p>

<h1>Users Profiles</h1>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th>First Name </th>
      <th>Last Name </th>
      <th>Id proof url</th>
      <th>Pancard url</th>
      <th>Invite code</th>
      <th>Referred by</th>
      <th>Referral code</th>
      <th>Gender</th>
      <th>Dob</th>
      <th>Profile img</th>
      <th>City</th>
      <th>State</th>
      <th>Last login</th>
      <th>Last login ip</th>
      <th>Current login</th>
      <th>Current login ip</th>
      <th>Last pwd</th> 
      <th>Last pwd update</th>
      <th>Last pwd update ip</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users_profiles.each do |users_profile| %>
      <tr>
        <td><%= users_profile.first_name %></td>
        <td><%= users_profile.last_name %></td>
        <td><%= users_profile.id_proof_url %></td>
        <td><%= users_profile.pancard_url %></td>
        <td><%= users_profile.invite_code %></td>
        <td><%= users_profile.referred_by %></td>
        <td><%= users_profile.referral_code %></td>
        <td><%= users_profile.gender %></td>
        <td><%= users_profile.dob %></td>
        <td><%= users_profile.profile_img %></td>
        <td><%= users_profile.city %></td>
        <td><%= users_profile.state_id %></td>
        <td><%= users_profile.last_login %></td>
        <td><%= users_profile.last_login_ip %></td>
        <td><%= users_profile.current_login %></td>
        <td><%= users_profile.current_login_ip %></td>
        <td><%= users_profile.last_pwd %></td>
        <td><%= users_profile.last_pwd_update %></td>
        <td><%= users_profile.last_pwd_update_ip %></td>
        <td><%= link_to 'Show', users_profile %></td>
        <td><%= link_to 'Edit', edit_users_profile_path(users_profile) %></td>
        <!-- <td><#%= link_to 'Destroy', users_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users Profile', new_users_profile_path %>
<%= will_paginate @users_profiles %>
