<p id="notice"><%= notice %></p>

<p>
  <strong>Id proof url:</strong>
  <%= @users_profile.id_proof_url %>
</p>

<p>
  <strong>Pancard url:</strong>
  <%= @users_profile.pancard_url %>
</p>

<p>
  <strong>Invite code:</strong>
  <%= @users_profile.invite_code %>
</p>

<p>
  <strong>Referred by:</strong>
  <%= @users_profile.referred_by %>
</p>

<p>
  <strong>Referral code:</strong>
  <%= @users_profile.referral_code %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @users_profile.gender %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @users_profile.dob %>
</p>

<p>
  <strong>Profile img:</strong>
  <%= @users_profile.profile_img %>
</p>

<p>
  <strong>City:</strong>
  <%= @users_profile.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @users_profile.state_id %>
</p>

<p>
  <strong>Last login:</strong>
  <%= @users_profile.last_login %>
</p>

<p>
  <strong>Last login ip:</strong>
  <%= @users_profile.last_login_ip %>
</p>

<p>
  <strong>Current login:</strong>
  <%= @users_profile.current_login %>
</p>

<p>
  <strong>Current login ip:</strong>
  <%= @users_profile.current_login_ip %>
</p>

<p>
  <strong>Last pwd:</strong>
  <%= @users_profile.last_pwd %>
</p>

<p>
  <strong>Last pwd update:</strong>
  <%= @users_profile.last_pwd_update %>
</p>

<p>
  <strong>Last pwd update ip:</strong>
  <%= @users_profile.last_pwd_update_ip %>
</p>

<%= link_to 'Edit', edit_users_profile_path(@users_profile) %> |
<%= link_to 'Back', users_profiles_path %>
