<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :added_by %>
    <%= f.number_field :added_by %>
  </div>

  <div class="field">
    <%= f.label :status_id %>
    <%= f.number_field :status_id %>
  </div>

  <div class="field">
    <%= f.label :property_type %>
    <%= f.text_field :property_type %>
  </div>

  <div class="field">
    <%= f.label :eb_account %>
    <%= f.text_field :eb_account %>
  </div>

  <div class="field">
    <%= f.label :owner_id %>
    <%= f.number_field :owner_id %>
  </div>

  <div class="field">
    <%= f.label :society_available %>
    <%= f.check_box :society_available %>
  </div>

  <div class="field">
    <%= f.label :rent %>
    <%= f.number_field :rent %>
  </div>

  <div class="field">
    <%= f.label :maintenance %>
    <%= f.number_field :maintenance %>
  </div>

  <div class="field">
    <%= f.label :total_amount %>
    <%= f.number_field :total_amount %>
  </div>

  <div class="field">
    <%= f.label :status_id %>
    <%= f.text_field :status_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
