<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @property.name %>
</p>

<p>
  <strong>Added by:</strong>
  <%= @property.added_by %>
</p>

<p>
  <strong>Status:</strong>
  <%= @property.status_id %>
</p>

<p>
  <strong>Property type:</strong>
  <%= @property.property_type %>
</p>

<p>
  <strong>Eb account:</strong>
  <%= @property.eb_account %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @property.owner_id %>
</p>

<p>
  <strong>Society available:</strong>
  <%= @property.society_available %>
</p>

<p>
  <strong>Rent:</strong>
  <%= @property.rent %>
</p>

<p>
  <strong>Maintenance:</strong>
  <%= @property.maintenance %>
</p>

<p>
  <strong>Total amount:</strong>
  <%= @property.total_amount %>
</p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
